.category_btn {
    border: 1px solid #F3F3F3;
    height: 40px;
    border-radius: 7px;
    padding: 0 25px 0 25px;
  }
  
  .card-title {
    font-size: 18px;
    font-weight: 600;
    color: #484848;
    margin: 0 !important;
  }
  
  .card-title-two {
    font-size: 17px;
    font-weight: 500;
    color: #484848;
    margin: 0 !important;
  }
  
  .container {
    margin-top: 20px;
  }
  
  .card {
    border-radius: 15px;
    overflow: hidden;
    padding: 8px !important;
  }
  
  .card-body {
    padding: 8px 0 0 0 !important;
  }
  
  .card-img-top {
    height: 260px;
    object-fit: contain;
    background: #F8F8F8;
  
  }
  
  .price {
    font-size: 14px;
    font-weight: 400;
    color: #6a6a6a;
    margin: 0 !important;
  }
  
  .rating {
    color: orange;
    font-weight: bold;
  }
  
  .star-rating {
    color: orange;
  }
  
  .text-danger {
    font-size: 0.8rem;
  }
  
  .heart-icon {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 85%;
    top: 18px;
    right: 25px;
  }
  
  .featured-icon {
    /* background-color: #FFFFFF; */
    padding: 0 5px 0 5px;
    border-radius: 4px;
  }
  
  .seller-chip {
    background-color: #F8F8F8;
    padding: 0 10px 0 10px;
    width: fit-content;
    border-radius: 4px;
  }
  
  .heart-icon i {
    color: #ff4d4d;
    font-size: 24px;
    transition: background-color 0.3s ease;
  }
  
  .fa-heart-o {
    color: #a09494 !important;
  }
  
  .fa-heart {
    color: #ff4d4d;
  }
  
  
  
  .view_btn {
    border-radius: 6px;
    padding: 0 20px 0 20px;
    height: 40px;
    border: 1px solid #242424;
    background: none;
  }
  
  .selected-category {
    background-color: black;
    color: white;
  }