<div class="sidebar">
  <nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
      <!-- Add icons to the links using the .nav-icon class
         with font-awesome or any other icon font library -->
      <li class="nav-item menu-open">
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a routerLink="/admin/dashboard" routerLinkActive="active" class="nav-link" (click)="onMenuItemClick()">
              <i class="far fa-circle nav-icon"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/admin/brands" routerLinkActive="active" class="nav-link" (click)="onMenuItemClick()">
              <i class="far fa-circle nav-icon"></i>
              <p>Brands</p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/admin/category" routerLinkActive="active" class="nav-link" (click)="onMenuItemClick()">
              <i class="far fa-circle nav-icon"></i>
              <p>Category</p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/admin/products" routerLinkActive="active" class="nav-link" (click)="onMenuItemClick()">
              <i class="far fa-circle nav-icon"></i>
              <p>Products</p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/admin/users" routerLinkActive="active" class="nav-link" (click)="onMenuItemClick()">
              <i class="far fa-circle nav-icon"></i>
              <p>Users</p>
            </a>
          </li>

          <li class="nav-item">
            <a routerLink="/admin/watchOfDay" routerLinkActive="active" class="nav-link" (click)="onMenuItemClick()">
              <i class="far fa-circle nav-icon"></i>
              <p>Watch of The Day</p>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
