.table {
    /* overflow-x: auto; */
    min-width: 100% !important;
    max-width: 100% !important;
    /* overflow-y: auto; */
  }
  
  @media only screen and (max-width: 660px) {
    .column {
      padding: 0 !important;
    }
  }
  @media only screen and (max-width: 550px) {
    .mt {
      min-width: 623px;
    }
  }
  @media only screen and (min-width: 1500px) {
    .table {
      overflow-x: hidden;
      overflow-y: hidden;
    }
  }
  @media only screen and (min-width: 2000px) {
    .table {
      overflow-x: hidden;
      overflow-y: hidden;
    }
  }
  .row {
    --bs-gutter-x: -0.5rem !important;
  }
  .iconColor {
    color: blue;
  }
  .iconColor1 {
    color: red;
  }
  td {
    vertical-align: initial !important;
  }
  
  @media only screen and (max-width: 1116px) {
    .card-class {
      width: fit-content !important;
    }
  }
  
  
  .custom-modal .mat-dialog-container {
    min-width: 900px !important;
    max-width: 1200px !important;
    width: 100%; /* Ensures it respects the `width` set in the dialog config */
  }
  