.save-btn{
    border-radius: 10px;
    border: none;
    height: 5vh;
    color: #fff;
    padding: 10px 40px;
    background: #03181c;
}

.cancel-btn{
    border-radius: 10px;
    border: none;
    height: 5vh;
    color: #03181c;
    padding: 10px 40px;
}