<header>
  <nav class="navbar navbar-expand-lg">
    <div
      class="d-flex global-main-wraper w-100"
      [ngClass]="{ 'rtl-reverse': isRtl }"
    >
      <div class="query w-100" [ngClass]="{ 'rtl-layout-reverse': isRtl }">
        <div [ngClass]="{ 'lag-logo-stl': isRtl }" class="logo">
          <a href="/">
            <img
              class="logo-img sidebar-logo-small-screen"
              routerLink="/"
              src="./assets/images/logo.svg"
              alt="Cronosuq"
              style="cursor: pointer"
            />
          </a>
        </div>
        <div
          class="header-content gap-4"
          *ngIf="isSearchForm"
          [ngClass]="{
            'position-absolute search-box-small-screen': isSmallScreen,
          }"
        ></div>
        <div class="header-contact header-contact-lg mat-menu-nav">
          <!-- Small Screen SearchForm Start Here  -->
          <img
            src="./assets/images/search-icon.svg"
            (click)="isShowSearchForm()"
            class="search-icon-for-mobile"
            style="cursor: pointer"
          />
          <div *ngIf="isShowSearchField" class="small-screen-search-Box">
            <form
              class="d-flex flex-grow-1 ms-3 mt-3"
              (ngSubmit)="onSearch(searchQuery)"
            >
              <div class="input-group">
                <input
                  #smallScreenSearchInput
                  [(ngModel)]="searchQuery"
                  class="form-control me-2"
                  type="search"
                  placeholder="Search "
                  aria-label="Search"
                  maxlength="50"
                  (click)="onSearchInputClick()"
                  (input)="onSearchInputChange($event)"
                />
                <button
                  class="search-btn"
                  (click)="onSearch(searchQuery)"
                  type="submit"
                >
                  Search
                </button>
              </div>
            </form>
          </div>
          <!-- Small Screen SearchForm End Here  -->
          <!-- </mat-menu> -->
          <mat-menu #profileMenu="matMenu" class="custom-profile-menu">
            <!-- <div class="route-groups" *ngIf="isUserLogin === 'true'" > -->
            <!-- <div class="d-flex gap-2 align-items-center"> -->
            <!-- <div class="">
                  <div *ngIf="userDetails?.main_image; else noImage">
                    <img
                      [src]="
                        apiUrl + userDetails?.main_image
                      "
                      alt="chat image"
                      class="img-thumbnail"
                      style="width: 32px; height: 32px;border-radius: 50%;"
                    />
                  </div>
                  <ng-template #noImage>
                    <div
                      class="img-thumbnail"
                      style="
                        width: 32px;
                        height: 32px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #ccc;
                        color: white;
                        font-size: 16px;
                        font-weight: 400;
                        border-radius: 50%;
                      "
                    >
                      {{ userDetails.name?.substring(0, 2) }}
                    </div>
                  </ng-template>
                </div>
                <div class="d-flex flex-column">
                  <p class="margin-0 font-weight-600 font-size-18 color-242424" *ngIf="userDetails?.name"> {{userDetails?.name}} </p>
                  <p class="margin-0 font-weight-600 font-size-12 color-909090" *ngIf="userDetails?.name"> {{userDetails?.name}} </p>
                </div> -->
            <!-- </div> -->
            <!-- </div> -->

            <div
              class="route-groups"
              *ngIf="showHideAdminUser === true"
              (click)="routeToAdminPannel()"
            >
              <div class="d-flex gap-2 align-items-center cursor-pointer">
                <img src="assets/images/black_profile.svg" alt="Profile" />
                <a
                  [disableRipple]="true"
                  mat-menu-item
                  class="custom-btn a-custom-style"
                >
                  {{ "header.admin_pannel" | translate }}
                </a>
              </div>
            </div>

            <div class="route-groups" *ngIf="isUserLogin === 'true'">
              <div
                routerLink="/myprofile"
                class="d-flex gap-2 align-items-center cursor-pointer"
              >
                <img src="assets/images/black_profile.svg" alt="Profile" />
                <a [disableRipple]="true" mat-menu-item class="a-custom-style">
                  {{ "my_Listing.Personal_Information" | translate }}
                </a>
              </div>
              <div
                class="d-flex gap-2 align-items-center cursor-pointer"
                routerLink="/chat"
              >
                <img src="assets/images/black_chat.svg" alt="Profile" />
                <a class="a-custom-style" [disableRipple]="true" mat-menu-item>
                  {{ "header.Chat" | translate }}
                </a>
              </div>
              <div
                (click)="goToFavorites()"
                class="d-flex gap-2 align-items-center cursor-pointer custom-border-bottom"
              >
                <img src="assets/images/black_favourites.svg" alt="Profile" />
                <a class="a-custom-style" [disableRipple]="true" mat-menu-item>
                  {{ "my_Listing.Favorites" | translate }}
                </a>
              </div>
              <!-- <div (click)="goToCart()"  class="d-flex gap-2 align-items-center cursor-pointer">
                <img src="assets/images/black_cartitems.svg" alt="Listing" />
                <a [disableRipple]="true" mat-menu-item class="a-custom-style"> 
                  {{ "header.cart" | translate }}
                </a>
              </div> -->
            </div>
            <div class="route-groups" *ngIf="isUserLogin === 'true'">
              <div
                (click)="goToMyListings()"
                class="d-flex gap-2 align-items-center cursor-pointer"
              >
                <img src="assets/images/black_buy_sell.svg" alt="Listing" />
                <a [disableRipple]="true" mat-menu-item class="a-custom-style">
                  {{ "header.myListings" | translate }}
                </a>
              </div>

              <div
                class="d-flex gap-2 align-items-center cursor-pointer"
                (click)="goToBuyOrders()"
              >
                <img src="assets/images/black_buy_sell.svg" alt="Listing" />
                <a [disableRipple]="true" mat-menu-item class="a-custom-style">
                  {{ "header.buyOrders" | translate }}
                </a>
              </div>
              <div
                class="d-flex gap-2 align-items-center cursor-pointer"
                (click)="goToSellOrders()"
              >
                <img src="assets/images/black_buy_sell.svg" alt="Listing" />
                <a [disableRipple]="true" mat-menu-item class="a-custom-style">
                  {{ "header.sellOrders" | translate }}
                </a>
              </div>
            </div>
            <div
              class="route-groups"
              style="border-bottom: none !important"
              *ngIf="isUserLogin === 'true'"
            >
              <div
                class="d-flex gap-2 align-items-center cursor-pointer"
                (click)="logout()"
              >
                <img src="assets/images/black_sign_out.svg" alt="Listing" />
                <button
                  [disableRipple]="true"
                  mat-menu-item
                  class="a-custom-style"
                >
                  {{ "header.Sign_Out" | translate }}
                </button>
              </div>
            </div>
            <!-- <a class="custom-btn" *ngIf="isUserLogin === 'true'"  mat-menu-item>
              {{ "header.Chat" | translate }}
            </a> -->
          </mat-menu>
          <img
            src="./assets/images/profile-icon.svg"
            alt="Profile"
            [matMenuTriggerFor]="profileMenu"
            style="cursor: pointer"
            *ngIf="isUserLogin === 'true'"
          />
          <button
            mat-menu-item
            *ngIf="isUserLogin === 'false' || isUserLogin === null"
            (click)="goToRegister()"
            class="login-hover-btn"
          >
            {{ "header.Login" | translate }}
          </button>
          <button
            *ngIf="selectedLang === 'en'"
            class="custom-en-ar-btn"
            (click)="useLang('ar')"
          >
            EN -
            <span
              [ngStyle]="{
                color: selectedLang == 'en' ? '#6A6A6A' : '#242424',
              }"
            >
              AR
            </span>
          </button>
          <button
            *ngIf="selectedLang === 'ar'"
            class="custom-en-ar-btn"
            (click)="useLang('en')"
          >
            <span
              [ngStyle]="{
                color: selectedLang == 'ar' ? '#6A6A6A' : '#242424',
              }"
            >
              En
            </span>
            - AR
          </button>
        </div>
      </div>

      <button
        class="navbar-toggler"
        type="button"
        (click)="toggleNavbar()"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <svg
          class="navbar-toggler-icon"
          xmlns="http://www.w3.org/2000/svg"
          clip-rule="evenodd"
          fill-rule="evenodd"
          stroke-linejoin="round"
          stroke-miterlimit="2"
          viewBox="0 0 24 24"
        >
          <path
            d="m21 15.75c0-.414-.336-.75-.75-.75h-16.5c-.414 0-.75.336-.75.75s.336.75.75.75h16.5c.414 0 .75-.336.75-.75zm0-4c0-.414-.336-.75-.75-.75h-16.5c-.414 0-.75.336-.75.75s.336.75.75.75h16.5c.414 0 .75-.336.75-.75zm0-4c0-.414-.336-.75-.75-.75h-16.5c-.414 0-.75.336-.75.75s.336.75.75.75h16.5c.414 0 .75-.336.75-.75z"
            fill-rule="nonzero"
          />
        </svg>
      </button>

      <div
        class="nav-overlay"
        [class.active]="isNavbarOpen"
        (click)="closeNavbar()"
      ></div>
      <div
        class="collapse navbar-collapse justify-content-between"
        id="navbarSupportedContent"
        [ngClass]="{ 'rtl-layout-reverse': isRtl }"
        [class.show]="isNavbarOpen"
      >
        <a href="/">
          <img
            class="logo-img sidebar-logo"
            routerLink="/"
            src="./assets/images/logo.svg"
            alt="Cronosuq"
            style="cursor: pointer"
          />
        </a>
        <!-- For large screen Routes of Center label start here -->
        <div
          class="header-content gap-4"
          *ngIf="!(isSearchForm || isShowSearchField) || isSmallScreenScreen"
          [ngClass]="{ 'rtl-layout-header-reverse': isRtl }"
        >
          <a routerLink="/newArrivals" class="custom-btn position-relative">
            {{ "header.new_arrivals" | translate }}
            <span class="notification-dot" *ngIf="isNewArrivalsProduct"></span>
          </a>
          <a class="custom-btn" routerLink="/product-list">
            {{ "header.buy_watch" | translate }}
          </a>
          <a class="custom-btn" routerLink="/new-product">
            {{ "header.sell_watch" | translate }}
          </a>
          <!-- <a class="custom-btn" routerLink="/accessories/home">
            {{ "header.accessories" | translate }}
          </a> -->
        </div>

        <div
          class="header-content"
          *ngIf="isShowSearchField && !isSmallScreenScreen"
        >
          <div class="large-screen-search-Box">
            <form
              class="d-flex flex-grow-1 ms-3"
              (ngSubmit)="onSearch(searchQuery)"
            >
              <div class="input-group">
                <input
                  #largeScreenSearchInput
                  [(ngModel)]="searchQuery"
                  class="form-control me-2"
                  type="search"
                  placeholder="Search"
                  aria-label="Search"
                  maxlength="50"
                  (click)="onSearchInputClick()"
                  (input)="onSearchInputChange($event)"
                />
                <button
                  class="search-btn"
                  (click)="onSearch(searchQuery)"
                  type="submit"
                >
                  Search
                </button>
              </div>
            </form>
          </div>
        </div>
        <!-- For large screen Routes of Center label End here -->
        <div
          class="header-content gap-4"
          *ngIf="isSearchForm"
          [ngClass]="{
            'position-absolute search-box-small-screen': isSmallScreen,
          }"
        ></div>
        <div class="header-contact sidebar-acions gap-4">
          <!-- Search for Large Screen Start Here -->
          <img
            src="./assets/images/search-icon.svg"
            (click)="isShowSearchForm()"
            class="search-icon-for-mobile"
            style="cursor: pointer"
          />
          <!-- Search for Large Screen End Here -->
          <mat-menu #profileMenu="matMenu" class="custom-profile-menu">
            <button
              mat-menu-item
              *ngIf="isUserLogin === 'false' || isUserLogin === null"
              (click)="goToRegister()"
            >
              {{ "header.Login" | translate }}
            </button>
            <button
              mat-menu-item
              *ngIf="isUserLogin === 'true'"
              (click)="logout()"
            >
              {{ "header.Logout" | translate }}
            </button>
            <a
              mat-menu-item
              *ngIf="isUserLogin === 'true'"
              routerLink="/myprofile"
            >
              {{ "header.settings" | translate }}
            </a>
          </mat-menu>

          <!-- <img
              src="../../../../assets/images/white_olar_bag-smile-linear.svg"
              style="cursor: pointer"
              (click)="openCart()"
          /> -->

          <img
            src="./assets/images/profile-icon.svg"
            alt="Profile"
            [matMenuTriggerFor]="profileMenu"
            style="cursor: pointer"
            *ngIf="isUserLogin === 'true'"
          />

          <button
            mat-menu-item
            *ngIf="isUserLogin === 'false' || isUserLogin === null"
            (click)="goToRegister()"
            class="login-hover-btn"
          >
            {{ "header.Login" | translate }}
          </button>

          <button
            *ngIf="selectedLang === 'en'"
            class="custom-en-ar-btn"
            (click)="useLang('ar')"
          >
            EN -
            <span
              [ngStyle]="{
                color: selectedLang == 'en' ? '#6A6A6A' : '#242424',
              }"
            >
              AR
            </span>
          </button>
          <button
            *ngIf="selectedLang === 'ar'"
            class="custom-en-ar-btn"
            (click)="useLang('en')"
          >
            <span
              [ngStyle]="{
                color: selectedLang == 'ar' ? '#6A6A6A' : '#242424',
              }"
            >
              En
            </span>
            - AR
          </button>
        </div>
      </div>
    </div>
  </nav>
</header>
