<header>
  <nav class="navbar navbar-expand-lg">
    <div
      class="d-flex global-main-wraper w-100"
      [ngClass]="{ 'rtl-reverse': isRtl }"
    >
      <button
        class="navbar-toggler"
        type="button"
        (click)="toggleNavbar()"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <svg
          class="navbar-toggler-icon"
          xmlns="http://www.w3.org/2000/svg"
          clip-rule="evenodd"
          fill-rule="evenodd"
          stroke-linejoin="round"
          stroke-miterlimit="2"
          viewBox="0 0 24 24"
        >
          <path
            d="m21 15.75c0-.414-.336-.75-.75-.75h-16.5c-.414 0-.75.336-.75.75s.336.75.75.75h16.5c.414 0 .75-.336.75-.75zm0-4c0-.414-.336-.75-.75-.75h-16.5c-.414 0-.75.336-.75.75s.336.75.75.75h16.5c.414 0 .75-.336.75-.75zm0-4c0-.414-.336-.75-.75-.75h-16.5c-.414 0-.75.336-.75.75s.336.75.75.75h16.5c.414 0 .75-.336.75-.75z"
            fill-rule="nonzero"
          />
        </svg>
      </button>
      <div class="query w-100" [ngClass]="{ 'rtl-layout-reverse': isRtl }">
        <div [ngClass]="{ 'lag-logo-stl': isRtl }" class="logo">
          <img
            class="logo-img"
            routerLink="/"
            src="./assets/images/logo.png"
            alt="Cronosuq"
            style="cursor: pointer"
          />
        </div>
        <div
          class="header-content gap-4"
          *ngIf="isSearchForm"
          [ngClass]="{
            'position-absolute search-box-small-screen': isSmallScreen
          }"
        >
        
        </div>
        <div class="header-contact header-contact-lg gap-4 mat-menu-nav">
           <img
            src="./assets/images/search-icon.png"
            [matMenuTriggerFor]="search3Menu"
            #search3MenuTrigger="matMenuTrigger"
            style="cursor: pointer"
          />
          
          <mat-menu #search3Menu="matMenu"  class="notificationsMenu">
            <form class="d-flex flex-grow-1 ms-3 mat-menu-nav" (ngSubmit)="onSearch(searchQuery)" (click)="$event.stopPropagation()">
              <input
                [(ngModel)]="searchQuery"
                (ngModelChange)="onSearchChange()"
                class="form-control me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
            </form>
          </mat-menu>
          <mat-menu #profileMenu="matMenu">
            <button
              mat-menu-item
              *ngIf="isUserLogin === 'false' || isUserLogin === null"
              (click)="goToRegister()"
            >
              {{ "header.Login" | translate }}
            </button>

            <p style="padding: 10px 10px 0 10px;" *ngIf="userDetails?.name && selectedLang == 'en'">{{ "header.wellCome" | translate }} {{userDetails.name}}</p>

            <p style="padding: 10px 10px 0 10px;" *ngIf="userDetails?.name && selectedLang == 'ar'"> {{userDetails.name}} {{ "header.wellCome" | translate }}</p>

            <a routerLink="/myListing"  mat-menu-item  *ngIf="isUserLogin === 'true'"> 
              {{ "header.settings" | translate }}
            </a>
            <button
              mat-menu-item
              *ngIf="isUserLogin === 'true'"
              (click)="logout()"
            >
              {{ "header.Logout" | translate }}
            </button>
          </mat-menu>

          <img
            src="./assets/images/profile-icon.png"
            alt="Profile"
            [matMenuTriggerFor]="profileMenu"
            style="cursor: pointer"
          />

          <button
            *ngIf="selectedLang === 'en'"
            class="custom-btn"
            (click)="useLang('ar')"
          >
            ARB
          </button>
          <button
            *ngIf="selectedLang === 'ar'"
            class="custom-btn"
            (click)="useLang('en')"
          >
            EN
          </button>
        </div>
      </div>
      <div
        class="nav-overlay"
        [class.active]="isNavbarOpen"
        (click)="closeNavbar()"
      ></div>
      <div
        class="collapse navbar-collapse justify-content-between"
        id="navbarSupportedContent"
        [ngClass]="{ 'rtl-layout-reverse': isRtl }"
        [class.show]="isNavbarOpen"
      >
        <img
          class="logo-img sidebar-logo"
          routerLink="/"
          src="./assets/images/logo.png"
          alt="Cronosuq"
          style="cursor: pointer"
        />
        <div class="header-content gap-4" *ngIf="!isSearchForm">
          <a routerLink="/newArrivals" class="custom-btn position-relative">
            {{ "header.new_arrivals" | translate }}
            <span
              class="notification-dot"
              *ngIf="isUserLogin === 'true'"
            ></span>
          </a>
          <a class="custom-btn" routerLink="/product-list">
            {{ "header.buy_watch" | translate }}
          </a>

          <!-- <a class="custom-btn" *ngIf="isUserLogin === 'false' || isUserLogin == null" (click)="routeToNewProduct()">
            {{ "header.sell_watch" | translate }}
          </a>
          <a routerLink="/new-product" class="custom-btn" *ngIf="isUserLogin === 'true'">
            {{ "header.sell_watch" | translate }}
          </a> -->
          <a
            class="custom-btn" 
            routerLink="/new-product"
          >
            {{ "header.sell_watch" | translate }}
          </a>

          <a
            class="custom-btn"
            *ngIf="showHideAdminUser === true"
            routerLink="/admin/dashboard"
          >
            {{ "header.admin_pannel" | translate }}
          </a>
          <!-- <button style="background: none; border: none; font-size: 16px" *ngIf="isUserLogin === 'false' || isUserLogin === null && isSmallScreen" (click)="goToRegister()">
            {{ "header.Login" | translate }}
          </button> -->
          <a class="custom-btn" *ngIf="isUserLogin === 'true'" routerLink="/chat">
            {{ "header.Chat" | translate }}
          </a>
        </div>
        <div
          class="header-content gap-4"
          *ngIf="isSearchForm"
          [ngClass]="{
            'position-absolute search-box-small-screen': isSmallScreen
          }"
        >
       
        </div>
        <div class="header-contact sidebar-acions gap-4">
          <img
            src="./assets/images/search-icon.png"
            [matMenuTriggerFor]="search2Menu"
            #search2MenuTrigger="matMenuTrigger"
            style="cursor: pointer"
          />

          <mat-menu #search2Menu="matMenu">
            <form class="d-flex flex-grow-1 ms-3" (ngSubmit)="onSearch(searchQuery)" (click)="$event.stopPropagation()">
              <input
                [(ngModel)]="searchQuery"
                (ngModelChange)="onSearchChange()"
                class="form-control me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
            </form>
          </mat-menu>
          <mat-menu #profileMenu="matMenu">
            <button
              mat-menu-item
              *ngIf="isUserLogin === 'false' || isUserLogin === null"
              (click)="goToRegister()"
            >
              {{ "header.Login" | translate }}
            </button>
            <button
              mat-menu-item
              *ngIf="isUserLogin === 'true'"
              (click)="logout()"
            >
              {{ "header.Logout" | translate }}
            </button>
            <a  mat-menu-item  *ngIf="isUserLogin === 'true'" routerLink="/myListing"> 
              {{ "header.settings" | translate }}
            </a>
          </mat-menu>

          <img
            src="./assets/images/profile-icon.png"
            alt="Profile"
            [matMenuTriggerFor]="profileMenu"
            style="cursor: pointer"
          />

          <button
            *ngIf="selectedLang === 'en'"
            class="custom-btn"
            (click)="useLang('ar')"
          >
            ARB
          </button>
          <button
            *ngIf="selectedLang === 'ar'"
            class="custom-btn"
            (click)="useLang('en')"
          >
            EN
          </button>
        </div>
      </div>
    </div>
  </nav>
</header>