.header-div {
  height: 100px;
  display: flex;
}

.logo {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-img {
  height: 50px;
  width: 120px;
}

.header-content {
  height: 100%;
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.header-contact {
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
}

.custom-btn {
  border: none;
  background: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.68px;
  color: #030319;
}

.sidenav-container {

}

.sidenav {
  width: 250px;
  background-color: #f8f9fa; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 20px 10px;
}

.drawer-btn {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  color: #030319;
  border: none;
  text-align: left;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.drawer-btn:hover {
  background-color: #23233a;
  color: #f8f9fa;
}

.menu-icon {
  font-size: 30px;
  color: #030319;
}


@media (max-width:1500px) {
  .header-contact{
    display: flex;
    justify-content: end;
    width: inherit;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

select {
  
}


.rtl-layout .header-div {
  flex-direction: row-reverse;
  padding: 0 45px 0 50px;
}

.rtl-layout .header-content {
  justify-content: end;
}

.rtl-layout .logo {
  justify-content: flex-end; 
}

.rtl-layout .header-contact {
  justify-content: flex-start; 
}

.rtl-layout .sidenav {
  left: 0;
  right: auto;
}

.rtl-layout .menu-icon {
  margin-left: -188px;
}