.marquee-container {
  overflow: hidden;
  width: 100%;
}

.marquee-track {
  display: flex;
  align-items: center;
  width: max-content;
  will-change: transform;

}

.slide {
  width: auto !important;
  margin: 10px 35px 10px 35px !important;
  flex: 0 0 auto;
  transition: transform 0.3s ease;
}

.slide img {
  width: 100%;
  height: auto;
}
