<div class="container-fluid main-wrapper mt-5">
  <div class="row">
    <!-- Left Sidebar: Contacts list -->
    <div class="col-md-4">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h3>Chats</h3>
        <button (click)="unreadFilter()" class="unread-btn">Unread Filter</button>
      </div>
      <div class="d-flex justify-content-between align-items-center mb-3">
        <button
          (click)="activeOption('All')"
          class="action-btn"
          [ngClass]="
            isActive === 'All'
              ? 'active-bottom-border'
              : 'deactive-bottom-border'
          "
        >
          All
        </button>
        <button
          (click)="activeOption('Buy')"
          class="action-btn"
          [ngClass]="
            isActive === 'Buy'
              ? 'active-bottom-border'
              : 'deactive-bottom-border'
          "
        >
          Buy
        </button>
        <button
          (click)="activeOption('Sell')"
          class="action-btn"
          [ngClass]="
            isActive === 'Sell'
              ? 'active-bottom-border'
              : 'deactive-bottom-border'
          "
        >
          Sell
        </button>
      </div>
      <div class="list-group">
        <div *ngIf="noMessageDetails" class="list-group-item d-flex justify-content-between align-items-start">
          <div *ngIf="!shouldHideDiv()" style="cursor: pointer;width: 100%;" class="d-flex">
            <div *ngIf="noMessageDetails; else noImage">
              <img
              [src]="'https://api.chronosouq.com/' + productDeatils.main_image"
                alt="chat image"
                class="img-thumbnail"
                style="width: 90px; height: 90px"
              />
            </div>
            <ng-template #noImage>
              <div
                class="img-thumbnail"
                style="width: 90px; height: 90px; display: flex; align-items: center; justify-content: center; background-color: #ccc; color: white; font-size: 20px;"
              >
                {{ noMessageDetails.name?.substring(0, 2) }}
              </div>
            </ng-template>
            
            <div class="ms-3 d-flex flex-wrap" style="width: 75%;">
              <div class="d-flex flex-wrap justify-content-between w-100">
                <p
                  *ngIf="noMessageDetails.unread_count"
                  [ngClass]="
                    noMessageDetails.unread_count > 0 ? 'active-name-time' : 'deactive-name-time'
                  "
                >
                  {{ productDeatils.name || 'N/A' }}  {{ productDeatils.condition || 'N/A' }}
                </p>
                <p
                *ngIf="noMessageDetails.unread_count"
                  [ngClass]="
                    noMessageDetails.unread_count > 0 ? 'active-name-time' : 'deactive-name-time'
                  "
                >
                {{ formatTime(noMessageDetails.latest_chat_time) }}
                </p>
              </div>
              <div class="d-flex flex-wrap justify-content-between w-100">
                <div class="d-flex flex-column">
                  <p class="mb-1 font-size-16 font-weight-500 color-242424">
                    {{ productDeatils.name || 'N/A' }}   {{ productDeatils.condition || 'N/A' }}
                  </p>
                  <p *ngIf="noMessageDetails.latest_message_preview" class="font-size-14 font-weight-400 color-242424">
                    {{ noMessageDetails.latest_message_preview.length > 45 ? (noMessageDetails.latest_message_preview | slice:0:45) + '...' : noMessageDetails.latest_message_preview }}
                  </p>
                </div>
                <span *ngIf="noMessageDetails.unread_count > 0" class="badge-styl">
                  {{ noMessageDetails.unread_count }}
                </span>
              </div>
              
            </div>
          </div>
        </div>


        <div
          *ngFor="let chat of chats"
          class="list-group-item d-flex justify-content-between align-items-start"
        >
          <div (click)="getMesageDetails(chat)" style="cursor: pointer;width: 100%;" class="d-flex">
            <div *ngIf="chat.product.main_image; else noImage">
              <img
              [src]="'https://api.chronosouq.com/' + chat.product.main_image"
                alt="chat image"
                class="img-thumbnail"
                style="width: 90px; height: 90px"
              />
            </div>
            <ng-template #noImage>
              <div
                class="img-thumbnail"
                style="width: 90px; height: 90px; display: flex; align-items: center; justify-content: center; background-color: #ccc; color: white; font-size: 20px;"
              >
                {{ noImageName?.substring(0, 2) }}
              </div>
            </ng-template>
            
            <div class="ms-3 d-flex flex-wrap" style="width: 75%;">
              <div class="d-flex flex-wrap justify-content-between w-100">
                <p
                  [ngClass]="
                    chat.unread_count > 0 ? 'active-name-time' : 'deactive-name-time'
                  "
                >
                  {{ chat.product.created_by.name || 'N/A' }}
                </p>
                <p
                  [ngClass]="
                    chat.unread_count > 0 ? 'active-name-time' : 'deactive-name-time'
                  "
                >
                {{ formatTime(chat.latest_chat_time) }}
                </p>
              </div>
              <div class="d-flex flex-wrap justify-content-between w-100">
                <div class="d-flex flex-column">
                  <p class="mb-1 font-size-16 font-weight-500 color-242424">
                    {{ chat.product.name || 'N/A' }} {{ chat.product.condition || 'N/A' }}
                  </p>
                  <p class="font-size-14 font-weight-400 color-242424">
                    {{ chat.latest_message_preview.length > 45 ? (chat.latest_message_preview | slice:0:45) + '...' : chat.latest_message_preview }}
                  </p>
                </div>
                <span *ngIf="chat.unread_count > 0" class="badge-styl">
                  {{ chat.unread_count }}
                </span>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Right Section: Chat window -->
    <div class="col-md-8">
      <div class="card">

        <!-- // dealer deatail of top first row -->
        <div
          class="card-header d-flex flex-wrap justify-content-between"
          style="background: #f9fafb"
          *ngIf="getProductDetails"
        >
          <div *ngIf="getProductDetails" class="d-flex" style="width: 95%">
            <div class="">
              <ng-container *ngIf="getProductDetails.created_by.user_image; else fallbackImage">
                <img
                  [src]="'https://api.chronosouq.com/' + getProductDetails.created_by.user_image"
                  alt="chat image"
                  class="img-thumbnail"
                  style="width: 48px; height: 48px; border-radius: 30px"
                />
              </ng-container>
            
              <ng-template #fallbackImage>
                <div
                  class="img-thumbnail"
                  style="width: 48px; height: 48px; border-radius: 30px; display: flex; align-items: center; justify-content: center; background-color: #ccc; color: white; font-size: 20px;"
                >
                  {{ getProductDetails.created_by.name?.substring(0, 2) }}
                </div>
              </ng-template>
            </div>
            
            <div class="d-flex flex-column mx-2">
              <p class="font-size-20 font-wight-600 color-242424 margin-0">
                {{getProductDetails.created_by.name}}
              </p>
              <p class="font-size-16 font-wight-400 color-909090 margin-0">
                {{getProductDetails.created_by.city}}
              </p>
            </div>
          </div>
          <div>
            <p>...</p>
          </div>
        </div>

        <!-- // Product deatail of Second first row -->
        <div
          class="card-header d-flex flex-wrap justify-content-between card-header-bottom"
          *ngIf="getProductDetails"
        >
          <div class="d-flex" style="width: 84%">
            <div class="">
              <ng-container *ngIf="getProductDetails.main_image; else fallbackImage">
                <img
                  [src]="'https://api.chronosouq.com/' + getProductDetails.main_image"
                  alt="chat image"
                  class="img-thumbnail"
                  style="width: 48px; height: 48px; border-radius: 30px"
                />
              </ng-container>
            
              <ng-template #fallbackImage>
                <div
                  class="img-thumbnail"
                  style="width: 48px; height: 48px; border-radius: 30px; display: flex; align-items: center; justify-content: center; background-color: #ccc; color: white; font-size: 20px;"
                >
                  {{ getProductDetails.name?.substring(0, 2) }}
                </div>
              </ng-template>
            </div>
            
            <div class="d-flex flex-column mx-2">
              <p class="font-size-20 font-wight-600 color-242424 margin-0">
                {{getProductDetails.name}}   {{getProductDetails.condition}}
                <span
                  class="font-size-16 font-wight-400 color-909090 margin-0 mx-2"
                  >{{getProductDetails.serial_no}}</span
                >
              </p>
              <p class="font-size-16 font-wight-400 color-909090 margin-0">
                {{getProductDetails.currency}} {{getProductDetails.price}}
              </p>
            </div>
          </div>
          <div>
            <button (click)="viewAdd()" class="view-add-btn">View Add</button>
          </div>
        </div>


        <!-- // Message deatail -->
        <div class="card-body" style="height: 480px; overflow-y: scroll">
          <div *ngIf="messages">
            <div *ngFor="let message of reversedMessages">
              <div
                class="message"
                [class.received]="message.direction === 'STB'"
                [class.sent]="message.direction === 'BTS'"
              >
                <div class="message-content">
                  <p>{{ message.message }}</p>
                  <p *ngIf="isShowMarkAsSold && isBuyerUser && message.action_type === 'mark_sold'">Seller has change Status of Product as 'Mark as Sold'</p>

                  <div class="d-flex gap-2" *ngIf="message.attachments">
                    <img *ngIf="!isArray(message.attachments)" 
                         [src]="'https://api.chronosouq.com/' + message.attachments" 
                         class="attachment-stl"
                         alt="Attachment">
                
                    <div *ngIf="isArray(message.attachments)">
                      <img *ngFor="let attachment of message.attachments" 
                           [src]="'https://api.chronosouq.com/' + attachment" 
                           class="attachment-stl"
                           alt="Attachment">
                    </div>
                  </div>
                  
                  <small>{{ message.created_at | date : "shortTime" }}</small>
                </div>
              </div>
            </div>

            <div *ngIf="isCustomOffer && isOfferShowToUserandDealer" class="col-md-8">
                <div class="d-flex flex-column card p-2">
                  <div style="background: #F9FAFB;" class="d-flex align-items-baseline">
                    <ng-container *ngIf="customOfferDetails.sender.img; else showInitials">
                      <img [src]="'https://api.chronosouq.com/' + customOfferDetails.sender.img" alt="IMG"/>
                    </ng-container>
                    <ng-template #showInitials>
                      <div class="initials">
                        {{ customOfferDetails.sender.name | slice:0:2 }}
                      </div>
                    </ng-template>
                    <p class="mx-2">Custom Offer</p>
                  </div>
                  
                  <div class="d-flex justify-content-between align-items-center">
                    <p>Listing ID</p>
                    <p>{{customOfferDetails.product.serial_no}}</p>
                  </div>
                  <div style="border-bottom: 1px solid #F2F5F8;" class="d-flex justify-content-between align-items-center">
                    <p>Add Price</p>
                    <p>{{customOfferDetails.product.price}}</p>
                  </div>
                  <div style="border-bottom: 1px solid #F2F5F8;" class="d-flex justify-content-between align-items-center">
                    <p>Custom Offer</p>
                    <p>{{customOfferDetails.offer_price}}</p>
                  </div>
                  <div class="d-flex justify-content-center mt-3 gap-5">
                    <button *ngIf="isBuyerUser && isShowCancelOffertoBuyer"  (click)="cancelOfferStatus()" style="border: none;background: none;font-size: 14px;font-weight: 600;color: #909090;border-right: 1px solid #E6ECF1">Cancel Offer</button>
                    <button *ngIf="!isBuyerUser"  (click)="editOffer(customOfferDetails)" style="border: none;background: none;font-size: 14px;font-weight: 600;color: #909090;border-right: 1px solid #E6ECF1">Edit Offer</button>
                    <button *ngIf="!isOfferStatusAccepted && isBuyerUser"  (click)="acceptOffer()" style="border: none;background: none;font-size: 14px;font-weight: 600;color: #242424;">Accept Offer</button>

                    <button *ngIf="isBuyerUser && isOfferStatusAccepted" style="border: none;background: none;font-size: 14px;font-weight: 600;color: #242424;" (click)="makePayment()">Make Payment</button>

                  </div>
                </div>
            </div>


            <div *ngIf="!isCustomOffer && isShowBuyNowOffer" class="col-md-8">
              <div *ngIf="isBuyerUser && !isBuyNowFromChatCheck" class="d-flex flex-column card p-2">
                <div style="border-bottom: 1px solid #F2F5F8;" class="d-flex justify-content-between align-items-center">
                  <p>Satisfied with the response? Close your deal now with the seller</p>
                </div>
                <div class="d-flex justify-content-center mt-3 gap-5">
                  <button style="border: none;background: none;font-size: 14px;font-weight: 600;color: #909090;border-right: 1px solid #E6ECF1" (click)="createOfferFromChat()">Create Offer</button>
                  <button style="border: none;background: none;font-size: 14px;font-weight: 600;color: #242424;" (click)="buyNowFromChat()">Buy Now</button>
                </div>
              </div>

              <div *ngIf="!isBuyerUser && isBuyNowFromChatCheck"  class="d-flex flex-column card p-2">
                <div style="border-bottom: 1px solid #F2F5F8;" class="d-flex justify-content-between align-items-center">
                  <p>Buyer Initiated the order, please confirm watch availability and add shipping charges</p>
                </div>
                <div class="d-flex justify-content-center mt-3 gap-5">
                  <button style="border: none;background: none;font-size: 14px;font-weight: 600;color: #909090;border-right: 1px solid #E6ECF1" (click)="MarkAsSoldfromChat()">Mark as Sold</button>
                  <button style="border: none;background: none;font-size: 14px;font-weight: 600;color: #242424;" (click)="addShippingFromChat()">Add Shipping</button>
                </div>
              </div>
          </div>

          <div *ngIf="isShowPaymentMethod && isBuyerUser" class="col-md-8">
            <!-- // when buyer satisfied with product and dealer and 'Buy Now' and after 'Buy Now' dealer add shipping price then this section show message to buyer 'Add Payment' or 'Cancel Order' -->

            <div class="d-flex flex-column card p-2">
              <div style="border-bottom: 1px solid #F2F5F8;" class="d-flex justify-content-between align-items-center">
                <p>Seller has confirmed the order. Please make your payment to complete the order</p>
              </div>
              <div class="d-flex justify-content-center mt-3 gap-5">
                <button style="border: none;background: none;font-size: 14px;font-weight: 600;color: #909090;border-right: 1px solid #E6ECF1" (click)="cancelOffer()">Cancel Order</button>
                <button style="border: none;background: none;font-size: 14px;font-weight: 600;color: #242424;" (click)="makePayment()">Make Payment</button>
              </div>
            </div>
          </div>


          
            <div *ngIf="isBuyNow" class="d-flex justify-content-center">
              <div class="card" style="width: 60%;background: #F9FAFB;">
                <div class="text-center">
                  <p class="font-size-14 font-weight-400 color-242424" 
                    style="border-bottom: 1px solid #E6ECF1;margin: 10px 5px 10px 5px;padding-bottom: 10px;">
                    Satisfied with the response? Close your deal now with the seller
                  </p>
                </div>
                <div class="d-flex justify-content-center gap-5">
                  <button (click)="cancelOffer()" *ngIf="isCancelOfferBuyer" style="border: none;background: none;font-size: 14px;font-weight: 600;color: #909090;border-right: 1px solid #E6ECF1" >Cancel Offer</button>
                  <button (click)="customOffer()" *ngIf="!isCancelOfferBuyer" style="border: none;background: none;font-size: 14px;font-weight: 600;color: #909090;border-right: 1px solid #E6ECF1">Create Offer</button>
                  <button (click)="buyNowProduct()" style="border: none;background: none;font-size: 14px;font-weight: 600;color: #242424;">Buy Now</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        
        
        <div class="card-footer">
            <div style="width: 4%;" class="d-flex">
                <button
                style="width: 0; height: 0; padding: 0"
                mat-icon-button
                [matMenuTriggerFor]="menu"
                (click)="$event.stopPropagation()"
                >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-plus"
                    viewBox="0 0 16 16"
                >
                    <path d="M8 7V1h1v6h6v1H9v6H8V8H2V7h6z" />
                </svg>
                </button>
                <mat-menu #menu="matMenu">
                <!-- <button *ngIf="!isBuyerUser" (click)="customOffer()" mat-menu-item>
                    <span>Custom offer</span>
                </button> -->
                <!-- <button *ngIf="isBuyerUser" (click)="buyNow()" mat-menu-item>
                  <span>Buy Now</span>
                </button> -->
                <button (click)="uploadImages()" mat-menu-item>
                    <span>Upload Images</span>
                </button>
                </mat-menu>
                <input 
                  #fileInput 
                  type="file" 
                  accept="image/*" 
                  (change)="onFileSelected($event)" 
                  style="display:none"
                  multiple
                >
            </div>
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              [(ngModel)]="newMessage"
              (keyup.enter)="sendMessage()"
              placeholder="Type a message..."
            />
            <button class="btn btn-dark" (click)="sendMessage()">
              Send
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
