<div class="login-container">
  <div class="login-card mb-3" style="min-height: 450px;padding-bottom: 40px;"> 
    <p class="font-size-28 font-wight-600 margin-0 color-242424">
        {{ "register.changing_pass" | translate }}
      </p>
    <p class="font-size-14 font-wight-400 margin-0 color-242424">
      {{ "register.changin_pass_para" | translate }}
    </p>
   

    <div
    *ngIf="!isSendEmail"
      class="mt-1"
      [dir]="translateService.currentLang === 'en' ? 'ltr' : 'rtl'"
    >
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>{{ "register.email" | translate }}</mat-label>
        <input
          type="email"
          matInput
          placeholder="{{ 'register.enter_email' | translate }}"
          required
          [(ngModel)]="userEmail"
        />
      </mat-form-field>
    </div>

    <button *ngIf="!isSendEmail" class="login-btn mt-1" type="submit" (click)="sendEmail()">
      {{ "register.changin_pass_btn" | translate }}
    </button>


    <!-- Reset password Form  -->

    <form *ngIf="isSendEmail" [formGroup]="resetPasswordForm" class="mt-3">
        <div
          class="mt-1"
          [dir]="translateService.currentLang === 'en' ? 'ltr' : 'rtl'"
        >
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>{{ "register.email" | translate }}</mat-label>
            <input
              type="email"
              matInput
              placeholder="{{ 'register.enter_email' | translate }}"
              required
              formControlName="email"
            />
            <mat-error *ngIf="resetPasswordForm.get('email')?.hasError('required')">
              {{ "register.email_required" | translate }}
            </mat-error>
            <mat-error *ngIf="resetPasswordForm.get('email')?.hasError('email')">
              {{ "register.email_invalid" | translate }}
            </mat-error>
            <mat-error *ngIf="resetPasswordForm.get('email')?.hasError('emailExists')">
              {{ "register.email_exists" | translate }}
            </mat-error>
          </mat-form-field>
        </div>

       
        <div
        class="mt-1"
        [dir]="translateService.currentLang === 'en' ? 'ltr' : 'rtl'"
      >
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>{{ "register.curent_Password" | translate }}</mat-label>
          <input
            matInput
            type="password"
            placeholder="{{ 'register.curent_Password' | translate }}"
            required
            formControlName="currentPassword"
          />
          <mat-error *ngIf="resetPasswordForm.get('currentPassword')?.hasError('required')">
            {{ "register.password_required" | translate }}
          </mat-error>
          <mat-error
            *ngIf="resetPasswordForm.get('currentPassword')?.hasError('minlength')"
          >
            {{ "register.password_minlength" | translate }}
          </mat-error>
          <mat-error
            *ngIf="resetPasswordForm.get('currentPassword')?.hasError('maxlength')"
          >
            {{ "register.password_maxlength" | translate }}
          </mat-error>
        </mat-form-field>
      </div>
  
        <div
          class="mt-1"
          [dir]="translateService.currentLang === 'en' ? 'ltr' : 'rtl'"
        >
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>{{ "register.password" | translate }}</mat-label>
            <input
              matInput
              type="password"
              placeholder="{{ 'register.enter_password' | translate }}"
              required
              formControlName="password"
            />
            <mat-error *ngIf="resetPasswordForm.get('password')?.hasError('required')">
              {{ "register.password_required" | translate }}
            </mat-error>
            <mat-error
              *ngIf="resetPasswordForm.get('password')?.hasError('minlength')"
            >
              {{ "register.password_minlength" | translate }}
            </mat-error>
            <mat-error
              *ngIf="resetPasswordForm.get('password')?.hasError('maxlength')"
            >
              {{ "register.password_maxlength" | translate }}
            </mat-error>
          </mat-form-field>
        </div>
  
        <!-- Confirm Password Field -->
        <div
          class="mt-1"
          [dir]="translateService.currentLang === 'en' ? 'ltr' : 'rtl'"
        >
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>{{ "register.confirm_password" | translate }}</mat-label>
            <input
              matInput
              type="password"
              placeholder="{{ 'register.confirm_password_required' | translate }}"
              required
              formControlName="confirmpassword"
            />
            <mat-error
              *ngIf="resetPasswordForm.get('confirmpassword')?.hasError('required')"
            >
              {{ "register.confirm_password_required" | translate }}
            </mat-error>
            <mat-error
              *ngIf="resetPasswordForm.get('confirmpassword')?.hasError('notsame1')"
            >
              {{ "register.password_mismatch" | translate }}
            </mat-error>
          </mat-form-field>
        </div>
      </form>

      <button *ngIf="isSendEmail" class="login-btn mt-1" type="submit" (click)="sendEmail()">
        {{ "register.changin_pass_btn" | translate }}
      </button>


  </div>
</div>
