.card-body {
    display: flex;
    flex-direction: column;
    padding: 15px 15px 0 !important;
}

.card-img-div {
  height: 280px;
  /* margin-top: 20px; */
  padding: 15px 15px 0 15px;
}

.card-img-top {
    height: 200px;
    object-fit:scale-down ;
  }

  .card-img-styl {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .custom-i-icon-position {
    right: 5% !important;
    top: 5% !important;
  }
  
  .btn-light {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  }
  

  .custom-filter-btn {
    border-radius: 10px;
    border: 1px solid black;
    background: none;
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .i-icon-style > i {
    align-items: center;
    justify-content: center;
    display: flex;
  }


  /* Default for medium (md) and up: 25% width */
.custom-col {
  width: 25%;
  float: left;
  padding: 5px;
}

@media (max-width: 1400px) {
  .custom-col {
    width: 33.33%;
  }
}

@media (max-width: 1100px) {
  .custom-col {
    width: 50%;
  }
}


@media (max-width: 670px) {
  .custom-col {
    width: 100%;
  }
}


.filtered-btn {
  height: 60px;
  padding: 20px 60px 20px 60px;
  background: #FAFAFA;
  border: 1px solid #F3F3F3;
  border-radius: 10px;
  width: max-content;
}

.filtered-btn.active {
  background-color: #242424;
  color: white;
  border: none !important;
}

.position-relative {
  position: relative;
}

.filter-btns-div{
  display: flex;
  align-items: center;
  overflow-x: hidden; 
  scroll-behavior: 
  smooth;width: 88%;
}

.scroll-icon {
  position: absolute;
  top: 65%;
  transform: translateY(-50%);
  z-index: 555;
}

.scroll-icon.left {
  left: 5px;
}

.scroll-icon.right {
  right: -5px;
}


/* ----------------------------------- Filtered CSS Start here ----------------------------------- */

.filter-Div {
  position: absolute;
  top: 60px;
  right: 3px;
  z-index: 1000;
  width: 500px;
  background: #ffffff
}

.filters-top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.border-bottom-color {
  border-bottom: 1px solid #f3f3f3;
}

.form-check-label {
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  color: #909090;
}

.form-check-input:checked+.form-check-label {
  color: #000 !important;
}

.range-container {
  position: relative;
  width: 100%;
  height: 10px;
}

.range-track {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 4px;
  background: gray;
  transform: translateY(-50%);
}

.range-thumb {
  position: absolute;
  width: 20px;
  height: 20px;
  color: white;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  top: 50%;
  transition: all 0.3s ease;
}

.first-imggg {
  display: block;
}

.second-imggg {
  display: none;
}

.first-img {
  display: block;
}

.second-img {
  display: none;
}

.custom-apply-filter-btn {
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 400;
}

@media (max-width: 1560px) {
  .filter-btns-div{
    width: 85%;
  }
}

@media (max-width: 1024px) {
  .filter-Div {
    position: absolute;
    /* top: 183px;
    right: 70px; */
    z-index: 1000;
    width: 500px;
    background: #ffffff
  }

  .reverse-filter-order {
    top: 183px;
    left: 68px !important;
  }

  .filter-btns-div{
    width: 82%;
  }
}

@media (max-width: 768px) {
  .filter-Div {
    position: absolute;
    /* top: 183px;
    right: 70px; */
    z-index: 1000;
    width: 300px;
    background: #ffffff
  }

  .reverse-filter-order {
    top: 183px;
    left: 192px;
  }

  .filtered-btn {
    height: 60px;
    padding: 20px 30px 20px 30px;
    background: #FAFAFA;
    border: 1px solid #F3F3F3;
    border-radius: 10px;
    width: max-content;
  }

  .filter-btns-div{
    width: 80%;
  }
}

@media (max-width: 468px) {
  .filter-Div {
    position: absolute;
    /* top: 200px;
    right: 19px; */
    z-index: 1000;
    width: 300px;
    background: #ffffff
  }

  .reverse-filter-order {
    top: 200px !important;
    left: 19px !important
  }

  .list-data {
    padding: 0 0 0 0 !important;
  }

  .filter-btns-div{
    width: 60%;
  }
}

.reverse-filter-order {
  top: 183px;
  left: 192px;
}

.reverse-filter-order .filters-top-header {
  flex-direction: row-reverse;
}

.reverse-order {
  flex-direction: row-reverse;
  text-align: end;
}

.reverse-order .custom-filter-btn {
  flex-direction: row-reverse;
}

.reverse-order>.range-container>.first-thumb>.first-imggg {
  display: none;
}

.reverse-order>.range-container>.first-thumb>.second-imggg {
  display: block;
}

.reverse-order>.range-container>.first-thumb>.first-img {
  display: none;
}

.reverse-order>.range-container>.first-thumb>.second-img {
  display: block;
}

.reverse-order>.range-container>.first-thumb>.first-imggg {
  display: none;
}

.reverse-order>.range-container>.first-thumb>.second-imggg {
  display: block;
}

.reverse-order>.range-container>.first-thumb>.first-img {
  display: none;
}

.reverse-order>.range-container>.first-thumb>.second-img {
  display: block;
}

.reverse-order>.range-container>.first-thumb>.first-imggg {
  display: none;
}

.reverse-order>.range-container>.first-thumb>.second-imggg {
  display: block;
}

.reverse-order>.range-container>.first-thumb>.first-img {
  display: none;
}

.reverse-order>.range-container>.first-thumb>.second-img {
  display: block;
}

.reverse-order>.range-container>.first-thumb>.first-imggg {
  display: none;
}

.reverse-order>.range-container>.first-thumb>.second-imggg {
  display: block;
}

.reverse-order>.range-container>.first-thumb>.first-img {
  display: none;
}

.reverse-order>.range-container>.first-thumb>.second-img {
  display: block;
}


/* ----------------------------------- Filtered CSS End here ----------------------------------- */







