<div class="tab mt-5">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-2">
            <br />
            <h1>Brands</h1>
          </div>
          <div class="col-1"></div>
        </div>
        <!-- <div class="col-10"></div> -->
      </div>
      <div class="row g-0">
        
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="table">
            <mat-card class="mt">
              <mat-card-content>
                <div class="row">
                  <div class="col-8 col-lg-8 col-md-8 col-sm-6">
                    <mat-form-field appearance="outline">
                      <mat-label>Search</mat-label>
  
                      <input
                        matInput
                        (keyup)="applyFilter($event)"
                        placeholder="Ex. Admin"
                        #input
                      />
                    </mat-form-field>
                    &nbsp;
                    <mat-form-field appearance="outline">
                      <mat-label>Player status</mat-label>
                      <mat-select [(ngModel)]="selectedValue" name="userStatu">
                        <mat-option
                          *ngFor="let i of userStatu"
                          (click)="changingStatus(i.value)"
                          [value]="i.value"
                        >
                          {{ i.viewValue }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  
                  <div class="col-4 col-lg-4 col-md-4 col-sm-6 d-flex justify-content-end align-items-center">
                    <button
                      [hidden]="!isAdmin()"
                      mat-raised-button
                      color="primary"
                      (click)="openModal()"
                    >
                      <mat-icon>add_circle_outline</mat-icon>Add Brand
                    </button>
                  </div>
                </div>
                <mat-card>
                  <div class="mat-elevation-z8">
                    <table class="table" mat-table [dataSource]="dataSource">
                      <!-- ID Column -->
                      <ng-container class="column" matColumnDef="prod_name">
                        <th mat-header-cell class="column" *matHeaderCellDef>
                           Name
                        </th>
                        <td mat-cell class="column" *matCellDef="let row">
                          {{ row.userName }}
                        </td>
                      </ng-container>
  
                      <!-- First Name Column -->
                      <ng-container class="column" matColumnDef="brand_name">
                        <th mat-header-cell class="column" *matHeaderCellDef>
                          Brand Name
                        </th>
                        <td mat-cell class="column" *matCellDef="let row; in">
                          {{ row.name }}
                        </td>
                      </ng-container>
  
                      <!-- Last Name Column -->
                      <ng-container class="column" matColumnDef="category">
                        <th mat-header-cell class="column" *matHeaderCellDef>
                          Category
                        </th>
                        <td mat-cell class="column" *matCellDef="let row; in">
                          {{ row.email }}
                        </td>
                      </ng-container>
  
                      <ng-container class="column" matColumnDef="price">
                        <th mat-header-cell class="column" *matHeaderCellDef>
                          Price
                        </th>
                        <td mat-cell class="column" *matCellDef="let row; in">
                          {{ row.isBlocked ? "Blocked" : "Active" }}
                        </td>
                      </ng-container>
  
                      <!-- Status Column -->
                      <ng-container class="column" matColumnDef="edit">
                        <th mat-header-cell class="column" *matHeaderCellDef>
                          Action
                        </th>
                        <td mat-cell class="column" *matCellDef="let row; in">
                          <button
                            (click)="editUser(row)"
                            mat-raised-button
                            [color]="row.isBlocked ? 'warn' : 'primary'"
                          >
                            Edit
                          </button>
                        </td>
                      </ng-container>
  
                      <tr
                        mat-header-row
                        *matHeaderRowDef="displayedColumns; sticky: true"
                      ></tr>
                      <tr
                        mat-row
                        *matRowDef="let row; columns: displayedColumns"
                      ></tr>
  
                      <!-- Row shown when there is no matching data. -->
                      <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">
                          No data matching the filter "{{ input.value }}"
                        </td>
                      </tr>
                    </table>
  
                    <mat-paginator
                      #paginator
                      [pageSizeOptions]="[5, 10, 20]"
                      showFirstLastButtons
                    ></mat-paginator>
                  </div>
                </mat-card>
                <div class="d-flex justify-content-end">
                  <button mat-raised-button color="primary" (click)="download()">
                    <mat-icon>cloud_download</mat-icon>Download Users
                  </button>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  

