<div class="wraper mt-3">
  <h2 class="how-it-works-title">How it Works?</h2>
  <div class="how-it-works-cards">
    <div class="how-it-works-card">
      <img src="./assets/images/rolex.png" alt="step" class="how-it-works-icon" />
        <h3 class="how-it-works-heading">Find Your Dream Watch</h3>
        <p class="how-it-works-description">
          Easily deposit funds into your account with our bank deposit functionality. Safe and reliable transactions every time.
        </p>
    </div>
    <div class="how-it-works-card">
      <img src="./assets/images/rolex.png" alt="step" class="how-it-works-icon" />
      <h3 class="how-it-works-heading">Find Your Dream Watch</h3>
      <p class="how-it-works-description">
        Easily deposit funds into your account with our bank deposit functionality. Safe and reliable transactions every time.
      </p>
    </div>
    <div class="how-it-works-card">
      <img src="./assets/images/rolex.png" alt="step" class="how-it-works-icon" />
      <h3 class="how-it-works-heading">Find Your Dream Watch</h3>
      <p class="how-it-works-description">
        Easily deposit funds into your account with our bank deposit functionality. Safe and reliable transactions every time.
      </p>
    </div>
    <div class="how-it-works-card">
      <img src="./assets/images/rolex.png" alt="step" class="how-it-works-icon" />
      <h3 class="how-it-works-heading">Find Your Dream Watch</h3>
      <p class="how-it-works-description">
        Easily deposit funds into your account with our bank deposit functionality. Safe and reliable transactions every time.
      </p>
    </div>
  </div>
</div>
