<div class="wraper mt-3">
  <h2 class="testimonial-title">What people are saying</h2>
  <div class="testimonial-cards mt-4">
    <div class="testimonial-card">
      <div class="testimonial-stars">
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9733;</span>
      </div>
      <h3 class="testimonial-heading">Great money transfer App!</h3>
      <p class="testimonial-description">
        It's one of my two favourite and best money transfer apps. I would
        recommend everyone who would like to send money abroad to use
        ChronoSouq.
      </p>
      <p class="testimonial-author">John S.</p>
      <p class="testimonial-date">9/12/2022</p>
    </div>
    <div class="testimonial-card">
      <div class="testimonial-stars">
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9733;</span>
      </div>
      <h3 class="testimonial-heading">Great money transfer App!</h3>
      <p class="testimonial-description">
        It's one of my two favourite and best money transfer apps. I would
        recommend everyone who would like to send money abroad to use
        ChronoSouq.
      </p>
      <p class="testimonial-author">John S.</p>
      <p class="testimonial-date">9/12/2022</p>
    </div>
    <div class="testimonial-card">
      <div class="testimonial-stars">
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9733;</span>
      </div>
      <h3 class="testimonial-heading">Great money transfer App!</h3>
      <p class="testimonial-description">
        It's one of my two favourite and best money transfer apps. I would
        recommend everyone who would like to send money abroad to use
        ChronoSouq.
      </p>
      <p class="testimonial-author">John S.</p>
      <p class="testimonial-date">9/12/2022</p>
    </div>
    <div class="testimonial-card">
      <div class="testimonial-stars">
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9733;</span>
      </div>
      <h3 class="testimonial-heading">Great money transfer App!</h3>
      <p class="testimonial-description">
        It's one of my two favourite and best money transfer apps. I would
        recommend everyone who would like to send money abroad to use
        ChronoSouq.
      </p>
      <p class="testimonial-author">John S.</p>
      <p class="testimonial-date">9/12/2022</p>
    </div>
  </div>
</div>
