.card {
  border: none;
  border-radius: 10px;
}

.card i {
  color: #6c757d;
}

.card-text {
  height: 60px;
}

.card-body {
  padding: 0 0 10px 0 !important;
}

.card-title {
  font-weight: bold;
}

.custom-btn {
  background-color: #F8F8F8;
  border: none;
  border-radius: 42px;
  padding: 0 20px 0 20px;
  min-height: 36px;
  min-width: 80px;
}

.res-img {
  height: 50px;
  width: 50px;
}

@media (max-width: 1024px) {
  .card-text {
    height: auto !important;
  }
}