<div class="container mt-3 my-5">
  <div class="text-center mb-4">
    <p style="font-size: 40px; font-weight: 600; color: #484848">
      {{ "how_works.label" | translate }}
    </p>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card text-center shadow-sm">
        <div class="card-body">
          <div class="w-100">
            <img
              class="res-img"
              src="../../../../assets/images/bitcoin-icons_verify-outline.png"
              alt="alt"
            />
          </div>
          <p
            style="font-size: 22px; font-weight: 700; color: #484848"
            class="card-title text-center mt-2 w-100"
          >
            {{ "how_works.authenticity" | translate }}
          </p>
          <p
            style="font-size: 15px; font-weight: 400; color: #636e82;"
            class="card-text mt-2"
          >
            {{ "how_works.authenticity_para" | translate }}
          </p>
          <button class="custom-btn mt-2">
            {{ "how_works.authenticity_btn" | translate }}
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card text-center shadow-sm">
        <div class="card-body">
          <div class="w-100">
            <img
              class="res-img"
              src="../../../../assets/images/secure-escrow-payments.png"
              alt="alt"
            />
          </div>
          <p
            style="font-size: 22px; font-weight: 700; color: #484848"
            class="card-title text-center mt-2 w-100"
          >
            {{ "how_works.secure" | translate }}
          </p>
          <p
            style="font-size: 15px; font-weight: 400; color: #636e82;"
            class="card-text mt-2"
          >
            {{ "how_works.secure_para" | translate }}
          </p>
          <button class="custom-btn mt-2">
            {{ "how_works.secure_btn" | translate }}
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card text-center shadow-sm">
        <div class="card-body">
          <div class="w-100">
            <img
              class="res-img"
              src="../../../../assets/images/insured-tracked-delivery.png"
              alt="alt"
            />
          </div>
          <p
            style="font-size: 22px; font-weight: 700; color: #484848"
            class="card-title text-center mt-2 w-100"
          >
            {{ "how_works.insured" | translate }}
          </p>
          <p
            style="font-size: 15px; font-weight: 400; color: #636e82;"
            class="card-text mt-2"
          >
            {{ "how_works.insured_para" | translate }}
          </p>
          <button class="custom-btn mt-2">
            {{ "how_works.insured_btn" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
