<div class="wraper mt-3">
  <h2 class="testimonial-title">{{ 'people_saying.label' | translate }}</h2>
  <div class="testimonial-cards mt-4">
    <div class="testimonial-card">
      <div class="testimonial-stars">
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9733;</span>
      </div>
      <h3 class="testimonial-heading">{{ 'people_saying.header' | translate }}</h3>
      <p class="testimonial-description">
        {{ 'people_saying.paragraph' | translate }}
      </p>
      <p class="testimonial-author">{{ 'people_saying.aut_name' | translate }}</p>
      <p class="testimonial-date">9/12/2022</p>
    </div>
    <div class="testimonial-card">
      <div class="testimonial-stars">
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9733;</span>
      </div>
      <h3 class="testimonial-heading">{{ 'people_saying.header' | translate }}</h3>
      <p class="testimonial-description">
        {{ 'people_saying.paragraph' | translate }}
      </p>
      <p class="testimonial-author">{{ 'people_saying.aut_name' | translate }}</p>
      <p class="testimonial-date">9/12/2022</p>
    </div>
    <div class="testimonial-card">
      <div class="testimonial-stars">
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9733;</span>
      </div>
      <h3 class="testimonial-heading">{{ 'people_saying.header' | translate }}</h3>
      <p class="testimonial-description">
        {{ 'people_saying.paragraph' | translate }}
      </p>
      <p class="testimonial-author">{{ 'people_saying.aut_name' | translate }}</p>
      <p class="testimonial-date">9/12/2022</p>
    </div>
    <div class="testimonial-card">
      <div class="testimonial-stars">
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9733;</span>
      </div>
      <h3 class="testimonial-heading">{{ 'people_saying.header' | translate }}</h3>
      <p class="testimonial-description">
        {{ 'people_saying.paragraph' | translate }}
      </p>
      <p class="testimonial-author">{{ 'people_saying.aut_name' | translate }}</p>
      <p class="testimonial-date">9/12/2022</p>
    </div>
  </div>
</div>
