.card {
  border: none;
  border-radius: 10px;
}

.card i {
  color: #6c757d;
}

.card-title {
  font-weight: bold;
}

.custom-btn {
  background-color: #F8F8F8;
  border: none;
  border-radius: 42px;
  padding: 5px 10px 5px 10px;
}

.res-img {
  height: 50px;
  width: 50px;
}