<div class="login-container"
  [ngClass]="{'rtl': translateService.currentLang !== 'en', 'ltr': translateService.currentLang === 'en'}">
  <div class="login-card">
    <p class="font-size-14 font-wight-400 margin-0 color-242424">{{ "login.hy_there" | translate }}</p>
    <p class="font-size-28 font-wight-600 margin-0 color-242424">{{ "login.well_come" | translate }}</p>
    <form [formGroup]="loginForm" class="custom-margin mat-form-fields-custom-deisgn">
      <div [dir]="translateService.currentLang === 'en' ? 'ltr' : 'rtl'">
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>{{ "login.email" | translate }}</mat-label>
          <input type="email" placeholder="{{ 'login.email' | translate }}" required matInput formControlName="email" />
          <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
            {{ "login.email_error" | translate }}
          </mat-error>
          <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
            {{ "login.email_error_valid" | translate }}
          </mat-error>
        </mat-form-field>
      </div>
      <div [dir]="translateService.currentLang === 'en' ? 'ltr' : 'rtl'" class="mt-3">
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>{{ "login.password" | translate }}</mat-label>
          <input formControlName="password" matInput 
           [type]="hidepass ? 'password' : 'text'"
          placeholder="{{ 'login.password' | translate }}"
            required />

            <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="togglePasswordVisibilityofFirstLogin()"
        >
          <!-- <mat-icon>{{ hidepass ? "visibility_off" : "visibility" }}</mat-icon> -->
          <i [class]="hidepass ?  'fas fa-eye-slash': 'fas fa-eye'"></i>
        </button>

          <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
            {{ "login.password_error_req" | translate }}
          </mat-error>
          <!-- <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">
            {{ "login.password_error_min" | translate }}
          </mat-error> -->
          <mat-error *ngIf="loginForm.get('password')?.hasError('maxlength')">
            {{ "login.password_error_max" | translate }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="mt-3" style="display: flex; justify-content: flex-end">
        <a class="font-size-14 font-wight-400 margin-0 color-242424" routerLink="/forgotPassword">{{ "login.forgot_password" | translate }}</a>
      </div>
    </form>
    <button class="login-btn mt-3" type="submit" (click)="gotoHome()">
      {{ "login.login" | translate }}
    </button>
    <div class="separator">{{ "login.or" | translate }}</div>
    <div class="social-login">
      <button class="social-btn facebook"><img src="../../../../assets/images/face-book.svg" alt="facebook"/></button>
      <button class="social-btn apple"><img src="../../../../assets/images/apple-logo.svg" alt="facebook"/></button>
      <button class="social-btn google" (click)="signInWithGoogle()">
        <img style="height: 3vh" src="../../../../assets/images/google-log.svg" />
      </button>
    </div>
    <div class="mt-5">
      <p style="font-weight: 400; font-size: 14px; color: #909090">
        {{ "login.do_not_acc" | translate }}
        <a style="
            color: #0f172a;
            font-weight: 500;
            font-size: 16px;
            cursor: pointer;
          " (click)="gotoRegister()">{{ "login.register" | translate }}</a>
      </p>
    </div>
  </div>
</div>
