<div class="">
  <div class="row">
    <div class="col-md-12">
      <h1>Products</h1>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="row">
        <div
          class="col-12 d-flex flex-wrap gap-2 align-items-center mat-form-fields-custom-deisgn"
        >
          <mat-form-field appearance="outline">
            <mat-label>Search</mat-label>
            <input matInput [(ngModel)]="name" placeholder="" #input />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Category</mat-label>
            <mat-select [(ngModel)]="category_ids" multiple>
              <mat-option *ngFor="let cat of categoryList" [value]="cat.id">{{
                cat.name
              }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Brand</mat-label>
            <mat-select [(ngModel)]="brand_ids" multiple>
              <mat-option *ngFor="let brand of brandsList" [value]="brand.id">{{
                brand.name
              }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Gender</mat-label>
            <mat-select [(ngModel)]="watch_gender">
              <mat-option value="Mens watch">Mens Watch</mat-option>
              <mat-option value="Unisex">Unisex</mat-option>
              <mat-option value="Womens watch">Womens Watch</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Sort By</mat-label>
            <mat-select [(ngModel)]="sort_by">
              <mat-option value="name">Name</mat-option>
              <mat-option value="created_at">Created At</mat-option>
              <mat-option value="price">Price</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Order By</mat-label>
            <mat-select [(ngModel)]="sort_order">
              <mat-option value="asc">Ascending</mat-option>
              <mat-option value="desc">Descending</mat-option>
            </mat-select>
          </mat-form-field>

          <button class="admin-add-btn" (click)="loadData()">
            Apply Filter
          </button>
          <button class="admin-clear-filter-btn" (click)="ClearFilter()">
            Clear Filter
          </button>
        </div>
        <div
          class="col-4 col-lg-4 col-md-4 col-sm-6 d-flex justify-content-end align-items-center"
        ></div>
      </div>
      <div class="table-container">
        <table
          mat-table
          [dataSource]="dataSource"
          matSort
          (matSortChange)="sortData($event)"
          class="table admin-table"
        >
          <!-- ID Column -->
          <!-- <ng-container class="column" matColumnDef="name">
              <th mat-header-cell class="column" *matHeaderCellDef>Name</th>
              <td mat-cell class="column" *matCellDef="let row">
                {{ row?.name }}
              </td>
            </ng-container> -->

          <!-- Watch Type Column -->
          <ng-container matColumnDef="watch_type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Watch Type
            </th>
            <td mat-cell *matCellDef="let row">{{ row?.watch_type }}</td>
          </ng-container>

          <!-- Brand Name Column -->
          <ng-container matColumnDef="brand">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Brand Name
            </th>
            <td mat-cell *matCellDef="let row">{{ row?.brand?.name }}</td>
          </ng-container>

          <!-- Cover Image Column -->
          <ng-container matColumnDef="cover_image">
            <th mat-header-cell *matHeaderCellDef>Cover Image</th>
            <td mat-cell *matCellDef="let row">
              <img
                style="
                  height: 60px;
                  width: 70px;
                  border-radius: 10px;
                  object-fit: cover;
                "
                [src]="apiUrl + row?.main_image"
              />
            </td>
          </ng-container>

          <!-- Created By Column -->
          <ng-container matColumnDef="created_by">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Created By
            </th>
            <td mat-cell *matCellDef="let row">
              {{ row?.created_by?.name }}
            </td>
          </ng-container>

          <!-- Published Date Column -->
          <ng-container matColumnDef="published_date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Published Date
            </th>
            <td mat-cell *matCellDef="let row">
              {{ row?.published_date | date : "dd/MM/yyyy" }}
            </td>
          </ng-container>

          <!-- Sale Status Column -->
          <ng-container matColumnDef="sale_status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Sale Status
            </th>
            a
            <td mat-cell *matCellDef="let row">
              {{
                row?.sale_status === "reserved"
                  ? "Reserved"
                  : row?.sale_status === "for_sale"
                  ? "For Sale"
                  : "Sold"
              }}
            </td>
          </ng-container>

          <!-- Model Column -->
          <ng-container matColumnDef="model">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Model</th>
            <td mat-cell *matCellDef="let row">{{ row?.model }}</td>
          </ng-container>

          <!-- Is Active Column -->
          <ng-container matColumnDef="is_active">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Is Active</th>
            <td mat-cell *matCellDef="let row">
              {{ row?.is_active === 0 ? "No" : "Yes" }}
            </td>
          </ng-container>

          <!-- Is Popular Column -->
          <ng-container matColumnDef="popular_item">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Is Popular
            </th>
            <td mat-cell *matCellDef="let row">{{ row?.popular_item }}</td>
          </ng-container>

          <!-- Is isPromoted Column -->
          <ng-container matColumnDef="isPromoted">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Is Promoted
            </th>
            <td mat-cell *matCellDef="let row">
              {{ row?.is_promoted == 1 ? "Yes" : "No" }}
            </td>
          </ng-container>

          <!-- Is isPromoteActive Column -->
          <ng-container matColumnDef="isPromoteActive">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Is Promotion Active
            </th>
            <td mat-cell *matCellDef="let row">
              {{ row?.promotio_is_active == 1 ? "Yes" : "No" }}
            </td>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let row">
              <button
                mat-icon-button
                [matMenuTriggerFor]="menu"
                (click)="$event.stopPropagation()"
              >
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button
                  mat-menu-item
                  [hidden]="!doPermissionCheck(productsDeletePermission)"
                  (click)="deleteProduct(row)"
                >
                  <mat-icon color="warn">delete</mat-icon>
                  <span>Delete</span>
                </button>

                <button
                  mat-menu-item
                  [hidden]="!doPermissionCheck(productsUpdatePermission)"
                  (click)="rejectProduct(row)"
                >
                  <mat-icon color="warn">block</mat-icon>
                  <span>Reject Product</span>
                </button>

                <button
                  mat-menu-item
                  [hidden]="!doPermissionCheck(productsUpdatePermission)"
                  (click)="editProduct(row)"
                >
                  <mat-icon color="primary">edit</mat-icon>
                  <span>Edit</span>
                </button>

                <button
                  mat-menu-item
                  [hidden]="!doPermissionCheck(productsUpdatePermission)"
                  (click)="addPopularProduct(row)"
                >
                  <mat-icon color="accent">star</mat-icon>
                  <span>Add To Popular</span>
                </button>

                <button
                  mat-menu-item
                  [hidden]="!doPermissionCheck(productsUpdatePermission)"
                  (click)="addFeatureProduct(row)"
                >
                  <mat-icon color="accent">grade</mat-icon>
                  <span>Add To Feature</span>
                </button>

                <button
                  mat-menu-item
                  [hidden]="!doPermissionCheck(productsUpdatePermission)"
                  (click)="addToPromoteProduct(row)"
                >
                  <mat-icon color="accent">campaign</mat-icon>
                  <span>Add To Promotion</span>
                </button>

                <button
                  mat-menu-item
                  [hidden]="!doPermissionCheck(productsUpdatePermission)"
                  *ngIf="row?.is_active === 1 || row?.promotion_is_active === 0"
                  (click)="deletePromoteProduct(row)"
                >
                  <mat-icon color="warn">remove_circle</mat-icon>
                  <span>Delete Promotion</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>

          <!-- <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef>Actions</th>
              <td mat-cell *matCellDef="let row">
                <button mat-menu-item (click)="deleteProduct(row)">
                  <mat-icon color="warn">delete</mat-icon>
                  <span>Delete</span>
                </button>

                <button mat-menu-item (click)="rejectProduct(row)">
                  <mat-icon color="warn">block</mat-icon>
                  <span>Reject Product</span>
                </button>

                <button mat-menu-item (click)="editProduct(row)">
                  <mat-icon color="primary">edit</mat-icon>
                  <span>Edit</span>
                </button>

                <button mat-menu-item (click)="addPopularProduct(row)">
                  <mat-icon color="accent">star</mat-icon>
                  <span>Add To Popular</span>
                </button>

                <button mat-menu-item (click)="addFeatureProduct(row)">
                  <mat-icon color="accent">grade</mat-icon>
                  <span>Add To Feature</span>
                </button>

                <button mat-menu-item (click)="addToPromoteProduct(row)">
                  <mat-icon color="accent">campaign</mat-icon>
                  <span>Add To Promotion</span>
                </button>

                <button
                  mat-menu-item
                  *ngIf="row?.is_active === 1 || row?.promotion_is_active === 0"
                  (click)="deletePromoteProduct(row)"
                >
                  <mat-icon color="warn">remove_circle</mat-icon>
                  <span>Delete Promotion</span>
                </button>
              </td>
            </ng-container> -->

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">
              No data matching the filter "{{ input.value }}"
            </td>
          </tr>
        </table>

        <mat-paginator
          [pageSize]="pageSize"
          [pageSizeOptions]="[5, 10, 25, 100]"
          showFirstLastButtons
          (page)="onPageChange($event)"
        >
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
