.cancel-btn {
    border-radius: 10px;
    border: none;
    height: 5vh;
    color: #03181c;
    padding: 10px 40px;
  }
  .save-btn {
    border-radius: 10px;
    border: none;
    height: 5vh;
    color: white;
    padding: 10px 40px;
    background: #03181c;
  }

  ::ng-deep .mat-mdc-dialog-container {
    min-width: 970px !important;
    min-height: 630px;
  }