<div class="global-main-wraper" style="margin-top: 90px">
  <div class="row">
    <div class="col-md-3 col-12" style="border-right: 1px solid #f3f3f3">
      <h5>Create Product Listing</h5>
      <div class="sidebar-list">
        <!-- <-- Listing Details -- > -->
        <div
          class="list-item"
          [ngClass]="{ active: selectedSection === 'listingDetails' }"
        >
          <div class="step-circle">1</div>
          <div class="step-content">
            <h5 class="card-title">Listing Details</h5>
            <p class="card-text">
              Every watch will soon be verified by our team of experts to ensure
              it’s 100% authentic, giving buyers complete peace of mind.
            </p>

            <form
              [formGroup]="listingForm"
              (ngSubmit)="onSubmit('listing')"
              *ngIf="selectedSection === 'listingDetails' && isSmallScreen"
            >
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Brand</mat-label>
                <input
                  matInput
                  placeholder="Enter your brand name"
                  formControlName="brand"
                  required
                />
                <mat-error *ngIf="brand.hasError('required')">
                  Brand is required
                </mat-error>
                <mat-error *ngIf="brand.hasError('pattern')">
                  Invalid brand name
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-100 mt-2">
                <mat-label>Model</mat-label>
                <input
                  matInput
                  placeholder="Enter your model name"
                  formControlName="model"
                  required
                />
                <mat-error *ngIf="model.hasError('required')">
                  Model is required
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-100 mt-2">
                <mat-label>Title</mat-label>
                <input
                  matInput
                  placeholder="Enter your ad title"
                  formControlName="title"
                  required
                />
                <mat-error *ngIf="title.hasError('required')">
                  Title is required
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-100 mt-2">
                <mat-label>Description</mat-label>
                <textarea
                  matInput
                  placeholder="Enter your watch description"
                  formControlName="description"
                  rows="3"
                ></textarea>
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-100 mt-2">
                <mat-label>Watch Type</mat-label>
                <mat-select formControlName="watchType">
                  <mat-option value="wrist">Wrist Watch</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-100 mt-2">
                <mat-label>Year of Production</mat-label>
                <input
                  matInput
                  type="text"
                  placeholder="e.g. 2024"
                  formControlName="yearOfProduction"
                  required
                />
                <mat-error *ngIf="yearOfProduction.hasError('required')">
                  Year of production is required
                </mat-error>
              </mat-form-field>

              <mat-checkbox formControlName="approximation"
                >Approximation</mat-checkbox
              >
              <mat-checkbox formControlName="unknown">Unknown</mat-checkbox>

              <div class="d-flex justify-content-end gap-2 mb-3 mt-3">
                <button
                  mat-button
                  type="button"
                  class="save-can-btn canc-bg-color"
                >
                  Cancel
                </button>
                <button
                  mat-button
                  class="save-can-btn save-btn-bg"
                  type="submit"
                  [disabled]="listingForm.invalid"
                >
                  Save
                </button>
              </div>
            </form>
          </div>
        </div>
        <!-- <-- Watch Details -- > -->
        <div
          class="list-item"
          [ngClass]="{ active: selectedSection === 'watchDetails' }"
        >
          <div class="step-circle">2</div>
          <div class="step-content">
            <strong>Watch Details</strong>
            <p class="text-muted">
              Crypto ipsum bitcoin ethereum dogecoin litecoin. Revain neo gelen
              amp tecoin EOS chiliz...
            </p>

            <form
              [formGroup]="watchDetailsForm"
              *ngIf="selectedSection === 'watchDetails' && isSmallScreen"
            >
              <mat-form-field appearance="outline" class="w-100 mb-3">
                <mat-label>Reference No.</mat-label>
                <input
                  matInput
                  formControlName="referenceNo"
                  placeholder="Enter your Reference Number"
                />
              </mat-form-field>

              <div class="row">
                <div class="col-md-4 mb-3">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Serial No. (if not polished)</mat-label>
                    <input
                      matInput
                      formControlName="serialNo"
                      placeholder="Enter serial number"
                    />
                  </mat-form-field>
                </div>
                <div class="col-md-4 mb-3">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Gender</mat-label>
                    <mat-select formControlName="gender">
                      <mat-option value="">Please Select</mat-option>
                      <mat-option value="male">Male</mat-option>
                      <mat-option value="female">Female</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-4 mb-3">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Movement</mat-label>
                    <mat-select formControlName="movement">
                      <mat-option value="">Please Select</mat-option>
                      <mat-option value="yes">Yes</mat-option>
                      <mat-option value="no">No</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-3">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Case Diameter</mat-label>
                    <input
                      matInput
                      formControlName="caseDiameter"
                      placeholder="Enter diameter"
                    />
                    <span matSuffix>mm</span>
                  </mat-form-field>
                </div>
                <div class="col-md-6 mb-3">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Other Diameter</mat-label>
                    <input
                      matInput
                      formControlName="otherDiameter"
                      placeholder="Enter diameter"
                    />
                    <span matSuffix>mm</span>
                  </mat-form-field>
                </div>
              </div>

              <div style="padding: 0 0 0 0">
                <p><strong>Additional Information</strong> (optional)</p>
                <p class="font-weight-400 font-size-16 color-909090">
                  Every watch will soon be verified by our team of experts to
                  ensure it’s 100% authentic, giving buyers complete peace of
                  mind.
                </p>
              </div>

              <div style="padding: 0 0 15px 0">
                <mat-accordion>
                  <mat-expansion-panel
                    [(expanded)]="panelDialOpenState"
                    class="panel"
                  >
                    <mat-expansion-panel-header>
                      <mat-panel-title> Dial Info </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="accordion-body">
                      <div class="row">
                        <div class="col-md-6 mb-3">
                          <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Dial Color</mat-label>
                            <mat-select formControlName="dialColor">
                              <mat-option value="">Please Select</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="col-md-6 mb-3">
                          <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Dial Material</mat-label>
                            <input
                              matInput
                              formControlName="dialMaterial"
                              placeholder="Enter dial material"
                            />
                          </mat-form-field>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-6 mb-3">
                          <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Dial Markers</mat-label>
                            <mat-select formControlName="dialMarkers">
                              <mat-option value="">Please Select</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="col-md-6 mb-3">
                          <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Dial Hands</mat-label>
                            <input
                              matInput
                              formControlName="dialHands"
                              placeholder="Enter dial hands style"
                            />
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>

              <div style="padding: 0 0 15px 0">
                <mat-accordion>
                  <mat-expansion-panel
                    [(expanded)]="panelOpenState"
                    class="panel"
                  >
                    <mat-expansion-panel-header>
                      <mat-panel-title> Case Info </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="accordion-body">
                      <div class="row">
                        <div class="col-md-6 mb-3">
                          <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Case Material</mat-label>
                            <mat-select formControlName="caseMaterial">
                              <mat-option value="">Please Select</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="col-md-6 mb-3">
                          <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Bezel Material</mat-label>
                            <input
                              matInput
                              formControlName="bezelMaterial"
                              placeholder="Enter model name"
                            />
                          </mat-form-field>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-6 mb-3">
                          <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Thickness</mat-label>
                            <input
                              matInput
                              formControlName="thickness"
                              placeholder="Enter thickness"
                            />
                            <span matSuffix>mm</span>
                          </mat-form-field>
                        </div>
                        <div class="col-md-6 mb-3">
                          <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Crystal</mat-label>
                            <mat-select formControlName="crystal">
                              <mat-option value="">Please Select</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>

              <div style="padding: 0 0 15px 0">
                <mat-accordion>
                  <mat-expansion-panel
                    [(expanded)]="panelStrapOpenState"
                    class="panel"
                  >
                    <mat-expansion-panel-header>
                      <mat-panel-title> Straps / Bracelet </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="accordion-body">
                      <div class="row">
                        <div class="col-md-6 mb-3">
                          <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Bracelet Material</mat-label>
                            <mat-select formControlName="braceletMaterial">
                              <mat-option value="">Please Select</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="col-md-6 mb-3">
                          <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Bracelet Color</mat-label>
                            <input
                              matInput
                              formControlName="braceletColor"
                              placeholder="Enter your model name"
                            />
                          </mat-form-field>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-6 mb-3">
                          <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Type of Clasp</mat-label>
                            <mat-select formControlName="claspType">
                              <mat-option value="">Please Select</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>

              <div
                class="d-flex align-items-center justify-content-end gap-2 mb-3"
                style="padding: 0 20px 0 20px"
              >
                <button class="save-can-btn canc-bg-color">Back</button>
                <button
                  class="save-can-btn save-btn-bg"
                  (click)="onSubmit('watchDetails')"
                >
                  Save
                </button>
              </div>
            </form>
          </div>
        </div>
        <!-- <-- Upload Images -- > -->
        <div
          class="list-item"
          [ngClass]="{ active: selectedSection === 'uploadImages' }"
        >
          <div class="step-circle">3</div>
          <div class="step-content">
            <strong>Upload Images</strong>
            <p class="text-muted">
              Crypto ipsum bitcoin ethereum dogecoin litecoin. Revain neo gelen
              amp tecoin EOS chiliz...
            </p>

            <div
              class="image-upload-container"
              *ngIf="selectedSection === 'uploadImages' && isSmallScreen"
            >
              <!-- Cover Image -->
              <div class="cover-image-section">
                <p>Cover Image</p>
                <div class="upload-box" (click)="selectCoverImage()">
                  <ng-container *ngIf="coverImage; else uploadPlaceholder">
                    <img
                      style="height: 100%; width: 100%; object-fit: fill"
                      [src]="coverImage"
                      alt="Cover Image"
                    />
                    <!-- Show delete button when cover image is present -->
                    <button class="delete-btn" (click)="removeCoverImage()">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </ng-container>
                  <ng-template #uploadPlaceholder>
                    <span>+</span>
                  </ng-template>
                  <!-- Show the upload progress if cover image is uploading -->
                  <div *ngIf="isCoverImageUploading" class="upload-progress">
                    <p>Uploading</p>
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                  </div>
                </div>
                <input
                  type="file"
                  #coverImageInput
                  (change)="onCoverImageSelected($event)"
                  accept="image/*"
                  hidden
                />
              </div>

              <!-- Other Images -->
              <div class="other-images-section">
                <p>Other Images</p>
                <div class="upload-box" (click)="selectOtherImages()">
                  <span>+</span>
                </div>
                <input
                  type="file"
                  #otherImagesInput
                  (change)="onOtherImagesSelected($event)"
                  accept="image/*"
                  multiple
                  hidden
                />

                <div class="image-preview" *ngFor="let image of otherImages">
                  <img
                    [src]="image.url"
                    *ngIf="!image.isUploading"
                    alt="Preview"
                  />

                  <!-- Show the progress bar if the image is uploading -->
                  <div *ngIf="image.isUploading" class="upload-progress">
                    <p>Uploading</p>
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                  </div>

                  <!-- Show the delete button only when the upload is complete -->
                  <button
                    *ngIf="!image.isUploading"
                    class="delete-btn"
                    (click)="removeImage(image)"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>
              <div
                class="d-flex align-items-center justify-content-end gap-2 mb-3"
                style="padding: 0 20px 0 20px"
              >
                <button class="save-can-btn canc-bg-color">Back</button>
                <button
                  class="save-can-btn save-btn-bg"
                  (click)="onSubmit('uploadImages')"
                >
                  Save
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- <-- Condition Grading -- > -->
        <div
          class="list-item"
          [ngClass]="{ active: selectedSection === 'conditionGrading' }"
        >
          <div class="step-circle">4</div>
          <div class="step-content">
            <strong>Condition Grading</strong>
            <p class="text-muted">
              Crypto ipsum bitcoin ethereum dogecoin litecoin. Revain neo gelen
              amp tecoin EOS chiliz...
            </p>

            <div
              class="image-upload-container"
              *ngIf="selectedSection === 'conditionGrading' && isSmallScreen"
            >
              <div class="container-fluid my-4">
                <div class="row">
                  <div
                    class="col-md-6 mb-3"
                    *ngFor="let condition of conditions"
                    (click)="selectCondition(condition)"
                    [class.selected]="condition === selectedCondition"
                  >
                    <div class="card condition-card h-100">
                      <div class="card-body">
                        <h5 class="card-title">{{ condition.title }}</h5>
                        <p class="card-text">{{ condition.description }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div
                class="d-flex align-items-center justify-content-end gap-2 mb-3"
                style="padding: 0 20px 0 20px"
              >
                <button class="save-can-btn canc-bg-color">Back</button>
                <button
                  class="save-can-btn save-btn-bg"
                  (click)="onSubmit('conditionGrading')"
                >
                  Save
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- <-- Scope of Delivery -- > -->
        <div
          class="list-item"
          [ngClass]="{ active: selectedSection === 'scopeofdelivery' }"
        >
          <div class="step-circle">5</div>
          <div class="step-content">
            <strong>Scope of Delivery</strong>
            <p class="text-muted">
              Crypto ipsum bitcoin ethereum dogecoin litecoin. Revain neo gelen
              amp tecoin EOS chiliz...
            </p>

            <div
              class="image-upload-container"
              *ngIf="selectedSection === 'scopeofdelivery' && isSmallScreen"
            >
              <div class="container-fluid my-4">
                <div class="row">
                  <div
                    class="col-md-6 col-lg-4 mb-3"
                    *ngFor="let option of options"
                    (click)="toggleOption(option)"
                    [class.selected]="isSelected(option)"
                  >
                    <div class="card delivery-card h-100 text-center">
                      <div class="card-body">
                        <img
                          [src]="option.icon"
                          alt="{{ option.title }}"
                          class="icon mb-3"
                        />
                        <h6 class="card-title">{{ option.title }}</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div
                class="d-flex align-items-center justify-content-end gap-2 mb-3"
                style="padding: 0 20px 0 20px"
              >
                <button class="save-can-btn canc-bg-color">Back</button>
                <button
                  class="save-can-btn save-btn-bg"
                  (click)="onSubmit('conditionGrading')"
                >
                  Save
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- <-- Proof of Ownership -- > -->
        <div
          class="list-item"
          [ngClass]="{ active: selectedSection === 'proofofownership' }"
        >
          <div class="step-circle">6</div>
          <div class="step-content">
            <strong>Proof of Ownership</strong>
            <p class="text-muted">
              Crypto ipsum bitcoin ethereum dogecoin litecoin. Revain neo gelen
              amp tecoin EOS chiliz...
            </p>

            <div
              class="image-upload-container"
              *ngIf="selectedSection === 'proofofownership' && isSmallScreen"
            >
              <div class="clock-container">
                <div class="clock" *ngFor="let clock of clocks">
                  <div class="clock-face">
                    <span
                      class="hour-hand"
                      [ngStyle]="{
                        transform:
                          'rotate(' +
                          (clock.hour * 30 + clock.minute * 0.5) +
                          'deg)'
                      }"
                    ></span>
                    <span
                      class="minute-hand"
                      [ngStyle]="{
                        transform: 'rotate(' + clock.minute * 6 + 'deg)'
                      }"
                    ></span>
                  </div>
                  <div class="time-display">
                    {{ formatTime(clock.hour, clock.minute) }}
                  </div>
                </div>
              </div>

              <div
                class="d-flex align-items-center justify-content-end gap-2 mb-3"
                style="padding: 0 20px 0 20px"
              >
                <button class="save-can-btn canc-bg-color">Back</button>
                <button
                  class="save-can-btn save-btn-bg"
                  (click)="onSubmit('proofofownership')"
                >
                  Save
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-9" *ngIf="!isSmallScreen">
      <div class="card">
        <!-- <-- Listing Details -- > -->
        <div
          class="card-body"
          style="padding: 8px 20px 0 20px !important"
          *ngIf="selectedSection === 'listingDetails'"
        >
          <p class="font-weight-bold font-size-24 color-242424 margin-0">
            Listing Details
          </p>
          <p class="font-weight-400 font-size-16 color-909090">
            Every watch will soon be verified by our team of experts to ensure
            it’s 100% authentic, giving buyers complete peace of mind.
          </p>
          <form [formGroup]="listingForm" (ngSubmit)="onSubmit('listing')">
            <mat-form-field appearance="outline" class="w-100 mt-2">
              <mat-label>Brand</mat-label>
              <input
                matInput
                placeholder="Enter your brand name"
                formControlName="brand"
                required
              />
              <mat-error *ngIf="brand.hasError('required')">
                Brand is required
              </mat-error>
              <mat-error *ngIf="brand.hasError('pattern')">
                Invalid brand name
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100 mt-2">
              <mat-label>Model</mat-label>
              <input
                matInput
                placeholder="Enter your model name"
                formControlName="model"
                required
              />
              <mat-error *ngIf="model.hasError('required')">
                Model is required
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100 mt-2">
              <mat-label>Title</mat-label>
              <input
                matInput
                placeholder="Enter your ad title"
                formControlName="title"
                required
              />
              <mat-error *ngIf="title.hasError('required')">
                Title is required
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100 mt-2">
              <mat-label>Description</mat-label>
              <textarea
                matInput
                placeholder="Enter your watch description"
                formControlName="description"
                rows="3"
              ></textarea>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100 mt-2">
              <mat-label>Watch Type</mat-label>
              <mat-select formControlName="watchType">
                <mat-option value="wrist">Wrist Watch</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100 mt-2">
              <mat-label>Year of Production</mat-label>
              <input
                matInput
                type="text"
                placeholder="e.g. 2024"
                formControlName="yearOfProduction"
                required
              />
              <mat-error *ngIf="yearOfProduction.hasError('required')">
                Year of production is required
              </mat-error>
            </mat-form-field>

            <mat-checkbox formControlName="approximation"
              >Approximation</mat-checkbox
            >
            <mat-checkbox formControlName="unknown">Unknown</mat-checkbox>

            <div class="d-flex justify-content-end gap-2 mb-3 mt-3">
              <button
                mat-button
                type="button"
                class="save-can-btn canc-bg-color"
              >
                Cancel
              </button>
              <button
                mat-button
                class="save-can-btn save-btn-bg"
                type="submit"
                [disabled]="listingForm.invalid"
              >
                Save
              </button>
            </div>
          </form>
        </div>

        <!-- <-- Watch Details -- > -->
        <div *ngIf="watchDetailsForm && selectedSection === 'watchDetails'">
          <div class="card mb-4" style="box-shadow: none !important">
            <div
              style="
                border-bottom: none !important;
                justify-content: space-between;
                width: 100%;
                display: flex;
                padding: 5px 20px 0 20px;
              "
            >
              <p class="font-weight-bold font-size-24 color-242424 margin-0">
                Watch Details
              </p>
              <button
                mat-icon-button
                type="button"
                class="btn-close"
                aria-label="Close"
              >
                <mat-icon>close</mat-icon>
              </button>
            </div>
            <p
              style="padding: 0 20px 0 20px"
              class="font-weight-400 font-size-16 color-909090"
            >
              Every watch will soon be verified by our team of experts to ensure
              it’s 100% authentic, giving buyers complete peace of mind.
            </p>
            <div class="card-body">
              <form [formGroup]="watchDetailsForm">
                <mat-form-field appearance="outline" class="w-100 mb-3">
                  <mat-label>Reference No.</mat-label>
                  <input
                    matInput
                    formControlName="referenceNo"
                    placeholder="Enter your Reference Number"
                  />
                </mat-form-field>

                <div class="row">
                  <div class="col-md-4 mb-3">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Serial No. (if not polished)</mat-label>
                      <input
                        matInput
                        formControlName="serialNo"
                        placeholder="Enter serial number"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-md-4 mb-3">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Gender</mat-label>
                      <mat-select formControlName="gender">
                        <mat-option value="">Please Select</mat-option>
                        <mat-option value="male">Male</mat-option>
                        <mat-option value="female">Female</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4 mb-3">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Movement</mat-label>
                      <mat-select formControlName="movement">
                        <mat-option value="">Please Select</mat-option>
                        <mat-option value="yes">Yes</mat-option>
                        <mat-option value="no">No</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 mb-3">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Case Diameter</mat-label>
                      <input
                        matInput
                        formControlName="caseDiameter"
                        placeholder="Enter diameter"
                      />
                      <span matSuffix>mm</span>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6 mb-3">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Other Diameter</mat-label>
                      <input
                        matInput
                        formControlName="otherDiameter"
                        placeholder="Enter diameter"
                      />
                      <span matSuffix>mm</span>
                    </mat-form-field>
                  </div>
                </div>

                <div style="padding: 0 0 0 0">
                  <p><strong>Additional Information</strong> (optional)</p>
                  <p class="font-weight-400 font-size-16 color-909090">
                    Every watch will soon be verified by our team of experts to
                    ensure it’s 100% authentic, giving buyers complete peace of
                    mind.
                  </p>
                </div>

                <div style="padding: 0 0 15px 0">
                  <mat-accordion>
                    <mat-expansion-panel
                      [(expanded)]="panelDialOpenState"
                      class="panel"
                    >
                      <mat-expansion-panel-header>
                        <mat-panel-title> Dial Info </mat-panel-title>
                      </mat-expansion-panel-header>
                      <div class="accordion-body">
                        <div class="row">
                          <div class="col-md-6 mb-3">
                            <mat-form-field appearance="outline" class="w-100">
                              <mat-label>Dial Color</mat-label>
                              <mat-select formControlName="dialColor">
                                <mat-option value="">Please Select</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-md-6 mb-3">
                            <mat-form-field appearance="outline" class="w-100">
                              <mat-label>Dial Material</mat-label>
                              <input
                                matInput
                                formControlName="dialMaterial"
                                placeholder="Enter dial material"
                              />
                            </mat-form-field>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-6 mb-3">
                            <mat-form-field appearance="outline" class="w-100">
                              <mat-label>Dial Markers</mat-label>
                              <mat-select formControlName="dialMarkers">
                                <mat-option value="">Please Select</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-md-6 mb-3">
                            <mat-form-field appearance="outline" class="w-100">
                              <mat-label>Dial Hands</mat-label>
                              <input
                                matInput
                                formControlName="dialHands"
                                placeholder="Enter dial hands style"
                              />
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                    </mat-expansion-panel>
                  </mat-accordion>
                </div>

                <div style="padding: 0 0 15px 0">
                  <mat-accordion>
                    <mat-expansion-panel
                      [(expanded)]="panelOpenState"
                      class="panel"
                    >
                      <mat-expansion-panel-header>
                        <mat-panel-title> Case Info </mat-panel-title>
                      </mat-expansion-panel-header>
                      <div class="accordion-body">
                        <div class="row">
                          <div class="col-md-6 mb-3">
                            <mat-form-field appearance="outline" class="w-100">
                              <mat-label>Case Material</mat-label>
                              <mat-select formControlName="caseMaterial">
                                <mat-option value="">Please Select</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-md-6 mb-3">
                            <mat-form-field appearance="outline" class="w-100">
                              <mat-label>Bezel Material</mat-label>
                              <input
                                matInput
                                formControlName="bezelMaterial"
                                placeholder="Enter model name"
                              />
                            </mat-form-field>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-6 mb-3">
                            <mat-form-field appearance="outline" class="w-100">
                              <mat-label>Thickness</mat-label>
                              <input
                                matInput
                                formControlName="thickness"
                                placeholder="Enter thickness"
                              />
                              <span matSuffix>mm</span>
                            </mat-form-field>
                          </div>
                          <div class="col-md-6 mb-3">
                            <mat-form-field appearance="outline" class="w-100">
                              <mat-label>Crystal</mat-label>
                              <mat-select formControlName="crystal">
                                <mat-option value="">Please Select</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                    </mat-expansion-panel>
                  </mat-accordion>
                </div>

                <div style="padding: 0 0 15px 0">
                  <mat-accordion>
                    <mat-expansion-panel
                      [(expanded)]="panelStrapOpenState"
                      class="panel"
                    >
                      <mat-expansion-panel-header>
                        <mat-panel-title> Straps / Bracelet </mat-panel-title>
                      </mat-expansion-panel-header>
                      <div class="accordion-body">
                        <div class="row">
                          <div class="col-md-6 mb-3">
                            <mat-form-field appearance="outline" class="w-100">
                              <mat-label>Bracelet Material</mat-label>
                              <mat-select formControlName="braceletMaterial">
                                <mat-option value="">Please Select</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-md-6 mb-3">
                            <mat-form-field appearance="outline" class="w-100">
                              <mat-label>Bracelet Color</mat-label>
                              <input
                                matInput
                                formControlName="braceletColor"
                                placeholder="Enter your model name"
                              />
                            </mat-form-field>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-6 mb-3">
                            <mat-form-field appearance="outline" class="w-100">
                              <mat-label>Type of Clasp</mat-label>
                              <mat-select formControlName="claspType">
                                <mat-option value="">Please Select</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                    </mat-expansion-panel>
                  </mat-accordion>
                </div>

                <div
                  class="d-flex align-items-center justify-content-end gap-2 mb-3"
                  style="padding: 0 20px 0 20px"
                >
                  <button class="save-can-btn canc-bg-color">Back</button>
                  <button
                    class="save-can-btn save-btn-bg"
                    (click)="onSubmit('watchDetails')"
                  >
                    Save
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>

        <!-- <-- Upload Images -- > -->

        <div class="card-body" *ngIf="selectedSection === 'uploadImages'">
          <h5 class="font-weight-bold font-size-24 color-242424 margin-0">
            Upload Images
          </h5>
          <p class="font-weight-400 font-size-16 color-909090">
            Every watch will soon be verified by our team of experts to ensure
            it’s 100% authentic, giving buyers complete peace of mind.
          </p>
          <div class="image-upload-container">
            <!-- Cover Image -->
            <div class="cover-image-section">
              <p>Cover Image</p>
              <div class="upload-box" (click)="selectCoverImage()">
                <ng-container *ngIf="coverImage; else uploadPlaceholder">
                  <img
                    style="height: 100%; width: 100%; object-fit: fill"
                    [src]="coverImage"
                    alt="Cover Image"
                  />
                  <!-- Show delete button when cover image is present -->
                  <button class="delete-btn" (click)="removeCoverImage()">
                    <mat-icon>delete</mat-icon>
                  </button>
                </ng-container>
                <ng-template #uploadPlaceholder>
                  <span>+</span>
                </ng-template>
                <!-- Show the upload progress if cover image is uploading -->
                <div *ngIf="isCoverImageUploading" class="upload-progress">
                  <p>Uploading</p>
                  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </div>
              </div>
              <input
                type="file"
                #coverImageInput
                (change)="onCoverImageSelected($event)"
                accept="image/*"
                hidden
              />
            </div>

            <!-- Other Images -->
            <div class="other-images-section">
              <p>Other Images</p>
              <div class="upload-box" (click)="selectOtherImages()">
                <span>+</span>
              </div>
              <input
                type="file"
                #otherImagesInput
                (change)="onOtherImagesSelected($event)"
                accept="image/*"
                multiple
                hidden
              />

              <div class="image-preview" *ngFor="let image of otherImages">
                <img
                  [src]="image.url"
                  *ngIf="!image.isUploading"
                  alt="Preview"
                />

                <!-- Show the progress bar if the image is uploading -->
                <div *ngIf="image.isUploading" class="upload-progress">
                  <p>Uploading</p>
                  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </div>

                <!-- Show the delete button only when the upload is complete -->
                <button
                  *ngIf="!image.isUploading"
                  class="delete-btn"
                  (click)="removeImage(image)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
          </div>

          <div
            class="d-flex align-items-center justify-content-end gap-2 mb-3"
            style="padding: 0 20px 0 20px"
          >
            <button class="save-can-btn canc-bg-color">Back</button>
            <button
              class="save-can-btn save-btn-bg"
              (click)="onSubmit('uploadImages')"
            >
              Save
            </button>
          </div>
        </div>

        <!-- <-- Condition Grading -- > -->

        <div class="card-body" *ngIf="selectedSection === 'conditionGrading'">
          <h5 class="font-weight-bold font-size-24 color-242424 margin-0">
            Indicate the Condition of Your Watch
          </h5>
          <p class="font-weight-400 font-size-16 color-909090">
            Please indicate any signs of wear such as scratches or dents.
          </p>
          <div class="container-fluid my-4">
            <div class="row">
              <div
                class="col-md-6 mb-3"
                *ngFor="let condition of conditions"
                (click)="selectCondition(condition)"
                [class.selected]="condition === selectedCondition"
              >
                <div class="card condition-card h-100">
                  <div class="card-body">
                    <h5 class="card-title">{{ condition.title }}</h5>
                    <p class="card-text">{{ condition.description }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div
            class="d-flex align-items-center justify-content-end gap-2 mb-3"
            style="padding: 0 20px 0 20px"
          >
            <button class="save-can-btn canc-bg-color">Back</button>
            <button
              class="save-can-btn save-btn-bg"
              (click)="onSubmit('conditionGrading')"
            >
              Save
            </button>
          </div>
        </div>

        <!-- <-- Scope of Delivery -- > -->

        <div class="card-body" *ngIf="selectedSection === 'scopeofdelivery'">
          <h5 class="font-weight-bold font-size-24 color-242424 margin-0">
            Scope of Delivery
          </h5>
          <p class="font-weight-400 font-size-16 color-909090">
            What comes with your watch ?
          </p>
          <div class="container-fluid my-4">
            <div class="row">
              <div
                class="col-md-6 col-lg-4 mb-3"
                *ngFor="let option of options"
                (click)="toggleOption(option)"
                [class.selected]="isSelected(option)"
              >
                <div class="card delivery-card h-100 text-center">
                  <div class="card-body">
                    <img
                      [src]="option.icon"
                      alt="{{ option.title }}"
                      class="icon mb-3"
                    />
                    <h6 class="card-title">{{ option.title }}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div
            class="d-flex align-items-center justify-content-end gap-2 mb-3"
            style="padding: 0 20px 0 20px"
          >
            <button class="save-can-btn canc-bg-color">Back</button>
            <button
              class="save-can-btn save-btn-bg"
              (click)="onSubmit('scopeofdelivery')"
            >
              Save
            </button>
          </div>
        </div>

        <!-- <-- Proof of Ownership -- > -->

        <div class="card-body" *ngIf="selectedSection === 'proofofownership'">
          <h5 class="font-weight-bold font-size-24 color-242424 margin-0">
            Proof of Ownership
          </h5>
          <p class="font-weight-400 font-size-16 color-909090">
            Please set the watch to the following times & upload a photo of
            each. This is our way of confirming that you are in possession of
            the watch. These photos will also be published in your listing.
          </p>

          <div class="clock-container">
            <div class="clock">
              <div class="clock-face">
                <span
                  class="hour-hand"
                  [ngStyle]="{
                    transform:
                      'rotate(' +
                      (clocks[0].hour * 30 + clocks[0].minute * 0.5) +
                      'deg)'
                  }"
                ></span>
                <span
                  class="minute-hand"
                  [ngStyle]="{
                    transform: 'rotate(' + clocks[0].minute * 6 + 'deg)'
                  }"
                ></span>
              </div>
          
              <!-- Button to open file input -->
              <button (click)="triggerFileInput(0)">Upload Image</button>
              
              <!-- Hidden file input for image upload -->
              <input
                type="file"
                accept="image/*"
                hidden
                #fileInput0
                (change)="onFileSelected($event, 0)"
              />
          
              <!-- Preview image -->
              <div *ngIf="imagePreviews[0]">
                <img [src]="imagePreviews[0]" alt="Selected Image Preview" style="width: 100px; height: auto;"/>
              </div>
          
              <div class="time-display">
                {{ formatTime(clocks[0].hour, clocks[0].minute) }}
              </div>
            </div>
          
            <div class="clock">
              <div class="clock-face">
                <span
                  class="hour-hand"
                  [ngStyle]="{
                    transform:
                      'rotate(' +
                      (clocks[1].hour * 30 + clocks[1].minute * 0.5) +
                      'deg)'
                  }"
                ></span>
                <span
                  class="minute-hand"
                  [ngStyle]="{
                    transform: 'rotate(' + clocks[1].minute * 6 + 'deg)'
                  }"
                ></span>
              </div>
          
              <!-- Button to open file input -->
              <button (click)="triggerFileInput(1)">Upload Image</button>
          
              <!-- Hidden file input for image upload -->
              <input
                type="file"
                accept="image/*"
                hidden
                #fileInput1
                (change)="onFileSelected($event, 1)"
              />
          
              <!-- Preview image -->
              <div *ngIf="imagePreviews[1]">
                <img [src]="imagePreviews[1]" alt="Selected Image Preview" style="width: 100px; height: auto;"/>
              </div>
          
              <div class="time-display">
                {{ formatTime(clocks[1].hour, clocks[1].minute) }}
              </div>
            </div>
          </div>
          
          

          <div
            class="d-flex align-items-center justify-content-end gap-2 mb-3"
            style="padding: 0 20px 0 20px"
          >
            <button class="save-can-btn canc-bg-color">Back</button>
            <button
              class="save-can-btn save-btn-bg"
              (click)="onSubmit('proofofownership')"
            >
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
