.container-fluid {
  max-width: 1200px;
}
.mat-form-field {
  border: 1px solid #EEEEEE;
}

.contact-us-btn {
  background: none;
    border: 1px solid #242424;
    border-radius: 8px;
    padding: 5px 15px 5px 15px;
    color: #000;
}

::ng-deep .mat-checkbox > .mdc-form-field > .mdc-label {
  margin-top: 10px;
}

.mat-form-field-focused {
  border-color: #EEEEEE; 
}

.label-header {
  font-size: 16px;
  font-weight: 400;
  color: #242424;
  font-family: 'Open Sans',unset;
}

/* Target all mat-form-fields inside this component */
::ng-deep .mat-form-fields-custom-deisgn mat-form-field {
  /* background-color: #f5f5f5;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 15px;
  width: 100%; */
}

/* Optional: customize the input text color */
::ng-deep .mat-form-fields-custom-deisgn mat-form-field > .mat-mdc-text-field-wrapper {
  height: 48px;
  border-radius: 6px !important;
  border: 1px solid #EEEEEE;
}

::ng-deep .mat-form-fields-custom-deisgn mat-form-field > .mat-mdc-text-field-wrapper > .mat-mdc-form-field-flex > .mat-mdc-form-field-infix > .mat-mdc-select > .mat-mdc-select-trigger > .mat-mdc-select-value > .mat-mdc-select-value-text {
  font-size: 16px !important;
  font-weight: 400 !important;
  color: #909090 !important;
  line-height: 24px !important;
  font-family: "Open Sans", serif;
}

::ng-deep .category-field .mat-mdc-text-field-wrapper {
  min-height: 80px !important;
  height: fit-content !important;
  max-height: 160px !important;
  border-radius: 6px !important;
  border: 1px solid #EEEEEE !important;
  display: flex;
  align-items: center;
}

::ng-deep .mat-form-fields-custom-deisgn mat-form-field > .mat-mdc-text-field-wrapper > .mat-mdc-form-field-flex > .mdc-notched-outline > .mat-mdc-notch-piece > .mdc-floating-label {
  padding-bottom: 13px !important;
}

::ng-deep .mat-form-fields-custom-deisgn mat-form-field > .mat-mdc-text-field-wrapper > .mat-mdc-form-field-flex > .mdc-notched-outline > .mdc-floating-label > .label-header {
  font-size: 16px !important;
  font-weight: 400 !important;
  color: #242424 !important;
  line-height: 100% !important;
  font-family: "Open Sans", serif;
}

::ng-deep .mat-form-fields-custom-deisgn mat-form-field > .mat-mdc-form-field-subscript-wrapper > .mat-mdc-form-field-error-wrapper > .mat-mdc-form-field-error {
  font-size: 13px !important;
  font-weight: 400 !important;
  line-height: 100% !important;
}


::ng-deep .mat-form-fields-custom-deisgn mat-form-field > .mat-mdc-text-field-wrapper > .mat-mdc-form-field-flex > .mdc-notched-outline > .mat-mdc-notch-piece {
  border: none !important;
  border-color: none !important;
}

::ng-deep .mat-form-fields-custom-deisgn mat-form-field > .mat-mdc-text-field-wrapper > .mat-mdc-form-field-flex > .mat-mdc-form-field-infix > .mat-mdc-input-element {
  font-size: 16px !important;
  font-weight: 400 !important;
  color: #909090 !important;
  line-height: 24px !important;
  font-family: "Open Sans", serif;
}

::ng-deep .mat-form-fields-custom-deisgn mat-form-field input::placeholder {
  font-size: 16px !important;
  font-weight: 400 !important;
  color: #909090 !important;
  line-height: 24px !important;
  font-family: "Open Sans", serif;
}

.mat-chip-text {
  font-size: 16px !important;
  font-weight: 400 !important;
  color: #909090 !important;
  line-height: 24px !important;
  font-family: "Open Sans", serif;
  display: flex;
  align-items: center;
  gap: 5px;
}

::ng-deep .mat-form-fields-custom-deisgn mat-form-field textarea::placeholder {
  font-size: 16px !important;
  font-weight: 400 !important;
  color: #909090 !important;
  line-height: 24px !important;
  font-family: "Open Sans", serif;
}



::ng-deep .mat-form-fields-custom-deisgn mat-form-field .mat-input-element::placeholder {
 font-size: 16px !important;
  font-weight: 400 !important;
  color: #909090 !important;
  line-height: 24px !important;
  font-family: "Open Sans", serif;       
}

::ng-deep .mat-form-fields-custom-deisgn mat-checkbox > .mdc-form-field > .mdc-checkbox > .mdc-checkbox__background {
  border: 1px solid #E5E7EB !important;
  border-radius: 2px !important;
}



/* ::ng-deep .mat-form-fields-custom-deisgn mat-checkbox > .mdc-form-field > .mdc-checkbox > .mdc-checkbox__background {
  background-color: #242424;
} */

::ng-deep .mat-mdc-checkbox.mat-mdc-checkbox-checked .mdc-checkbox__background {
  background-color: #242424 !important;
}

::ng-deep .mat-mdc-checkbox.mat-mdc-checkbox-checked .mdc-checkbox__checkmark-path {
  stroke: #ffffff !important;
}

.panel {
  border: 1px solid #F3F3F3;
  box-shadow: none !important;
}

.inpu-field-left-bar {
    height: 46px;
    background: #dbdbdb;
    display: flex;
    align-items: center;
    width: 87px;
    justify-content: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

::ng-deep .mat-form-fields-custom-deisgn mat-checkbox .mdc-label {
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 14px !important;
  color: #909090 !important;
}

::ng-deep .mat-form-fields-custom-deisgn mat-form-field .mat-input-element:-ms-input-placeholder {
  font-size: 16px;          
  font-weight: 400;        
  color: #909090;          
}

::ng-deep .mat-form-field .mat-input-element::-ms-input-placeholder {
  font-size: 16px;          
  font-weight: 400;         
  color: #909090;           
}

.sidebar-list {
  position: relative;
}

.list-item {
  display: flex;
  align-items: flex-start;
  padding-bottom: 15px;
  position: relative;
}

.step-circle {
  min-width: 24px;
  min-height: 24px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #ccc;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
  color: #909090;
  margin-right: 15px;
}

.step-content {
  max-width: 345px;
}

.step-content strong {
  font-weight: 700;
  font-size: 18px;
  color: #909090;
}

.step-content p {
  font-weight: 300;
  font-size: 14px;
  color: #909090;
}

.list-item.active .step-circle {
  background-color: #000;
  color: #fff;
  border-color: #000;
}

.list-item:not(:last-child)::after {
  content: '';
  position: absolute;
  left: 12px;
  top: 30px;
  height: 100%;
  width: 2px;
  background-color: #ccc;
}

.list-item.active .step-content strong {
  color: #000 !important;
}

.list-item.active .step-content p {
  color: #000 !important;
}

.list-item .text-muted {
  font-size: 0.85rem;
  color: #888;
}

.list-item.active .step-circle {
  background-color: #000;
  color: #fff;
  border-color: #000;
}

.list-item.active .step-content strong {
  color: #000;
}


.list-group-item.active {
  background-color: #000;
  border-color: #000;
}

.badge {
  font-size: 1rem;
}

.card-title {
  font-weight: bold;
}

.card-text {
  color: #666;
}


.save-can-btn {
  border: 1px solid #242424;
  border-radius: 5px;
  height: 50px;
  width: 132px;
  font-size: 16px;
  font-weight: 400;
  color: black;
}

.canc-bg-color {
  background: none;
}

.save-btn-bg {
  background: #000000;
  color: #FFFFFF !important;
}

.save-btn-bg:hover {
  background: #000000;
  color: #FFF
}

.canc-bg-color:hover {
  background: none;
  /* color: #FFFFFF !important;  */
}

.route-product-btn{
border: none;
background: none;
}


@media (max-width: 768px) {
  .step-content {
    max-width: none !important;
  }

  .save-can-btn {
 width: 110px !important;
 height: 45px !important;
  }
}

/* @media (max-width: 768px) {
  .step-content {
    max-width: none !important;
  }
} */


/* ------------------------- image form start--------------------------- */
.image-upload-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cover-image-section, .other-images-section {
  text-align: center;
  display: flex;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;
}

.upload-box {
  width: 100px;
  height: 100px;
  border: 2px dashed #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.upload-box:hover .delete-btn {
  opacity: 1; 
}

.image-preview:hover .delete-btn {
  opacity: 1; 
}

.upload-box span {
  font-size: 2rem;
  color: #ccc;
}

.image-preview {
  position: relative;
  width: 100px;
  height: 100px;
  margin-right: 10px;
  border-radius: 8px;
  overflow: hidden;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.cover-label {
  position: absolute;
  top: 45px;
  left: 35px;
  background:#FEF2F2;
  color: #242424;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  box-shadow: 0px 3px 9px 0px #0000000A;

}


.upload-progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
}

.progress-bar {
  height: 100%;
  background-color: #4caf50;
  transition: width 0.3s;
}

/* .delete-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  background: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 50%;
  padding: 4px;
  cursor: pointer;
} */

.image-preview img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.upload-progress {
  position: absolute;
  top: 35px;
  left: 0;
  width: 100%;
  height: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(109, 12, 12, 0.8);
  border-radius: 8px;
}

.delete-btn {
  position: absolute;
  top: 45px;
  right: 55px;
  background: #fff;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  cursor: pointer;
  border: none;
  outline: none;
  opacity: 0; 
  transition: opacity 0.3s ease;
  padding: 0 !important;
}

.delete-btn:hover {
   background: #fff;
}

.upload-progress mat-progress-bar {
  width: 80%;
  margin-top: 10px;
}

.cover-set-btn {
  position: absolute;
  top: 88px;
  right: 10px;
  background: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  cursor: pointer;
  border: none;
  outline: none;
  transition: opacity 0.3s ease;
  padding: 0 !important;
  font-size: 16px;
  font-weight: 400;
}

.cover-set-btn:hover {
  background: none !important;
}


/* ------------------------- image form end--------------------------- */

/* ------------------------- Condition Grading start--------------------------- */

.container {
  max-width: 700px;
}

.condition-card {
  border: 1px solid #ddd;
  cursor: pointer;
  transition: border-color 0.2s ease-in-out;
}

.condition-card:hover {
  border-color: #000;
}

.selected .condition-card {
  border-color: #000;
}


/* ------------------------- Condition Grading end--------------------------- */



/* ------------------------- Scope of Delivery start--------------------------- */

.delivery-card {
  border: 1px solid #ddd;
  cursor: pointer;
  transition: border-color 0.2s ease-in-out;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.delivery-card:hover {
  border-color: #000;
}

.selected .delivery-card {
  border-color: #000;
}

.icon {
  width: 140px;
  height: auto;
}

/* ------------------------- Scope of Delivery start--------------------------- */

/* ------------------------- Proof of Ownership start--------------------------- */

.clock-container {
  display: flex;
  gap: 20px;
}

.clock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clock-face {
  width: 100px;
  height: 100px;
  border: 2px solid #ddd;
  border-radius: 50%;
  position: relative;
  background-color: #f9f9f9;
}

.hour-hand, .minute-hand {
  position: absolute;
  background-color: black;
  transform-origin: bottom center;
}

.hour-hand {
  width: 4px;
  height: 30px;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.minute-hand {
  width: 2px;
  height: 40px;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.time-display {
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  width: 150px;
  margin-top: 10px;
}

.upload-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border: 2px dashed #cccccc;
  border-radius: 8px;
}

.plus-icon {
  font-size: 32px;
  color: #cccccc;
}

.image-preview {
  width: 144px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
}

.upload-text {
  font-size: 14px;
  color: #666666;
  margin-top: 8px;
}

.help-card {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 15px;
  max-width: 540px;
}

.icon-placeholder {
  font-size: 24px;
  color: #555;
  margin-bottom: 10px;
}

.help-card h5 {
  font-weight: bold;
  color: #333;
}

.help-card p {
  color: #666;
  font-size: 14px;
  margin-bottom: 5px;
}

.help-card .btn-contact {
  border: 1px solid #333;
  color: #333;
  font-weight: bold;
  padding: 5px 15px;
}


/* ------------------------- Proof of Ownership end--------------------------- */

/* ------------------------- Price & Shipment start--------------------------- */

.info-card {
  background-color: #F7F7F8;
  border-radius: 10px;
  padding: 20px;
}

.info-card h6 {
  font-weight: bold;
  color: #333;
}

.info-row {
  color: #666;
  font-size: 14px;
  margin-bottom: 5px;
}

.info-row .label {
  color: #333;
}

.info-row .value {
  font-weight: bold;
}

.divider {
  border-top: 1px solid #ddd;
  margin: 10px 0;
}

/* ------------------------- Price & Shipment end--------------------------- */


.disabled {
  pointer-events: none; /* Disable all click events */
  opacity: 0.5; /* Optional, to visually indicate it is disabled */
}

.selected-categories {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.mat-chip {
  background-color: #e0e0e0;
}

.listing-details-btn-div{
  display: flex;
  justify-content: end;
}

.watch-details-label{
  border-bottom: none !important;
  justify-content: space-between;
  width: 100%;
  display: flex;
  padding: 5px 20px 0 20px;
}

  /* ------------------------- Localization Start --------------------------- */

  .reverse-order {
    flex-direction: row-reverse;
  }
  .reverse-order-of-desc-cont {
    text-align: end;
  }

  .reverse-order-of-desc-cont > h5 {
    margin: 0 20px 10px 0;
  }

  .reverse-order-of-desc-cont > .sidebar-list > .list-item {
    flex-direction: row-reverse;
  }

  .reverse-order-of-desc-cont > .sidebar-list > .list-item > .step-content  {
    padding: 0 5px 0 0;
  }

  .reverse-order-of-desc-cont > .sidebar-list > .list-item > .step-content > .card-title {
    text-align: end;
    width: 100%;
  }

  .reverse-order .list-item:not(:last-child)::after {
    right: 25px !important;
    left: auto;
  }

  .text-left {
    text-align: left;
  }
  
  .text-right {
    text-align: right;
  }

  .icon-rtl {
  transform: rotate(180deg); /* Rotate icon for RTL */
  }

  .icon-ltr {
    transform: rotate(0deg); /* Normal icon for LTR */
  }

  ::ng-deep .reverse-order .mat-mdc-select-value {
    text-align: right;
  }

  /* ::ng-deep .reverse-order .mat-mdc-select-trigger {
    flex-direction: row-reverse;
  } */

  .reverse-order-para-one {
    flex-direction: row-reverse;
  }

  .reverse-order-para-one > p {
    text-align: end;
  }

  .reverse-order-para-one > p {
    text-align: end;
  }

  .listing-details-checkboxes {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 5px;
  }

   .reverse-order-listing-details-checkboxes {
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    gap: 5px;
    align-items: center;
  }

  .reverse-order-upload-media {
    flex-direction: row-reverse;
  }

  .reverse-order-listing-details-btn-div {
    display: flex;
    justify-content: start !important;
  }

  .reverse-order-watch-details > .watch-details-label > p {
    text-align: end;
    width: 100%;
  }

  .reverse-order-watch-details > p {
    text-align: end;
  }

  .reverse-order-label-alignment  {
    display: flex;
    justify-content: end;
  }

  .reverse-order-watch-details-of-Optional-alignment > p {
    text-align: end;
  }

  .reverse-order-margin-padding {
    padding: 0 !important;
    margin: 0 !important;
  }

  /* ::ng-dep .reverse-order .mat-mdc-form-field > .mdc-text-field {
    padding-left: 0 !important;
}

.reverse-order .mat-mdc-form-field > .mdc-text-field {
  padding-left: 0 !important;
} */

::ng-dep .mat-mdc-text-field-wrapper {
  padding: 0 !important;
}

.mat-mdc-text-field-wrapper {
  padding: 0 !important;
}

.reverse-order-upload-images-labels {
  text-align: end;
}

.reverse-order-upload-images-content > .content-one > p {
  text-align: end;
}

.reverse-order-upload-images-content > .content-one > .d-flex {
  display: flex;
  justify-content: end;
}

.reverse-order-upload-images-content > .content-two > p {
  text-align: end;
}

.reverse-order-upload-images-content > .content-two > .d-flex {
  display: flex;
  justify-content: end;
  flex-direction: row-reverse;
}

.reverse-order-condition-gradding-label-des > h5 {
  text-align: end;
}

.reverse-order-condition-gradding-label-des > p {
  text-align: end;
}

.reverse-order-condition-gradding {
  width: 100%;
  text-align: end;
}

.reverse-order-condition-gradding > .row {
 justify-content: end;
}
.reverse-order-condition-gradding-body > p {
  text-align: end;
}

.reverse-order-condition-gradding-body > h5 {
  text-align: end;
}

.reverse-order-condition-gradding-body > .container-fluid {
 display: flex;justify-content: end;
}

.reverse-order-condition-gradding-body > .container-fluid > .d-flex > .mb-3 > .delivery-card > h6 {
  text-align: end;
} 

.reverse-order-condition-gradding-body > .clock-container {
  justify-content: end;
}

.reverse-order-condition-gradding-body > .clock-container > .clock {
 flex-direction: row-reverse !important;
}

.reverse-order-condition-gradding-body > .container-fluid > .help-card > .icon-placeholder {
  text-align: end;
}

.reverse-order-condition-gradding-body > .container-fluid > .help-card > h5 {
  text-align: end;
}

.reverse-order-condition-gradding-body > .container-fluid > .help-card > p {
  text-align: end;
}
.reverse-order-condition-gradding-body > .container-fluid > .help-card > .mt-3 {
  text-align: end;
}

.reverse-order-condition-gradding-body > .container-fluid > .help-card > ul > li {
 display: flex;
 flex-direction: row-reverse;
}

.reverse-order-price-and-shipment-div {
 display: flex;
 flex-wrap: wrap;
 flex-direction: row-reverse;
}

.reverse-orderdealer-or-seller-div {
  display: flex;
  justify-content: end !important;
  }

  .reverse-order-info-card > p{
    text-align: end;
  }

  .reverse-order-info-card > .justify-content-between{
    flex-direction: row-reverse;
  }

  .reverse-orderdealer-or-dealer-div {
    display: flex;
    flex-direction: row-reverse;
  }

   .reverse-orderdealer-or-dealer-div > .shipping-changing-cont > mat-checkbox {
   display: flex;
   flex-direction: column-reverse;
   }

  .reverse-orderdealer-or-dealer-div > .for-reverse > .info-card > p {
    text-align: end;
  }

  .reverse-orderdealer-or-dealer-div > .for-reverse > .info-card > .info-row {
  flex-direction: row-reverse !important;
  }

  .reverse-order-info-row > .info-row {
    flex-direction: row-reverse;
  }

  .reverse-order-billing-info-for > .row {
    flex-direction: row-reverse;
  }

  .reverse-order-billing-info-for > .row > .biilimg-card-data > div {
    text-align: end;
  }

  .reverse-order-billing-info-for > .row > .biilimg-card-data-two > div {
    text-align: start !important;
  }
/* ------------------------- Localization end --------------------------- */

.dealer-or-seller-div {
  display: flex;
  justify-content: flex-start;
}

.upload-container {
  text-align: center;
  margin-top: 20px;
}

input[type="file"] {
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

.video-preview {
  margin-top: 20px;
}

video {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.small-screent-heading-text {
  font-size: 14px !important;
}
.small-screent-paragrap-text {
  font-size: 10px !important;
}

.reverse-order-helpp-card {
  flex-direction: row-reverse;
}

.small-screen-btn-wrap {
  flex-wrap: wrap;
}

.mark-cover-btn.active {
  background-color: #1976d2;
  color: white;
}


.set-as-cover-btn {
  width: 135px;
  padding: 5px 5px 5px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}