<div
  class="col-lg-12 col-md-12 col-sm-12 wraper"
  [ngClass]="{ 'reverse-order': translateService.currentLang !== 'en' }"
>
  <div class="col-lg-12 col-md-12 col-sm-12 form-section">
    <form [formGroup]="productForm">
      <!-- --------------------  offer Section ---------------------------- -->

      <h2>Offer <span>(* Required field)</span></h2>
      <hr />
      <div
        class="d-flex"
        [ngClass]="{ 'reverse-order': translateService.currentLang !== 'en' }"
        style="justify-content: space-between"
      >
        <mat-label>Name</mat-label>
        <div style="width: 70%">
          <mat-form-field style="width: 100%" appearance="outline">
            <input formControlName="name" matInput placeholder="" />
            <mat-error *ngIf="productForm.get('name').hasError('required')">
              Please add Name
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div
        class="d-flex"
        [ngClass]="{ 'reverse-order': translateService.currentLang !== 'en' }"
        style="justify-content: space-between"
      >
        <mat-label>Slug</mat-label>
        <div style="width: 70%">
          <mat-form-field style="width: 100%" appearance="outline">
            <input formControlName="slug" matInput placeholder="" />
            <mat-error *ngIf="productForm.get('slug').hasError('required')">
              Please add Slug
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div
        class="d-flex"
        [ngClass]="{ 'reverse-order': translateService.currentLang !== 'en' }"
        style="justify-content: space-between"
      >
        <mat-label>Cover Images</mat-label>
        <div style="width: 70%">
          <mat-form-field style="width: 100%" appearance="outline">
            <input
              type="file"
              (change)="onFilesChange($event)"
              formControlName="image"
              matInput
              multiple
            />
            <mat-error *ngIf="productForm.get('image').hasError('required')">
              Please add Image
            </mat-error>
            <!-- Image Preview inside the mat-form-field -->
            <div *ngIf="imagePreview.length > 0" style="margin-top: 10px;">
              <div *ngFor="let image of imagePreview" style="display: inline-block; margin-right: 10px;">
                <img [src]="image" alt="Selected Image" style="width: 100px; height: 100px; object-fit: cover;" />
              </div>
            </div>
          </mat-form-field>
        </div>
      </div>
      <div
        class="d-flex"
        [ngClass]="{ 'reverse-order': translateService.currentLang !== 'en' }"
        style="justify-content: space-between"
      >
        <mat-label>Type</mat-label>
        <mat-form-field
          style="width: 70%"
          appearance="outline"
          class="full-width"
        >
          <mat-select formControlName="type">
            <mat-option value="case">Case</mat-option>
            <mat-option value="box">Box</mat-option>
            <mat-option value="tools">Tools</mat-option>
            <mat-option value="bracelet">Bracelet/Strap</mat-option>
          </mat-select>
          <mat-error *ngIf="productForm.get('type').hasError('required')">
            Select Type
          </mat-error>
        </mat-form-field>
      </div>
      <div
        class="d-flex"
        [ngClass]="{ 'reverse-order': translateService.currentLang !== 'en' }"
        style="justify-content: space-between"
      >
        <mat-label>Brand *</mat-label>
        <mat-form-field
          style="width: 70%"
          appearance="outline"
          class="full-width"
        >
          <mat-select formControlName="brand">
            <mat-option *ngFor="let brand of brandsList" [value]="brand.id">
              {{ brand.name }}
            </mat-option>
          </mat-select>
          <mat-hint align="start"
            ><a href="#">Manufacturer not listed?</a>
          </mat-hint>
          <mat-error *ngIf="productForm.get('brand').hasError('required')">
            Select Brand
          </mat-error>
        </mat-form-field>
      </div>
      <div
        class="d-flex"
        [ngClass]="{ 'reverse-order': translateService.currentLang !== 'en' }"
        style="justify-content: space-between"
      >
        <mat-label>Model *</mat-label>
        <div style="width: 70%">
          <mat-form-field style="width: 100%" appearance="outline">
            <input formControlName="model" matInput placeholder="" />
            <mat-hint style="font-size: 12px">
              You can be more specific about the model name and indicate the
              exact model.
            </mat-hint>
            <mat-error *ngIf="productForm.get('model').hasError('required')">
              Add Model
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div
        class="d-flex"
        [ngClass]="{ 'reverse-order': translateService.currentLang !== 'en' }"
        style="justify-content: space-between"
      >
        <mat-label class="d-flex gap-1"
          >Reference number <mat-icon matSuffix>info_outline</mat-icon>
        </mat-label>
        <mat-form-field
          style="width: 70%"
          appearance="outline"
          class="full-width"
        >
          <input matInput formControlName="referenceNumber" />
          <mat-error
            *ngIf="productForm.get('referenceNumber').hasError('required')"
          >
            Add referenceNumber
          </mat-error>
        </mat-form-field>
      </div>

      <!-- --------------------  Condition Section ---------------------------- -->

      <div class="condition-container mt-5">
        <h2>Condition</h2>
        <hr />
        <div
          style="border: none !important ; display: flex"
          class="condition-togglec gap-2"
          aria-label="Condition selection"
        >
          <button
            [ngStyle]="{
              border:
                selectedCondition === 'new'
                  ? '2px solid black'
                  : '1px solid black',
              borderRadius: '30px',
              padding: '5px 15px',
              background: 'none'
            }"
            value="like-new"
            (click)="openCondition('new')"
          >
            Like new & unworn
          </button>
          <button
            [ngStyle]="{
              border:
                selectedCondition === 'used'
                  ? '2px solid black'
                  : '1px solid black',
              borderRadius: '30px',
              padding: '5px 15px',
              background: 'none'
            }"
            (click)="openCondition('used')"
          >
            Used
          </button>
        </div>

        <h3 *ngIf="usedCondition" class="mt-3">
          Overall Condition of the Watch
        </h3>
        <div *ngIf="usedCondition" class="card-container">
          <mat-card class="condition-card" [ngClass]="{'selected-card': selectedCondition === 'very-good'}">
            <mat-card-title>Very good (minor signs of wear)</mat-card-title>
            <mat-card-content>
              <p>
                The item shows minor signs of wear, such as small, intangible
                scratches.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button
                style="border-radius: 75px; border: 1px solid black"
                mat-button
                (click)="selectUsedCondition('very-good')"
              >
                Select
              </button>
            </mat-card-actions>
          </mat-card>

          <mat-card class="condition-card" [ngClass]="{'selected-card': selectedCondition === 'good'}">
            <mat-card-title>Good (moderate signs of wear)</mat-card-title>
            <mat-card-content>
              <p>
                The item shows visible and tangible signs of wear like
                scratches, scuffs, or small dents.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button
                style="border-radius: 75px; border: 1px solid black"
                mat-button
                (click)="selectUsedCondition('good')"
              >
                Select
              </button>
            </mat-card-actions>
          </mat-card>

          <mat-card class="condition-card" [ngClass]="{'selected-card': selectedCondition === 'fair'}">
            <mat-card-title>Fair (major signs of wear)</mat-card-title>
            <mat-card-content>
              <p>
                The item shows major, visible signs of wear like scratches and
                dents.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button
                style="border-radius: 75px; border: 1px solid black"
                mat-button
                (click)="selectUsedCondition('fair')"
              >
                Select
              </button>
            </mat-card-actions>
          </mat-card>

          <mat-card class="condition-card" [ngClass]="{'selected-card': selectedCondition === 'incomplete'}">
            <mat-card-title>Incomplete</mat-card-title>
            <mat-card-content>
              <p>The item is missing some parts and is not functional.</p>
            </mat-card-content>
            <mat-card-actions>
              <button
                style="border-radius: 75px; border: 1px solid black"
                mat-button
                (click)="selectUsedCondition('incomplete')"
              >
                Select
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
        <div *ngIf="newCondition" class="mt-3">
          <div>
            <mat-card class="condition-card">
              <mat-card-title>Very good (minor signs of wear)</mat-card-title>
              <mat-card-content>
                <p>
                  The item shows minor signs of wear, such as small, intangible
                  scratches.
                </p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
        <a href="#" class="more-info">More about item conditions</a>
      </div>

      <!-- --------------------  Basic Info  Section ---------------------------- -->

      <h2>Basic Info <span>(* Required field)</span></h2>
      <mat-divider class="mat-divider"></mat-divider>

      <div
        [ngClass]="{ 'reverse-order': translateService.currentLang !== 'en' }"
        class="d-flex"
        style="justify-content: space-between; align-items: center"
      >
        <mat-label>Gender</mat-label>
        <mat-form-field
          style="width: 70%"
          appearance="outline"
          class="full-width"
        >
          <mat-select formControlName="gender">
            <mat-option value="">Please select</mat-option>
            <mat-option value="male">Male</mat-option>
            <mat-option value="female">Female</mat-option>
            <mat-option value="unisex">Unisex</mat-option>
          </mat-select>

          <mat-error *ngIf="productForm.get('gender').hasError('required')">
            Select Gender
          </mat-error>
        </mat-form-field>
      </div>

      <div
        [ngClass]="{ 'reverse-order': translateService.currentLang !== 'en' }"
        class="d-flex flex-wrap"
        style="justify-content: space-between; align-items: center"
      >
        <mat-label>Year of production *</mat-label>
        <mat-form-field style="width: 70%" appearance="outline" class="">
          <input
            matInput
            placeholder="e.g., 2013"
            formControlName="yearOfProduction"
          />
          <mat-error
            *ngIf="productForm.get('yearOfProduction').hasError('required')"
          >
            Add Year Of Production
          </mat-error>
        </mat-form-field>
        <div
          [ngClass]="{ 'reverse-order': translateService.currentLang !== 'en' }"
          class="d-flex"
          style="width: 70%; justify-content: end"
        >
          <div style="width: 50%"></div>
          <div
            style="width: 50%; display: flex; justify-content: space-between"
          >
            <mat-checkbox formControlName="approximation"
              >Approximation</mat-checkbox
            >
            <mat-checkbox formControlName="unknown">Unknown</mat-checkbox>
          </div>
        </div>
      </div>

      <div
        [ngClass]="{ 'reverse-order': translateService.currentLang !== 'en' }"
        class="case-diameter d-flex"
      >
        <mat-label>Case diameter</mat-label>
        <div
          style="
            width: 70%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
          "
        >
          <mat-form-field style="width: 35%" appearance="outline">
            <input
              matInput
              formControlName="caseDiameterWidth"
              placeholder=""
            />
            <mat-error
              *ngIf="productForm.get('caseDiameterWidth').hasError('required')"
            >
              Add Case Diameter Width
            </mat-error>
          </mat-form-field>
          <mat-form-field style="width: 12%" appearance="outline">
            <input matInput readonly="true" placeholder="mm" />
          </mat-form-field>
          <span style="padding: 0 10px 15px 10px">x</span>
          <mat-form-field style="width: 35%" appearance="outline">
            <input
              matInput
              formControlName="caseDiameterHeight"
              placeholder=""
            />
            <mat-error
              *ngIf="productForm.get('caseDiameterHeight').hasError('required')"
            >
              Add Case Diameter Height
            </mat-error>
          </mat-form-field>
          <mat-form-field style="width: 12%" appearance="outline">
            <input matInput readonly="true" placeholder="mm" />
          </mat-form-field>
        </div>
      </div>

      <div
        [ngClass]="{ 'reverse-order': translateService.currentLang !== 'en' }"
        class="d-flex"
        style="justify-content: space-between; align-items: center"
      >
        <mat-label>Movement</mat-label>
        <mat-form-field
          style="width: 70%"
          appearance="outline"
          class="full-width"
        >
          <mat-select formControlName="movement">
            <mat-option value="">Please select</mat-option>
            <mat-option value="automatic">Automatic</mat-option>
            <mat-option value="manual">Manual</mat-option>
            <mat-option value="quartz">Quartz</mat-option>
          </mat-select>

          <mat-error *ngIf="productForm.get('movement').hasError('required')">
            Select Movement
          </mat-error>
        </mat-form-field>
      </div>

      <div
        [ngClass]="{ 'reverse-order': translateService.currentLang !== 'en' }"
        class="d-flex"
        style="justify-content: space-between; align-items: center"
      >
        <mat-label>Description</mat-label>
        <mat-form-field
          style="width: 70%"
          appearance="outline"
          class="full-width"
        >
          <textarea
            matInput
            formControlName="description"
            placeholder="For example, where did you buy your watch? Does it still have a warranty? Has it been repaired? Is the watch damaged?"
          ></textarea>
          <mat-error
            *ngIf="productForm.get('description').hasError('required')"
          >
            Add Description
          </mat-error>
        </mat-form-field>
      </div>

      <!-- --------------------  Price  Section ---------------------------- -->

      <h2>Price <span>(* Required field)</span></h2>
      <mat-divider class="mat-divider"></mat-divider>

      <div
        [ngClass]="{ 'reverse-order': translateService.currentLang !== 'en' }"
        class="price-container d-flex"
        style="justify-content: center; gap: 5px; align-items: center"
      >
        <div style="width: 20%; align-items: center; gap: 5px">
          <mat-label
            >Price * <mat-icon matSuffix>info_outline</mat-icon></mat-label
          >
        </div>
        <div
          [ngClass]="{ 'reverse-order': translateService.currentLang !== 'en' }"
          class="d-flex"
        >
          <mat-form-field
            style="width: 50%"
            appearance="outline"
            class="price-input"
          >
            <input matInput formControlName="price" />
            <mat-error *ngIf="productForm.get('price').hasError('required')">
              Add price
            </mat-error>
          </mat-form-field>
          <mat-form-field style="width: 20%" appearance="outline">
            <span matSuffix>
              <mat-select
                style="padding: 7px"
                formControlName="currency"
                class="currency-select"
              >
                <mat-option value="USD">USD</mat-option>
                <mat-option value="EUR">EUR</mat-option>
                <mat-option value="GBP">GBP</mat-option>
              </mat-select>
            </span>
          </mat-form-field>
        </div>
      </div>

      <!-- ------------------------- Additional Information ------------------------------ -->

      <h2 class="mt-5">
        Additional information <span class="optional">(optional)</span>
      </h2>
      <mat-divider class="mat-divider"></mat-divider>
      <mat-accordion>
        <!-- ------------------- Caliber Information --------------------- -->
        <div>
          <h2>Caliber</h2>
        </div>
        <div style="padding: 0 20px 0 20px">
          <div
            class="d-flex"
            [ngClass]="{
              'reverse-order': translateService.currentLang !== 'en'
            }"
            style="justify-content: space-between"
          >
            <mat-label>Caliber/movement</mat-label>
            <mat-form-field style="width: 70%" appearance="outline">
              <input matInput formControlName="caliberMovement" />
            </mat-form-field>
          </div>
          <div
            class="d-flex"
            [ngClass]="{
              'reverse-order': translateService.currentLang !== 'en'
            }"
            style="justify-content: space-between"
          >
            <mat-label>Base caliber</mat-label>
            <mat-form-field style="width: 70%" appearance="outline">
              <input matInput formControlName="baseCaliber" />
            </mat-form-field>
          </div>
          <div
            class="d-flex"
            [ngClass]="{
              'reverse-order': translateService.currentLang !== 'en'
            }"
            style="justify-content: space-between"
          >
            <mat-label>Power reserve</mat-label>
            <div class="d-flex" style="width: 70%">
              <mat-form-field style="width: 90%" appearance="outline">
                <input matInput formControlName="powerReserve" />
              </mat-form-field>
              <mat-form-field style="width: 10%" appearance="outline">
                <input matInput placeholder="h" readonly="true" />
              </mat-form-field>
            </div>
          </div>
          <div
            class="d-flex"
            [ngClass]="{
              'reverse-order': translateService.currentLang !== 'en'
            }"
            style="justify-content: space-between"
          >
            <mat-label>Number of jewels</mat-label>
            <mat-form-field
              style="width: 70%"
              appearance="outline"
              class="full-width"
            >
              <input matInput formControlName="numberOfJewels" />
            </mat-form-field>
          </div>
          <div
            class="d-flex"
            [ngClass]="{
              'reverse-order': translateService.currentLang !== 'en'
            }"
            style="justify-content: space-between"
          >
            <mat-label>Frequency</mat-label>
            <div class="d-flex" style="width: 70%">
              <mat-form-field style="width: 85%" appearance="outline">
                <input matInput formControlName="frequency" />
              </mat-form-field>
              <mat-form-field style="width: 15%" appearance="outline">
                <span matSuffix>
                  <mat-select
                    formControlName="frequencyUnit"
                    style="padding: 7px"
                    class="currency-select"
                  >
                    <mat-option value="AH">A/H</mat-option>
                    <mat-option value="HZ">HZ</mat-option>
                  </mat-select>
                </span>
              </mat-form-field>
            </div>
          </div>

          <div
            class="other-details"
            [ngClass]="{
              'reverse-order': translateService.currentLang !== 'en'
            }"
          >
            <mat-label>Other details</mat-label>
            <div style="width: 70%">
              <mat-checkbox class="othr-chk" formControlName="genevianSeal"
                >Genevian Seal</mat-checkbox
              >
              <mat-checkbox class="othr-chk" formControlName="chronometer"
                >Chronometer</mat-checkbox
              >
              <mat-checkbox class="othr-chk" formControlName="masterChronometer"
                >Master Chronometer</mat-checkbox
              >
            </div>
          </div>
        </div>

        <!-- Case Section -->
        <div class="mt-5">
          <h2>Case</h2>
        </div>
        <div style="padding: 0 20px 0 20px">
          <div
            class="d-flex"
            [ngClass]="{
              'reverse-order': translateService.currentLang !== 'en'
            }"
            style="justify-content: space-between"
          >
            <mat-label>Case material</mat-label>
            <mat-form-field
              style="width: 70%"
              appearance="outline"
              class="full-width"
            >
              <input matInput formControlName="caseMaterial" />
            </mat-form-field>
          </div>
          <div
            class="d-flex"
            [ngClass]="{
              'reverse-order': translateService.currentLang !== 'en'
            }"
            style="justify-content: space-between"
          >
            <mat-label>Bezel material</mat-label>
            <mat-form-field
              style="width: 70%"
              appearance="outline"
              class="full-width"
            >
              <input matInput formControlName="bezelMaterial" />
            </mat-form-field>
          </div>

          <div
            class="d-flex"
            [ngClass]="{
              'reverse-order': translateService.currentLang !== 'en'
            }"
            style="justify-content: space-between"
          >
            <mat-label>Thickness</mat-label>
            <div class="d-flex" style="width: 70%">
              <mat-form-field style="width: 90%" appearance="outline">
                <input matInput formControlName="thickness" />
              </mat-form-field>
              <mat-form-field style="width: 10%" appearance="outline">
                <input matInput placeholder="mm" readonly="true" />
              </mat-form-field>
            </div>
          </div>
          <div
            class="d-flex"
            [ngClass]="{
              'reverse-order': translateService.currentLang !== 'en'
            }"
            style="justify-content: space-between"
          >
            <mat-label>Crystal</mat-label>
            <mat-form-field
              style="width: 70%"
              appearance="outline"
              class="full-width"
            >
              <mat-select formControlName="crystal">
                <mat-option value="false">Fasle</mat-option>
                <mat-option value="true">True</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div
            class="d-flex"
            [ngClass]="{
              'reverse-order': translateService.currentLang !== 'en'
            }"
            style="justify-content: space-between"
          >
            <mat-label>Water resistance</mat-label>
            <mat-form-field style="width: 70%" appearance="outline">
              <mat-select>
                <mat-option value="Ah">A/h</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div
            [ngClass]="{
              'reverse-order': translateService.currentLang !== 'en'
            }"
            class="other-details"
          >
            <mat-label>Other details</mat-label>
            <div style="width: 70%">
              <mat-checkbox class="othr-chk" formControlName="displayBack"
                >Display back</mat-checkbox
              >
              <mat-checkbox class="othr-chk" formControlName="gemstonesDiamonds"
                >Gemstones and/or diamonds</mat-checkbox
              >
              <mat-checkbox class="othr-chk" formControlName="pvddlcCoating"
                >PVD/DLC coating
              </mat-checkbox>
            </div>
          </div>
        </div>

        <!-- Dial and Hands Section -->
        <div class="mt-5">
          <h2>Dial and hands</h2>
        </div>
        <div style="padding: 0 20px 0 20px">
          <div
            class="d-flex"
            [ngClass]="{
              'reverse-order': translateService.currentLang !== 'en'
            }"
            style="justify-content: space-between"
          >
            <mat-label>Dial</mat-label>
            <mat-form-field style="width: 70%" appearance="outline">
              <mat-select formControlName="dial">
                <mat-option value="Ah">A/h</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div
            class="d-flex"
            [ngClass]="{
              'reverse-order': translateService.currentLang !== 'en'
            }"
            style="justify-content: space-between"
          >
            <mat-label>Dial numerals</mat-label>
            <mat-form-field style="width: 70%" appearance="outline">
              <mat-select formControlName="dialNumerals">
                <mat-option value="Ah">A/h</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div
            [ngClass]="{
              'reverse-order': translateService.currentLang !== 'en'
            }"
            class="other-details"
          >
            <mat-label>Dial features</mat-label>
            <div style="width: 70%">
              <mat-checkbox class="othr-chk" formControlName="guillocheDial"
                >Guilloché dial</mat-checkbox
              >
              <mat-checkbox
                class="othr-chk"
                formControlName="guillocheDialHandwork"
                >Guilloché dial (handwork)</mat-checkbox
              >
              <mat-checkbox class="othr-chk" formControlName="luminousNumerals"
                >Luminous numerals
              </mat-checkbox>
              <mat-checkbox class="othr-chk" formControlName="luminousIndices"
                >Luminous indices
              </mat-checkbox>
            </div>
          </div>

          <div
            [ngClass]="{
              'reverse-order': translateService.currentLang !== 'en'
            }"
            class="other-details"
          >
            <mat-label>Hand details</mat-label>
            <div style="width: 70%">
              <mat-checkbox class="othr-chk" formControlName="centralSeconds"
                >Central seconds</mat-checkbox
              >
              <mat-checkbox class="othr-chk" formControlName="smallSeconds"
                >Small Seconds</mat-checkbox
              >
              <mat-checkbox class="othr-chk" formControlName="luminousHands"
                >Luminous hands
              </mat-checkbox>
              <mat-checkbox class="othr-chk" formControlName="temperedBlueHands"
                >Tempered blue hands
              </mat-checkbox>
            </div>
          </div>
        </div>

        <!-- Bracelet/Strap Section -->
        <div class="mt-5">
          <h2>Bracelet/Strap</h2>
        </div>
        <div style="padding: 0 20px 0 20px">
          <div
            class="d-flex"
            [ngClass]="{
              'reverse-order': translateService.currentLang !== 'en'
            }"
            style="justify-content: space-between"
          >
            <mat-label>Bracelet material</mat-label>
            <mat-form-field style="width: 70%" appearance="outline">
              <mat-select formControlName="braceletMaterial">
                <mat-option value="Ah">A/h</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div
            class="d-flex"
            [ngClass]="{
              'reverse-order': translateService.currentLang !== 'en'
            }"
            style="justify-content: space-between"
          >
            <mat-label>Bracelet color</mat-label>
            <mat-form-field style="width: 70%" appearance="outline">
              <mat-select formControlName="braceletColor">
                <mat-option value="Ah">A/h</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div
            class="d-flex"
            [ngClass]="{
              'reverse-order': translateService.currentLang !== 'en'
            }"
            style="justify-content: space-between"
          >
            <mat-label>Type of clasp</mat-label>
            <mat-form-field style="width: 70%" appearance="outline">
              <mat-select formControlName="typeOfClasp">
                <mat-option value="Ah">A/h</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div
            class="d-flex"
            [ngClass]="{
              'reverse-order': translateService.currentLang !== 'en'
            }"
            style="justify-content: space-between"
          >
            <mat-label>Clasp material</mat-label>
            <mat-form-field style="width: 70%" appearance="outline">
              <mat-select formControlName="claspMaterial">
                <mat-option value="Ah">A/h</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </mat-accordion>
    </form>

    <div class="d-flex justify-content-end" style="padding: 0 17px 35px 0">
      <button
        style="
          background: #03181c;
          color: white;
          border: 1px solid rgba(0, 0, 0, 0);
          padding: 15px 25px;
          font-size: 0.875rem;
          border-radius: 6px;
        "
        (click)="onSubmit()"
      >
        Accept Details and Continue
      </button>
    </div>
  </div>
  <!-- <div class="col-lg-5 col-md-12 col-sm-12 save-draft-section">
    <div class="card" style="margin: auto">
      <div
        class="card-body"
        style="display: flex; justify-content: center; flex-direction: column"
      >
        <img src="./assets/images/no-picture-Square420.png" />
        <h5 class="card-title mt-3">TITLE</h5>
        <p class="card-text">PRICE</p>
        <h6 class="price">$0.00</h6>
        <button class="btn mt-4" style="border: 1px solid">
          Save as draft
        </button>
      </div>
    </div>
  </div> -->
</div>
