.container-fluid {
  max-width: 1200px;
}
.mat-form-field {
  border: 1px solid #EEEEEE;
}

.contact-us-btn {
  background: none;
    border: 1px solid #242424;
    border-radius: 8px;
    padding: 5px 15px 5px 15px;
}

::ng-deep .mat-checkbox > .mdc-form-field > .mdc-label {
  margin-top: 10px;
}

.mat-form-field-focused {
  border-color: #EEEEEE; 
}

.label-header {
  font-size: 16px;
  font-weight: 400;
  color: #242424;
}

::ng-deep .mat-form-field .mat-input-element::placeholder {
  font-size: 16px;         
  font-weight: 400;        
  color: #909090;           
}

::ng-deep .mat-form-field .mat-input-element:-ms-input-placeholder {
  font-size: 16px;          
  font-weight: 400;        
  color: #909090;          
}

::ng-deep .mat-form-field .mat-input-element::-ms-input-placeholder {
  font-size: 16px;          
  font-weight: 400;         
  color: #909090;           
}

.sidebar-list {
  position: relative;
}

.list-item {
  display: flex;
  align-items: flex-start;
  padding-bottom: 15px;
  position: relative;
}

.step-circle {
  min-width: 24px;
  min-height: 24px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #ccc;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
  color: #909090;
  margin-right: 15px;
}

.step-content {
  max-width: 345px;
}

.step-content strong {
  font-weight: 700;
  font-size: 18px;
  color: #909090;
}

.step-content p {
  font-weight: 300;
  font-size: 14px;
  color: #909090;
}

.list-item.active .step-circle {
  background-color: #000;
  color: #fff;
  border-color: #000;
}

.list-item:not(:last-child)::after {
  content: '';
  position: absolute;
  left: 12px;
  top: 30px;
  height: 100%;
  width: 2px;
  background-color: #ccc;
}

.list-item.active .step-content strong {
  color: #000 !important;
}

.list-item.active .step-content p {
  color: #000 !important;
}

.list-item .text-muted {
  font-size: 0.85rem;
  color: #888;
}

.list-item.active .step-circle {
  background-color: #000;
  color: #fff;
  border-color: #000;
}

.list-item.active .step-content strong {
  color: #000;
}


.list-group-item.active {
  background-color: #000;
  border-color: #000;
}

.badge {
  font-size: 1rem;
}

.card-title {
  font-weight: bold;
}

.card-text {
  color: #666;
}


.save-can-btn {
  border: 1px solid #242424;
  border-radius: 5px;
  height: 50px;
  width: 132px;
  font-size: 16px;
  font-weight: 400;
}

.canc-bg-color {
  background: none;
}

.save-btn-bg {
  background: #000000;
  color: #FFFFFF !important;
}

.route-product-btn{
border: none;
background: none;
}


@media (max-width: 768px) {
  .step-content {
    max-width: none !important;
  }
}


/* ------------------------- image form start--------------------------- */
.image-upload-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cover-image-section, .other-images-section {
  text-align: center;
  display: flex;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;
}

.upload-box {
  width: 100px;
  height: 100px;
  border: 2px dashed #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.upload-box:hover .delete-btn {
  opacity: 1; 
}

.image-preview:hover .delete-btn {
  opacity: 1; 
}

.upload-box span {
  font-size: 2rem;
  color: #ccc;
}

.image-preview {
  position: relative;
  width: 80px;
  height: 80px;
  margin-top: 10px;
  margin-right: 10px;
  display: inline-block;
}

.image-preview img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.upload-progress {
  position: absolute;
  top: 35px;
  left: 0;
  width: 100%;
  height: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(109, 12, 12, 0.8);
  border-radius: 8px;
}

.delete-btn {
  position: absolute;
  top: 35px;
  right: 32px;
  background: #fff;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  cursor: pointer;
  border: none;
  outline: none;
  opacity: 0; 
  transition: opacity 0.3s ease;
}
.upload-progress mat-progress-bar {
  width: 80%;
  margin-top: 10px;
}


/* ------------------------- image form end--------------------------- */

/* ------------------------- Condition Grading start--------------------------- */

.container {
  max-width: 700px;
}

.condition-card {
  border: 1px solid #ddd;
  cursor: pointer;
  transition: border-color 0.2s ease-in-out;
}

.condition-card:hover {
  border-color: #000;
}

.selected .condition-card {
  border-color: #000;
}


/* ------------------------- Condition Grading end--------------------------- */



/* ------------------------- Scope of Delivery start--------------------------- */

.delivery-card {
  border: 1px solid #ddd;
  cursor: pointer;
  transition: border-color 0.2s ease-in-out;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.delivery-card:hover {
  border-color: #000;
}

.selected .delivery-card {
  border-color: #000;
}

.icon {
  width: 140px;
  height: auto;
}

/* ------------------------- Scope of Delivery start--------------------------- */

/* ------------------------- Proof of Ownership start--------------------------- */

.clock-container {
  display: flex;
  gap: 20px;
}

.clock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clock-face {
  width: 100px;
  height: 100px;
  border: 2px solid #ddd;
  border-radius: 50%;
  position: relative;
  background-color: #f9f9f9;
}

.hour-hand, .minute-hand {
  position: absolute;
  background-color: black;
  transform-origin: bottom center;
}

.hour-hand {
  width: 4px;
  height: 30px;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.minute-hand {
  width: 2px;
  height: 40px;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.time-display {
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  width: 150px;
  margin-top: 10px;
}

.upload-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border: 2px dashed #cccccc;
  border-radius: 8px;
}

.plus-icon {
  font-size: 32px;
  color: #cccccc;
}

.image-preview {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.upload-text {
  font-size: 14px;
  color: #666666;
  margin-top: 8px;
}

.help-card {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 15px;
  max-width: 540px;
}

.icon-placeholder {
  font-size: 24px;
  color: #555;
  margin-bottom: 10px;
}

.help-card h5 {
  font-weight: bold;
  color: #333;
}

.help-card p {
  color: #666;
  font-size: 14px;
  margin-bottom: 5px;
}

.help-card .btn-contact {
  border: 1px solid #333;
  color: #333;
  font-weight: bold;
  padding: 5px 15px;
}


/* ------------------------- Proof of Ownership end--------------------------- */

/* ------------------------- Price & Shipment start--------------------------- */

.info-card {
  background-color: #F7F7F8;
  border-radius: 10px;
  padding: 20px;
}

.info-card h6 {
  font-weight: bold;
  color: #333;
}

.info-row {
  color: #666;
  font-size: 14px;
  margin-bottom: 5px;
}

.info-row .label {
  color: #333;
}

.info-row .value {
  font-weight: bold;
}

.divider {
  border-top: 1px solid #ddd;
  margin: 10px 0;
}

/* ------------------------- Price & Shipment end--------------------------- */


.disabled {
  pointer-events: none; /* Disable all click events */
  opacity: 0.5; /* Optional, to visually indicate it is disabled */
}

.selected-categories {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.mat-chip {
  background-color: #e0e0e0;
}

.listing-details-btn-div{
  display: flex;
  justify-content: end;
}

.watch-details-label{
  border-bottom: none !important;
  justify-content: space-between;
  width: 100%;
  display: flex;
  padding: 5px 20px 0 20px;
}

  /* ------------------------- Localization Start --------------------------- */

  .reverse-order {
    flex-direction: row-reverse;
  }
  .reverse-order-of-desc-cont {
    text-align: end;
  }

  .reverse-order-of-desc-cont > h5 {
    margin: 0 20px 10px 0;
  }

  .reverse-order-of-desc-cont > .sidebar-list > .list-item {
    flex-direction: row-reverse;
  }

  .reverse-order-of-desc-cont > .sidebar-list > .list-item > .step-content  {
    padding: 0 5px 0 0;
  }

  .reverse-order-of-desc-cont > .sidebar-list > .list-item > .step-content > .card-title {
    text-align: end;
    width: 100%;
  }

  .reverse-order .list-item:not(:last-child)::after {
    right: 25px !important;
    left: auto;
  }

  .text-left {
    text-align: left;
  }
  
  .text-right {
    text-align: right;
  }

  .icon-rtl {
  transform: rotate(180deg); /* Rotate icon for RTL */
  }

  .icon-ltr {
    transform: rotate(0deg); /* Normal icon for LTR */
  }

  ::ng-deep .reverse-order .mat-mdc-select-value {
    text-align: right;
  }

  /* ::ng-deep .reverse-order .mat-mdc-select-trigger {
    flex-direction: row-reverse;
  } */

  .reverse-order-para-one {
    flex-direction: row-reverse;
  }

  .reverse-order-para-one > p {
    text-align: end;
  }

  .reverse-order-para-one > p {
    text-align: end;
  }

  .reverse-order-listing-details-btn-div {
    display: flex;
    justify-content: start !important;
  }

  .reverse-order-watch-details > .watch-details-label > p {
    text-align: end;
    width: 100%;
  }

  .reverse-order-watch-details > p {
    text-align: end;
  }

  .reverse-order-label-alignment  {
    display: flex;
    justify-content: end;
  }

  .reverse-order-watch-details-of-Optional-alignment > p {
    text-align: end;
  }

  .reverse-order-margin-padding {
    padding: 0 !important;
    margin: 0 !important;
  }

  /* ::ng-dep .reverse-order .mat-mdc-form-field > .mdc-text-field {
    padding-left: 0 !important;
}

.reverse-order .mat-mdc-form-field > .mdc-text-field {
  padding-left: 0 !important;
} */

::ng-dep .mat-mdc-text-field-wrapper {
  padding: 0 !important;
}

.mat-mdc-text-field-wrapper {
  padding: 0 !important;
}

.reverse-order-upload-images-labels {
  text-align: end;
}

.reverse-order-upload-images-content > .content-one > p {
  text-align: end;
}

.reverse-order-upload-images-content > .content-one > .d-flex {
  display: flex;
  justify-content: end;
}

.reverse-order-upload-images-content > .content-two > p {
  text-align: end;
}

.reverse-order-upload-images-content > .content-two > .d-flex {
  display: flex;
  justify-content: end;
  flex-direction: row-reverse;
}

.reverse-order-condition-gradding {
  width: 100%;
  text-align: end;
}

.reverse-order-condition-gradding > .row {
 justify-content: end;
}
.reverse-order-condition-gradding-body > p {
  text-align: end;
}

.reverse-order-condition-gradding-body > h5 {
  text-align: end;
}

.reverse-order-condition-gradding-body > .container-fluid {
 display: flex;justify-content: end;
}

.reverse-order-condition-gradding-body > .container-fluid > .d-flex > .mb-3 > .delivery-card > h6 {
  text-align: end;
} 

.reverse-order-condition-gradding-body > .clock-container {
  justify-content: end;
}

.reverse-order-condition-gradding-body > .clock-container > .clock {
 flex-direction: row-reverse !important;
}

.reverse-order-condition-gradding-body > .container-fluid > .help-card > .icon-placeholder {
  text-align: end;
}

.reverse-order-condition-gradding-body > .container-fluid > .help-card > h5 {
  text-align: end;
}

.reverse-order-condition-gradding-body > .container-fluid > .help-card > p {
  text-align: end;
}
.reverse-order-condition-gradding-body > .container-fluid > .help-card > .mt-3 {
  text-align: end;
}

.reverse-order-condition-gradding-body > .container-fluid > .help-card > ul > li {
 display: flex;
 flex-direction: row-reverse;
}

.reverse-order-price-and-shipment-div {
 display: flex;
 flex-wrap: wrap;
 flex-direction: row-reverse;
}

.reverse-orderdealer-or-seller-div {
  display: flex;
  justify-content: end !important;
  }

  .reverse-order-info-card > p{
    text-align: end;
  }

  .reverse-order-info-card > .justify-content-between{
    flex-direction: row-reverse;
  }

  .reverse-orderdealer-or-dealer-div {
    display: flex;
    flex-direction: row-reverse;
  }

   .reverse-orderdealer-or-dealer-div > .shipping-changing-cont > mat-checkbox {
   display: flex;
   flex-direction: column-reverse;
   }

  .reverse-orderdealer-or-dealer-div > .for-reverse > .info-card > p {
    text-align: end;
  }

  .reverse-orderdealer-or-dealer-div > .for-reverse > .info-card > .info-row {
  flex-direction: row-reverse !important;
  }

  .reverse-order-info-row > .info-row {
    flex-direction: row-reverse;
  }

  .reverse-order-billing-info-for > .row {
    flex-direction: row-reverse;
  }

  .reverse-order-billing-info-for > .row > .biilimg-card-data > div {
    text-align: end;
  }

  .reverse-order-billing-info-for > .row > .biilimg-card-data-two > div {
    text-align: start !important;
  }
/* ------------------------- Localization end --------------------------- */

.dealer-or-seller-div {
  display: flex;
  justify-content: flex-start;
}