<div
  class="col-lg-12 col-md-12 col-sm-12 wraper"
  [ngClass]="{ 'reverse-order': translateService.currentLang !== 'en' }"
>
  <div class="col-lg-12 col-md-12 col-sm-12 form-section">
    <form [formGroup]="productForm">
      <!-- --------------------  offer Section ---------------------------- -->

      <h2>Offer <span>(* Required field)</span></h2>
      <hr />

      <div class="d-flex mt-2" style="justify-content: space-between; gap: 1%" [ngClass]="{ 'reverse-order': translateService.currentLang !== 'en' }">
        <div style="width: 49%">
          <mat-form-field style="width: 100%" appearance="outline">
            <mat-label>Name</mat-label>
            <input formControlName="name" matInput placeholder="" />
            <mat-error *ngIf="productForm.get('name').hasError('required')">
              Please add Name
            </mat-error>
          </mat-form-field>
        </div>
        <div style="width: 49%">
          <mat-form-field style="width: 100%" appearance="outline">
            <mat-label>Title</mat-label>
            <input formControlName="title" matInput placeholder="" />
            <mat-error *ngIf="productForm.get('title').hasError('required')">
              Please add Title
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="d-flex mt-2" style="justify-content: space-between; gap: 1%" [ngClass]="{ 'reverse-order': translateService.currentLang !== 'en' }">
        <div style="width: 49%">
          <mat-label>Cover Image</mat-label>
          <mat-form-field style="width: 100%" appearance="outline">
            <input
              type="file"
              (change)="onmain_img_FileSelected($event)"
              formControlName="main_image"
              matInput
            />
            <mat-error
              *ngIf="productForm.get('main_image').hasError('required')"
            >
              Please add Image
            </mat-error>
          </mat-form-field>
        </div>
        <div style="width: 49%">
          <mat-label>Additional Images</mat-label>
          <mat-form-field style="width: 100%" appearance="outline">
            <!-- File input to accept multiple images -->
            <input
              type="file"
              (change)="onFilesChange($event)"
              formControlName="additional_images"
              matInput
              multiple
            />
            <mat-error
              *ngIf="productForm.get('additional_images').hasError('required')"
            >
              Please add Image
            </mat-error>

            <!-- Image Preview inside the mat-form-field -->
            <div *ngIf="imagePreview.length > 0" style="margin-top: 10px">
              <div
                *ngFor="let image of imagePreview"
                style="display: inline-block; margin-right: 10px"
              >
                <!-- Image preview display -->
                <img
                  [src]="image"
                  alt="Selected Image"
                  style="width: 100px; height: 100px; object-fit: cover"
                />
              </div>
            </div>
          </mat-form-field>
        </div>
      </div>

      <div class="d-flex mt-2" style="justify-content: space-between; gap: 1%" [ngClass]="{ 'reverse-order': translateService.currentLang !== 'en' }">
        <div style="width: 49%">
          <mat-form-field
            style="width: 100%"
            appearance="outline"
            class="full-width"
          >
            <mat-label>Watch Type</mat-label>
            <mat-select formControlName="watch_type">
              <mat-option
                *ngFor="let key of allDropDownList.watch_type | keyvalue"
                [value]="key.key"
              >
                {{ key.value }}</mat-option
              >
            </mat-select>
            <mat-error
              *ngIf="productForm.get('watch_type').hasError('required')"
            >
              Select Type
            </mat-error>
          </mat-form-field>
        </div>
        <div style="width: 49%">
          <mat-form-field
            style="width: 100%"
            appearance="outline"
            class="full-width"
          >
            <mat-label>Select Category</mat-label>
            <mat-select formControlName="category_id">
              <mat-option *ngFor="let brand of categoryList" [value]="brand.id">
                {{ brand.name }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="productForm.get('category_id').hasError('required')"
            >
              Select Brand
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="d-flex mt-2" style="justify-content: space-between; gap: 1%" [ngClass]="{ 'reverse-order': translateService.currentLang !== 'en' }">
        <div style="width: 49%">
          <mat-form-field
            style="width: 100%"
            appearance="outline"
            class="full-width"
          >
            <mat-label>Select Brand </mat-label>
            <mat-select formControlName="brand_id">
              <mat-option *ngFor="let brand of brandsList" [value]="brand.id">
                {{ brand.name }}
              </mat-option>
            </mat-select>
            <mat-hint align="start"
              ><a>Manufacturer not listed?</a>
            </mat-hint>
            <mat-error *ngIf="productForm.get('brand_id').hasError('required')">
              Select Brand
            </mat-error>
          </mat-form-field>
        </div>
        <div style="width: 49%">
          <mat-form-field
            style="width: 100%"
            appearance="outline"
            class="full-width"
          >
            <mat-label>Scope of Delivery</mat-label>
            <mat-select formControlName="scope_of_delivery">
              <mat-option
                *ngFor="let key of allDropDownList.scope_of_delivery | keyvalue"
                [value]="key.key"
              >
                {{ key.value }}</mat-option
              >
            </mat-select>
            <mat-error
              *ngIf="productForm.get('scope_of_delivery').hasError('required')"
            >
              Select Scope of Delivery
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="d-flex mt-2" style="justify-content: space-between; gap: 1%" [ngClass]="{ 'reverse-order': translateService.currentLang !== 'en' }">
        <div style="width: 49%">
          <mat-form-field style="width: 100%" appearance="outline">
            <mat-label>Model </mat-label>
            <input formControlName="model" matInput placeholder="" />
            <mat-hint style="font-size: 12px">
              You can be more specific about the model name and indicate the
              exact model.
            </mat-hint>
            <mat-error *ngIf="productForm.get('model').hasError('required')">
              Add Model
            </mat-error>
          </mat-form-field>
        </div>
        <div style="width: 49%">
          <mat-form-field
            style="width: 100%"
            appearance="outline"
            class="full-width"
          >
            <mat-label class="d-flex gap-1"
              >Reference Number
            </mat-label>
            <input matInput formControlName="reference_number" />
            <mat-error
              *ngIf="productForm.get('reference_number').hasError('required')"
            >
              Add reference Number
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- --------------------  Condition Section ---------------------------- -->

      <div class="condition-container mt-5">
        <h2>Condition</h2>
        <hr />
        <div
          style="border: none !important ; display: flex"
          class="condition-togglec gap-2"
          aria-label="Condition selection"
        >
          <button
            [ngStyle]="{
              border:
                selectedCondition === 'New'
                  ? '2px solid black'
                  : '1px solid black',
              borderRadius: '30px',
              padding: '5px 15px',
              background: 'none'
            }"
            value="like-new"
            (click)="openCondition('New')"
          >
            New
          </button>

          <button
            [ngStyle]="{
              border:
                selectedCondition === 'New-Unwarn'
                  ? '2px solid black'
                  : '1px solid black',
              borderRadius: '30px',
              padding: '5px 15px',
              background: 'none'
            }"
            value="like-new"
            (click)="openCondition('New-Unwarn')"
          >
            Like new & unworn
          </button>

          <button
            [ngStyle]="{
              border:
                selectedCondition === 'Used'
                  ? '2px solid black'
                  : '1px solid black',
              borderRadius: '30px',
              padding: '5px 15px',
              background: 'none'
            }"
            (click)="openCondition('Used')"
          >
            Used
          </button>
        </div>

        <h3 *ngIf="usedCondition" class="mt-3">
          Overall Condition of the Watch
        </h3>
        <div *ngIf="usedCondition" class="card-container">
          <mat-card
            class="condition-card"
            [ngClass]="{
              'selected-card':
                selectedCondition === 'Very good (minor signs of wear)'
            }"
          >
            <mat-card-title>Very good (minor signs of wear)</mat-card-title>
            <mat-card-content>
              <p>Very good (minor signs of wear)</p>
            </mat-card-content>
            <mat-card-actions>
              <button
                style="border-radius: 75px; border: 1px solid black"
                mat-button
                (click)="selectUsedCondition('Very good (minor signs of wear)')"
              >
                Select
              </button>
            </mat-card-actions>
          </mat-card>

          <mat-card
            class="condition-card"
            [ngClass]="{
              'selected-card':
                selectedCondition === 'Good (moderate signs of wear)'
            }"
          >
            <mat-card-title>Good (moderate signs of wear)</mat-card-title>
            <mat-card-content>
              <p>Good (moderate signs of wear).</p>
            </mat-card-content>
            <mat-card-actions>
              <button
                style="border-radius: 75px; border: 1px solid black"
                mat-button
                (click)="selectUsedCondition('Good (moderate signs of wear)')"
              >
                Select
              </button>
            </mat-card-actions>
          </mat-card>

          <mat-card
            class="condition-card"
            [ngClass]="{ 'selected-card': selectedCondition === 'Incomplete' }"
          >
            <mat-card-title>Incomplete</mat-card-title>
            <mat-card-content>
              <p>Incomplete</p>
            </mat-card-content>
            <mat-card-actions>
              <button
                style="border-radius: 75px; border: 1px solid black"
                mat-button
                (click)="selectUsedCondition('Incomplete')"
              >
                Select
              </button>
            </mat-card-actions>
          </mat-card>
          <div *ngIf="selectedCondition === 'Incomplete'">
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Description</mat-label>
              <textarea
                placeholder="Enter Description"
                formControlName="description"
                matInput
              ></textarea>
            </mat-form-field>
          </div>
        </div>
        <div *ngIf="newCondition" class="mt-3">
          <div>
            <mat-card class="condition-card">
              <mat-card-title>New</mat-card-title>
              <mat-card-content>
                <p>
                  The item shows minor signs of wear, such as small, intangible
                  scratches.
                </p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>

        <div *ngIf="newUnwarnCondition" class="mt-3">
          <div>
            <mat-card class="condition-card">
              <mat-card-title>Like new and unworn</mat-card-title>
              <mat-card-content>
                <p>
                  The item shows minor signs of wear, such as small, intangible
                  scratches.
                </p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
        <!-- <a class="more-info">More about item conditions</a> -->
      </div>

      <!-- --------------------  Basic Info  Section ---------------------------- -->

      <h2>Basic Info <span>(* Required field)</span></h2>
      <mat-divider class="mat-divider"></mat-divider>

      <div class="d-flex mt-2" style="justify-content: space-between; gap: 1%" [ngClass]="{ 'reverse-order': translateService.currentLang !== 'en' }">
        <div style="width: 49%">
          <mat-form-field
            style="width: 100%"
            appearance="outline"
            class="full-width"
          >
            <mat-label>Gender</mat-label>
            <mat-select formControlName="gender">
              <mat-option
                *ngFor="let key of allDropDownList.gender | keyvalue"
                [value]="key.key"
              >
                {{ key.value }}</mat-option
              >
            </mat-select>

            <mat-error *ngIf="productForm.get('gender').hasError('required')">
              Select Gender
            </mat-error>
          </mat-form-field>
        </div>
        <div style="width: 49%">
          <mat-form-field style="width: 100%" appearance="outline" class="">
            <mat-label>Year of Production</mat-label>
            <input
              matInput
              placeholder="e.g., 2013"
              formControlName="year_of_production"
            />
            <mat-error
              *ngIf="productForm.get('year_of_production').hasError('required')"
            >
              Add Year Of Production
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="d-flex mt-2" style="justify-content: space-between; gap: 1%" [ngClass]="{ 'reverse-order': translateService.currentLang !== 'en' }">
        <div style="width: 49%">
          <mat-form-field style="width: 88%" appearance="outline">
            <mat-label>Case Diameter</mat-label>
            <input matInput formControlName="case_diameter" placeholder="" />
            <mat-error
              *ngIf="productForm.get('case_diameter').hasError('required')"
            >
              Add Case Diameter Width
            </mat-error>
          </mat-form-field>
          <mat-form-field style="width: 12%" appearance="outline">
            <input matInput readonly="true" placeholder="mm" />
          </mat-form-field>
        </div>
        <div style="width: 49%">
          <mat-form-field
            style="width: 100%"
            appearance="outline"
            class="full-width"
          >
            <mat-label>Movement</mat-label>
            <mat-select formControlName="movement">
              <mat-option
                *ngFor="let key of allDropDownList.movement | keyvalue"
                [value]="key.key"
              >
                {{ key.value }}</mat-option
              >
            </mat-select>

            <mat-error *ngIf="productForm.get('movement').hasError('required')">
              Select Movement
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="d-flex mt-2" style="justify-content: space-between; gap: 1%" [ngClass]="{ 'reverse-order': translateService.currentLang !== 'en' }">
        <div style="width: 49%">
          <mat-form-field
            style="width: 100%"
            appearance="outline"
            class="full-width"
          >
            <mat-label>Description</mat-label>
            <textarea
              matInput
              formControlName="meta_description"
              placeholder="For example, where did you buy your watch? Does it still have a warranty? Has it been repaired? Is the watch damaged?"
            ></textarea>
            <mat-error
              *ngIf="productForm.get('meta_description').hasError('required')"
            >
              Add Description
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- --------------------  Price  Section ---------------------------- -->

      <h2>Price <span>(* Required field)</span></h2>
      <mat-divider class="mat-divider"></mat-divider>
      <div class="d-flex mt-2" style="justify-content: space-between; gap: 1%" [ngClass]="{ 'reverse-order': translateService.currentLang !== 'en' }">
        <div style="width: 50%; display: flex">
          <mat-form-field
            style="width: 80%"
            appearance="outline"
            class="price-input"
          >
            <mat-label
              >Price  <mat-icon matSuffix>info_outline</mat-icon></mat-label
            >
            <input matInput formControlName="price" />
            <mat-error *ngIf="productForm.get('price').hasError('required')">
              Add price
            </mat-error>
          </mat-form-field>
          <mat-form-field style="width: 30%" appearance="outline">
            <span matSuffix>
              <mat-select formControlName="currency" class="currency-select">
                <mat-option
                  *ngFor="let key of allDropDownList.currency | keyvalue"
                  [value]="key.key"
                >
                  {{ key.value }}</mat-option
                >
              </mat-select>
            </span>
          </mat-form-field>
        </div>
      </div>

      <!-- ------------------------- Additional Information ------------------------------ -->

      <h2 class="mt-5">
        Additional information <span class="optional">(optional)</span>
      </h2>
      <mat-divider class="mat-divider"></mat-divider>
      <mat-accordion>
        <!-- Case Section -->
        <div class="mt-5">
          <h2>Case</h2>
        </div>

        <div class="d-flex mt-2" style="justify-content: space-between; gap: 1%" [ngClass]="{ 'reverse-order': translateService.currentLang !== 'en' }">
          <div style="width: 49%">
            <mat-form-field
              style="width: 100%"
              appearance="outline"
              class="full-width"
            >
              <mat-label>Case Material</mat-label>
              <mat-select formControlName="case_material">
                <mat-option
                  *ngFor="let key of allDropDownList.case_material | keyvalue"
                  [value]="key.key"
                >
                  {{ key.value }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
          <div style="width: 49%">
            <mat-form-field
              style="width: 100%"
              appearance="outline"
              class="full-width"
            >
              <mat-label>Bezel Material</mat-label>
              <mat-select formControlName="bezel_material">
                <mat-option
                  *ngFor="let key of allDropDownList.bezel_material | keyvalue"
                  [value]="key.key"
                >
                  {{ key.value }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="d-flex mt-2" style="justify-content: space-between; gap: 1%" [ngClass]="{ 'reverse-order': translateService.currentLang !== 'en' }">
          <div style="width: 49%">
            <mat-form-field style="width: 100%" appearance="outline">
              <mat-label>Water Resistance</mat-label>
              <mat-select formControlName="water_resistance">
                <mat-option
                  *ngFor="
                    let key of allDropDownList.water_resistance | keyvalue
                  "
                  [value]="key.key"
                >
                  {{ key.value }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </mat-accordion>
    </form>

    <div class="d-flex justify-content-end" style="padding: 0 17px 35px 0">
      <button
        style="
          background: #03181c;
          color: white;
          border: 1px solid rgba(0, 0, 0, 0);
          padding: 15px 25px;
          font-size: 0.875rem;
          border-radius: 6px;
        "
        (click)="onSubmit()"
      >
        Accept Details and Continue
      </button>
    </div>
  </div>
  <!-- <div class="col-lg-5 col-md-12 col-sm-12 save-draft-section">
    <div class="card" style="margin: auto">
      <div
        class="card-body"
        style="display: flex; justify-content: center; flex-direction: column"
      >
        <img src="./assets/images/no-picture-Square420.png" />
        <h5 class="card-title mt-3">TITLE</h5>
        <p class="card-text">PRICE</p>
        <h6 class="price">$0.00</h6>
        <button class="btn mt-4" style="border: 1px solid">
          Save as draft
        </button>
      </div>
    </div>
  </div> -->
</div>
