  <div class="d-flex flex-wrap" style="padding: 50px 220px 0 220px;">
    <div class="col-6" style="padding: 0 10px 0 10px;">
        <img src="./assets/images/how-works-watch.png" alt="{{ productDetail.name }}" class="watch-cover-image" />
    </div>
    <div class="col-6" style="padding: 0 10px 0 10px;">
        <h2 class="watch-name">{{ productDetail.name }}</h2>
        <p class="watch-description">{{ productDetail.description }}</p>
        <p class="watch-meta-title">{{ productDetail.meta_title }}</p>
        <p class="watch-meta-description">{{ productDetail.meta_description }}</p>
        <p class="watch-meta-keywords"><strong>Keywords:</strong> {{ productDetail.meta_keywords }}</p>
        <p *ngIf="productDetail.is_active" class="watch-status active">Active</p>
    </div>
  </div>
  
  
