 ::ng-deep .mat-mdc-dialog-container {
    min-width: 800px !important;
    min-height: 125px;
  }

  .full-width {
  width: 100%;
  margin-bottom: 5px;
}

.button-group {
  display: flex;
  gap: 16px;
  margin-top: 20px;
}


.fields {
    width: 50%;
    margin-bottom: 5%;
  }
  .dialog-content {
    width: 35vw;
    max-width: 400px;
  }
  .mat-dialog-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  form {
    /* border: 1px solid #ccc; */
    border-radius: 8px;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
    padding: 20px;
    background-color: #fff;
  }
  
  .cancel-btn {
    border-radius: 10px;
    border: none;
    height: 5vh;
    color: #03181c;
    padding: 10px 40px;
    /* background: #03181c; */
  }
  .save-btn {
    border-radius: 10px;
    border: none;
    height: 5vh;
    color: white;
    padding: 10px 40px;
    background: #03181c;
  }