<div class="confirmation-modal">
    <div class="modal-content" style="padding: 55px 35px 60px 35px;">
      <h2 style="margin: 20px 0 40px 0;
      text-align: center;
      font-size: 21px;
      margin-bottom: 35px;">{{message}}</h2>
      
      <div class="d-flex justify-content-center gap-2">
        <button class="confirm-btn" style="height: 45px;
        width: 140px;
        border-radius: 8px;
        background: #242424;
        color: white;" (click)="confirm()">Yes</button>
        <button style="height: 45px;
        width: 140px;
        border-radius: 8px;" (click)="cancel()">No</button>
      </div>
    </div>
  </div>
  
