<div class="login-container">
  <div class="login-card">
    <h2>Welcome to Chronosouq</h2>
    <h1>Create a new account</h1>
    <form [formGroup]="registerForm">
      <div>
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>UserName</mat-label>
          <input
            type="text"
            placeholder="Enter User Name"
            required
            matInput
            formControlName="username"
          />
          <mat-error *ngIf="registerForm.get('username')?.hasError('required')">
            Enter User Name
          </mat-error>
        </mat-form-field>
      </div>
      <div class="mt-3">
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Email</mat-label>
          <input
            type="email"
            placeholder="Enter your email address..."
            required
            matInput
            formControlName="email"
          />
          <mat-error *ngIf="registerForm.get('email')?.hasError('required')">
            Enter Email
          </mat-error>
        </mat-form-field>
      </div>
      <div class="mt-3">
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Password</mat-label>
          <input
            formControlName="password"
            matInput
            type="password"
            placeholder="Enter your password"
            required
          />
          <mat-error *ngIf="registerForm.get('password')?.hasError('required')">
            Enter Password
          </mat-error>
          <mat-error *ngIf="registerForm.get('password')?.hasError('minlength')">
            Password must be at least 6 characters long
          </mat-error>
          <mat-error *ngIf="registerForm.get('password')?.hasError('maxlength')">
            Password cannot exceed 30 characters
          </mat-error>
        </mat-form-field>
      </div>
      <div class="mt-3">
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Confirm Password</mat-label>
          <input
            formControlName="confirmpasword"
            matInput
            type="password"
            placeholder="Confirm password"
            required
          />
          <mat-error *ngIf="registerForm.get('confirmpasword')?.hasError('required')">
            Enter Confirm Password
          </mat-error>
          <mat-error *ngIf="registerForm.get('confirmpasword')?.hasError('notsame')">
            Passwords do not match
          </mat-error>
        </mat-form-field>
      </div>
    </form>
    <button class="login-btn mt-3" type="submit" (click)="register()">Register</button>
    <div class="separator">OR</div>
    <div class="social-login">
      <button class="social-btn facebook"><mat-icon>facebook</mat-icon></button>
      <button class="social-btn apple"><mat-icon>apple</mat-icon></button>
      <button class="social-btn google"><img alt="" style="height: 3vh;" src="./assets/images/google.png" /></button>
    </div>
    <div class="mt-5">
      <p style="font-weight: 400; font-size: 14px; color: #909090">
        Already have an account?
        <a style="color: #0f172a; font-weight: 500; font-size: 16px;cursor: pointer;"
        (click)="gotologin()"
          >Login</a
        >
      </p>
    </div>
  </div>
</div>
