<div class="login-container">
  <div class="login-card">
    <p class="font-size-14 font-wight-400 margin-0 color-242424 clash-display-font-family">{{ "register.welcome" | translate }}</p>
    <p class="font-size-28 font-wight-600 margin-0 color-242424">{{ "register.create_account" | translate }}</p>

    <form [formGroup]="registerForm" class="custom-register-margin mat-form-fields-custom-deisgn">
      <div [dir]="translateService.currentLang === 'en' ? 'ltr' : 'rtl'">
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>{{ "register.username" | translate }}</mat-label>
          <input
            type="text"
            matInput
            placeholder="{{ 'register.enter_username' | translate }}"
            required
            formControlName="username"
            appUsernameValidation
          />
          <mat-error *ngIf="registerForm.get('username')?.hasError('required')">
            {{ "register.username_required" | translate }}
          </mat-error>
          <mat-error
            *ngIf="registerForm.get('username')?.hasError('usernameExists')"
          >
            {{ "register.username_exists" | translate }}
          </mat-error>
        </mat-form-field>
      </div>

      <div
        class="mt-1"
        [dir]="translateService.currentLang === 'en' ? 'ltr' : 'rtl'"
      >
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>{{ "register.email" | translate }}</mat-label>
          <input
            type="email"
            matInput
            placeholder="{{ 'register.enter_email' | translate }}"
            required
            formControlName="email"
          />
          <mat-error *ngIf="registerForm.get('email')?.hasError('required')">
            {{ "register.email_required" | translate }}
          </mat-error>
          <mat-error *ngIf="registerForm.get('email')?.hasError('email')">
            {{ "register.email_invalid" | translate }}
          </mat-error>
          <mat-error *ngIf="registerForm.get('email')?.hasError('emailExists')">
            {{ "register.email_exists" | translate }}
          </mat-error>
        </mat-form-field>
      </div>

      <div
        class="mt-1"
        [dir]="translateService.currentLang === 'en' ? 'ltr' : 'rtl'"
      >
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>{{ "register.password" | translate }}</mat-label>
          <input
            matInput
            [type]="hidepass ? 'password' : 'text'"
            placeholder="{{ 'register.enter_password' | translate }}"
            required
            formControlName="password"
          />

          <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="togglePasswordVisibilityofFirstLogin()"
        >
          <!-- <mat-icon>{{ hidepass ? "visibility_off" : "visibility" }}</mat-icon> -->
          <i [class]="hidepass ?  'fas fa-eye-slash': 'fas fa-eye'"></i>
        </button>
          <mat-error *ngIf="registerForm.get('password')?.hasError('required')">
            {{ "register.password_required" | translate }}
          </mat-error>
          <mat-error
            *ngIf="registerForm.get('password')?.hasError('minlength')"
          >
            {{ "register.password_minlength" | translate }}
          </mat-error>
          <mat-error
            *ngIf="registerForm.get('password')?.hasError('maxlength')"
          >
            {{ "register.password_maxlength" | translate }}
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Confirm Password Field -->
      <div
        class="mt-1"
        [dir]="translateService.currentLang === 'en' ? 'ltr' : 'rtl'"
      >
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>{{ "register.confirm_password" | translate }}</mat-label>
          <input
            matInput
            [type]="hideconfirmpass ? 'password' : 'text'"
            placeholder="{{ 'register.confirm_password_required' | translate }}"
            required
            formControlName="confirmpassword"
          />
          <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="toggleConfirmPasswordVisibilityofFirstLogin()"
        >
          <!-- <mat-icon>{{ hideconfirmpass ? "visibility_off" : "visibility" }}</mat-icon> -->
          <i [class]="hideconfirmpass ?  'fas fa-eye-slash': 'fas fa-eye'"></i>
        </button>
          <mat-error
            *ngIf="registerForm.get('confirmpassword')?.hasError('required')"
          >
            {{ "register.confirm_password_required" | translate }}
          </mat-error>
          <mat-error
            *ngIf="registerForm.get('confirmpassword')?.hasError('notsame1')"
          >
            {{ "register.password_mismatch" | translate }}
          </mat-error>
        </mat-form-field>
      </div>
    </form>

    <button class="login-btn mt-1" type="submit" (click)="register()">
      {{ "register.register_button" | translate }}
    </button>

    <div class="separator">{{ "register.or" | translate }}</div>

    <div class="social-login">
     <button class="social-btn facebook"><img src="../../../../assets/images/face-book.svg" alt="facebook"/></button>
      <button class="social-btn apple"><img src="../../../../assets/images/apple-logo.svg" alt="facebook"/></button>
      <button class="social-btn google">
        <img style="height: 3vh" src="../../../../assets/images/google-log.svg" />
      </button>
    </div>

    <div class="mt-2">
      <p style="font-weight: 400; font-size: 14px; color: #909090">
        {{ "register.already_have_account" | translate }}
        <a
          style="
            color: #0f172a;
            font-weight: 500;
            font-size: 16px;
            cursor: pointer;
          "
          (click)="gotologin()"
        >
          {{ "register.login" | translate }}
        </a>
      </p>
    </div>
  </div>
</div>
