<!-- second-header.component.html -->
<nav class="navbar navbar-expand-lg navbar-light bg-light py-3" style="background-color: #fdfbff !important">
  <div class="container">
    <!-- Search Bar -->
    <form class="d-flex flex-grow-1 ms-3" (ngSubmit)="onSearch(searchInput.value)">
      <input
        #searchInput
        class="form-control me-2"
        type="search"
        placeholder="Search through 597,161 watches worldwide"
        aria-label="Search"
      />
      <button class="btn btn-outline-secondary" type="submit">
        <mat-icon>search</mat-icon>
      </button>
    </form>
  </div>
</nav>

