<div class="main-div">
  <h2 class="text-center">{{ labelMessage }}</h2>
  <form
    [formGroup]="promotionForm"
    (ngSubmit)="onSave()"
    class="form-container d-flex flex-column mt-2"
  >
    <!-- Promotion Type -->
    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>Promotion Type</mat-label>
      <input matInput formControlName="promotion_type" appOnlyCharacterLimitThirty/>
      <mat-error *ngIf="promotionForm.get('promotion_type')?.invalid">
        Promotion Type is required
      </mat-error>
    </mat-form-field>

    <!-- Discount -->
    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>Discount</mat-label>
      <input matInput type="number" appPositiveNumber formControlName="discount" />
      <mat-error *ngIf="promotionForm.get('discount')?.invalid">
        Discount is required
      </mat-error>
    </mat-form-field>

    <!-- Start Date -->
    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>Start Date</mat-label>
      <input
        matInput
        [matDatepicker]="startPicker"
        formControlName="start_date"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="startPicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #startPicker></mat-datepicker>
      <mat-error *ngIf="promotionForm.get('start_date')?.invalid">
        Start Date is required
      </mat-error>
    </mat-form-field>

    <!-- End Date -->
    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>End Date</mat-label>
      <input matInput [matDatepicker]="endPicker" formControlName="end_date" />
      <mat-datepicker-toggle
        matSuffix
        [for]="endPicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #endPicker></mat-datepicker>
      <mat-error *ngIf="promotionForm.get('end_date')?.invalid">
        End Date is required
      </mat-error>
    </mat-form-field>

    <!-- Promotion Banner -->
    <div style="width: 100%">
        <label>Promotion Banner</label>
        <input type="file" (change)="onFileSelected($event)" />
        <mat-error *ngIf="promotionForm.get('promotion_banner')?.invalid">
          Promotion Banner is required
        </mat-error>
      </div>
  
      <!-- Image Preview -->
      <div *ngIf="previewImage" class="image-preview">
        <img [src]="previewImage" alt="Preview" />
      </div>

    <!-- Is Active -->
    <mat-checkbox formControlName="is_active">Is Active</mat-checkbox>

    <!-- Save Button -->
    <div class="d-flex align-items-center justify-content-center gap-2">
      <button
        class="submit-btn"
        type="submit"
        [disabled]="promotionForm.invalid"
      >
        Save
      </button>

      <button class="cancel-btn" (click)="cancel()">Cancel</button>
    </div>
  </form>
</div>
