  <div class="container" style="height: 500px; padding: 10px 20px 10px 20px">
      <h2 *ngIf="param" class="text-center">Edit Watch of The Day </h2>
      <h2 *ngIf="!param" class="text-center">Add Watch of The Day </h2>
    <form [formGroup]="watchDayForm" class="mt-3">
      <div>
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Select Product</mat-label>
          <mat-select formControlName="product_id">
            <mat-option *ngFor="let item of allData" [value]="item.id"
              >{{ item?.brand?.name }} {{ item?.name }}</mat-option
            >
          </mat-select>
          <mat-error *ngIf="watchDayForm.get('product_id')?.hasError('required')">
            Product is required.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="mt-2">
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Select Background Color</mat-label>
          
          <!-- Color Picker Integration -->
          <input
            matInput
            formControlName="background_color"
            (colorPicker)="watchDayForm.get('background_color')?.value"
            
            [cpOutputFormat]="'hex'"
            [cpPosition]="'bottom'"
            required
          />
          
          <!-- Error Handling -->
          <mat-error
            *ngIf="watchDayForm.get('background_color')?.hasError('required')"
          >
            Background Color is required.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="mt-3">
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Type</mat-label>
          <input required matInput formControlName="type" />
          <mat-error *ngIf="watchDayForm.get('type')?.hasError('required')">
            Type is required.
          </mat-error>
          <mat-error *ngIf="watchDayForm.get('type')?.hasError('maxlength')">
            Description cannot exceed 40 characters.
          </mat-error>
        </mat-form-field>
      </div>

      <!-- <div>
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Select Language</mat-label>
          <mat-select formControlName="selectedLangtype">
            <mat-option (click)="changeLang('eng')" value="eng">English</mat-option>
            <mat-option (click)="changeLang('ar')" value="ar">Arabic</mat-option>
          </mat-select>
        </mat-form-field>
      </div> -->
      
 <!-- English Text Field -->
      <div class="mt-3">
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Enter English Description</mat-label>
          <input required matInput formControlName="english_text" />
          <mat-error *ngIf="watchDayForm.get('english_text')?.hasError('required')">
            Description is required.
          </mat-error>
          <mat-error *ngIf="watchDayForm.get('english_text')?.hasError('maxlength')">
            Description cannot exceed 500 characters.
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Arabic Text Field -->
      <div class="mt-3">
        <mat-form-field [dir]="watchDayForm.value.selectedLangtype == 'en' ? 'ltr' : 'rtl'"  appearance="outline" style="width: 100%">
          <mat-label>Enter Arabic Description</mat-label>
          <input required matInput formControlName="arabic_text" />
          <mat-error style="text-align: justify !important;" *ngIf="watchDayForm.get('arabic_text')?.hasError('required')">
            Description is required.
          </mat-error>
          <mat-error style="text-align: justify !important;" *ngIf="watchDayForm.get('arabic_text')?.hasError('maxlength')">
            Description cannot exceed 500 characters.
          </mat-error>
        </mat-form-field>
      </div>


      

    <div class="col-md-12 d-flex flex-wrap">
      <div class="col-md-6">
        <div class="upload-box" style="cursor: pointer;" (click)="selectwithOutAttributeImage()">
          <ng-container
            *ngIf="
              with_out_attribute?.url &&
                with_out_attribute.url !== nullimagesUrl;
              else uploadPlaceholderOne
            "
          >
            <img
              *ngIf="
                with_out_attribute?.url &&
                with_out_attribute.url !== nullimagesUrl
              "
              style="height: 100%; width: 100%; object-fit: cover"
              [src]="with_out_attribute.url"
              alt="Attribute Image"
            />

            <button
              *ngIf="
                with_out_attribute?.url &&
                with_out_attribute.url !== nullimagesUrl
              "
              class="delete-btn"
              (click)="removewithOutAttributeImage()"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </ng-container>
          <ng-template #uploadPlaceholderOne>
            <span style="display: contents;font-size: 35px;">+ Upload Attribute</span>
          </ng-template>
        </div>
        <input
          type="file"
          #with_out_attributeInput
          (change)="onwithOutAttributeSelected($event)"
          accept="image/*"
          hidden
        />
      </div>

      <!-- Image Upload Field -->
      <div class="col-md-6">
        <div class="upload-box" style="cursor: pointer;" (click)="selectCoverImage()">
          <ng-container
            *ngIf="
              coverImage?.url &&
                coverImage.url !== nullimagesUrl;
              else uploadPlaceholder
            "
          >
            <img
              *ngIf="
                coverImage?.url &&
                coverImage.url !== nullimagesUrl
              "
              style="height: 100%; width: 100%; object-fit: cover"
              [src]="coverImage.url"
              alt="Cover Image"
            />

            <button
              *ngIf="
                coverImage?.url &&
                coverImage.url !== nullimagesUrl
              "
              class="delete-btn-two"
              (click)="removeCoverImage()"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </ng-container>
          <ng-template #uploadPlaceholder>
            <span style="display: contents;font-size: 35px;">+ Upload Banner</span>
          </ng-template>
        </div>
        <input
          type="file"
          #coverImageInput
          (change)="onCoverImageSelected($event)"
          accept="image/*"
          hidden
        />
      </div>
    </div>
      <!-- Save Button -->
      <div class="col-12 d-flex flex-wrap mt-3 gap-2 justify-content-center">
        <button
        *ngIf="!param"
        class="save-btn"
        (click)="saveData()"
          
        >
          Save
        </button>

        <button
        *ngIf="param"
        class="save-btn"
        (click)="saveData()"
        
        >
          Edit
        </button>
        
        <button
        (click)="cancelForm()"
        class="cancel-btn"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
