<!-- <lib-ngx-image-zoom
    [thumbImage]=myThumbnail
    [fullImage]=myFullresImage
></lib-ngx-image-zoom> -->


<div *ngIf="!showHeader" class="">
  <app-admin-page-header></app-admin-page-header>
</div>

<div *ngIf="showHeader" (click)="closeSearchBox()">
  <app-header *ngIf="!hideaccessoriesHeader"></app-header>
  <router-outlet></router-outlet>
  <app-footer-component></app-footer-component>
  <div *ngIf="loaderService.isLoading | async" class="loader">
    Loading...
  </div>
  
</div>

<div
  *ngIf="alertService.alert$ | async as alert"
  class="container mt-4 alert-cont-style"
  [ngStyle]="alertPositionStyle"
  style="width: auto;">
  <div
    class="custom-alert"
    [ngClass]="{
      'custom-success': alert.type === 'success',
      'custom-danger': alert.type === 'danger',
      'custom-warning': alert.type === 'warning',
      'custom-info': alert.type === 'info'
    }"
    role="alert"
  >
    {{ alert.message }}
    <button type="button" class="btn-close" (click)="closeAlert()" aria-label="Close"></button>
  </div>
</div>


<router-outlet></router-outlet>
