<div *ngIf="!showHeader" class="">
  <app-admin-page-header></app-admin-page-header>
</div>

<div *ngIf="showHeader">
  <app-header></app-header>
  <router-outlet></router-outlet>
  <app-footer-component></app-footer-component>
</div>

<div style="position: absolute; right: 15px; top: 80px; width: auto" class="container mt-4"
  *ngIf="alertService.alert$ | async as alert">
  <div [ngClass]="'alert alert-' + alert.type + ' alert-dismissible fade show'" role="alert">
    <strong>{{ alert.type | titlecase }}!</strong> {{ alert.message }}
    <button type="button" class="btn-close" (click)="closeAlert()" aria-label="Close"></button>
  </div>
</div>
