<!-- <div *ngIf="!showHeader" class="row g-0">
  <app-admin-navbar></app-admin-navbar>
</div>
<div *ngIf="!showHeader" class="row g-0">
  <div class="split-screen">
    <div class="sidebar">
      <app-admin-sidebar></app-admin-sidebar>
    </div>
    <div class="main-router">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<div *ngIf="showHeader">
  <app-header></app-header>
</div>

<router-outlet></router-outlet>

<div *ngIf="showHeader">
  <app-footer-component></app-footer-component>
</div>

<div
  style="position: absolute; right: 15px; top: 80px; width: auto"
  class="container mt-4"
  *ngIf="alertService.alert$ | async as alert"
>
  <div
    [ngClass]="'alert alert-' + alert.type + ' alert-dismissible fade show'"
    role="alert"
  >
    <strong>{{ alert.type | titlecase }}!</strong> {{ alert.message }}
    <button
      type="button"
      class="btn-close"
      (click)="closeAlert()"
      aria-label="Close"
    ></button>
  </div>
</div> -->


<div *ngIf="!showHeader" class="row g-0">
  <app-admin-navbar></app-admin-navbar>
</div>

<div *ngIf="!showHeader" class="row g-0">
  <div class="split-screen">
    <div class="sidebar">
      <app-admin-sidebar></app-admin-sidebar>
    </div>
    <div class="main-router">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<div *ngIf="showHeader">
  <app-header></app-header>
  <router-outlet></router-outlet> <!-- Only one router outlet -->
  <app-footer-component></app-footer-component>
</div>

<div
  style="position: absolute; right: 15px; top: 80px; width: auto"
  class="container mt-4"
  *ngIf="alertService.alert$ | async as alert"
>
  <div
    [ngClass]="'alert alert-' + alert.type + ' alert-dismissible fade show'"
    role="alert"
  >
    <strong>{{ alert.type | titlecase }}!</strong> {{ alert.message }}
    <button
      type="button"
      class="btn-close"
      (click)="closeAlert()"
      aria-label="Close"
    ></button>
  </div>
</div>

