<div class="global-main-wraper text-center mt-5 mb-5">
  <h2>{{ "popular_brands.label" | translate }}</h2>
  <div class="brands-grid mt-4">
    <div
      class="brand-item"
      *ngFor="let brand of brandsList | slice : 0 : 10"
      [ngClass]="{'disabled': brand.products_count === 0}"
      (click)="brand.products_count > 0 ? getDetails(brand) : null"
      matTooltip="{{ brand.products_count === 0 ? 'Products do not exist' : '' }}"
    >
      <img
      [src]="'https://api.chronosouq.com/' + brand.cover_image"
      style="height: 100%;width: 100%;"
        alt="{{ 'popular_brands.rolex' | translate }}"
      />
      <div
        class="brand-label"
        style="display: flex; justify-content: space-around"
      >
        <p>{{ brand.name }}</p>
        <p>Products : {{ brand.products_count }}</p>
      </div>
    </div>
  </div>
  <button (click)="goToProductList()" class="display-all-button">
    {{ "popular_brands.display_all" | translate }}
  </button>
</div>