.container-div {
  padding: 0 0 0 135px;
}

.header-label {
  font-size: 35px;
  font-weight: 600;
  color: #242424;
}

.timer-box {
  background-color: #f8f9fa;
  border-radius: 8px;
  padding: 10px 20px 10px 20px;
  width: auto;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.timer-box p {
  font-weight: 500;
  margin: 0;
  font-size: 16px;
}

.display-4 {
  font-weight: 500;
  margin-bottom: 0;
  font-size: 3vh !important;
}

.carousel-inner img {
  object-fit: cover;
  height: 300px;
}


::ng-deep .p-carousel .p-carousel-prev,
::ng-deep .p-carousel .p-carousel-next {
  position: absolute;
  bottom: 3%;
  transform: translateY(-50%);
  z-index: 10;
}

::ng-deep .p-carousel .p-carousel-prev {
  left: 58%;
}

::ng-deep .p-carousel .p-carousel-next {
  right: 31%;
}


/* Media query for medium screens (tablets and small desktops) */
@media (max-width: 1024px) {
  ::ng-deep .p-carousel .p-carousel-prev {
    left: 60%;
  }

  ::ng-deep .p-carousel .p-carousel-next {
    right: 27%;
  }
}


@media (max-width: 990px) {
  ::ng-deep .p-carousel .p-carousel-prev {
    left: 62%;
  }

  ::ng-deep .p-carousel .p-carousel-next {
    right: 31%;
  }
}

/* Media query for small screens (mobile phones) */
@media (max-width: 768px) {
  ::ng-deep .p-carousel .p-carousel-prev {
    left: 76%;
  }

  ::ng-deep .p-carousel .p-carousel-next {
    right: 15%;
  }

  ::ng-deep .p-carousel-indicators {
    gap: 0;
    width: -webkit-fill-available;
    position: absolute;
    left: 35%;
    bottom: 0;
  }

}

/* Media query for very small screens (narrow mobile screens) */
@media (max-width: 561px) {

  ::ng-deep .p-carousel .p-carousel-prev,
  ::ng-deep .p-carousel .p-carousel-next {
    left: auto !important;
    right: auto !important;
    bottom: auto !important;
    position: relative !important;

  }

  ::ng-deep .p-carousel-indicators {
    width: 100%;
    position: relative !important;
    bottom: 0;
    left: auto !important;
  }

  .display-4 {
    font-size: 2vh !important;
  }
}


::ng-deep .p-carousel-indicators {
  gap: 0;
  width: -webkit-fill-available;
  position: absolute;
  bottom: 0;
}

::ng-deep .p-carousel-indicators .p-carousel-indicator button {
  height: 10px;
  width: 10px;
  border-radius: 10px
}


::ng-deep .p-carousel-indicators .p-carousel-indicator {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
}

::ng-deep .p-carousel-indicators .p-carousel-indicator.p-carousel-indicator-active {
  background-color: rgba(255, 255, 255, 1);
}

::ng-deep .p-carousel-item {
  height: 320px !important;
  width: 300px !important;
}

::ng-deep .p-carousel-item-start {
  height: 400px !important;
  width: 350px !important;
}


::ng-deep .p-carousel-item .border-round {
  height: 97%;
}

::ng-deep .p-carousel-item .border-round .mb-3 {
  height: 100%;
}

::ng-deep .p-carousel-item .border-round .mb-3 .relative {
  height: 100%;
}

::ng-deep .p-carousel-item .border-round .mb-3 .relative img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}




@media (max-width: 1024px) {
  .container-div {
    padding: 0 5px 0 5px !important;
  }
}

.reverse-order {
  flex-direction: row-reverse;
}

.reverse-order-labels h2 {
  text-align: end;
}

.reverse-order-labels p {
  text-align: end;
}

.reverse-order-labels .d-flex {
  justify-content: flex-end;
}

.reverse-order-time h5 {
  text-align: end;
}

.reverse-order-time .d-flex {
  justify-content: flex-end;
}


.custom-tag {
  position: absolute;
  background-color: #f4f4f4;
  color: #333;
  border-radius: 10px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 400;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: inline-flex;
  align-items: center;
}

.custom-tag>.p-tag {
  background: #333;
}

.custom-tag span {
  font-weight: bold;
  margin-right: 8px;
}

.custom-separator {
  margin: 0 8px;
}


.img-details {
  position: absolute;
  left: 5%;
  right: 5%;
  bottom: 5%;
  background: white;
  padding: 5px;
  border-radius: 5px;
  width: -webkit-fill-available;
}


::ng-deep .p-carousel-item .border-round .mb-3 .relative .img-details {
  display: none !important;
}

::ng-deep .p-carousel-item-start .border-round .mb-3 .relative .img-details {
  display: block !important;
  position: absolute;
  left: 5%;
  right: 5%;
  bottom: 5%;
  background: white;
  padding: 5px;
  border-radius: 5px;
  width: -webkit-fill-available;
}