<div
  class="global-main-wraper d-flex flex-wrap justify-content-between mt-5 mb-5"
>
  <div class="container-fluid list-data">
    <div
      class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-between align-items-center"
      [ngClass]="{ 'reverse-order': translateService.currentLang !== 'en' }"
    >
      <p class="text-center font-size-28 font-wight-600 color-242424">
        {{ "product_listing.Watch_Listing" | translate }}
      </p>
      <button
        class="custom-filter-btn"
        (click)="openFilters()"
      >
        <img src="../assets/images/hugeicons_filter.png" />
        {{ "product_listing.filters" | translate }}
        <img src="../assets/images/FiChevronDown.png" />
      </button>
    </div>
    <div [ngClass]="{ 'reverse-filter-order': translateService.currentLang !== 'en' }"
     *ngIf="isShowFilters" class="filter-Div p-3 border rounded">
      <div class="filters-top-header">
        <h5 class="mb-3">{{ "product_listing.filters" | translate }}</h5>
        <button
          style="border: none; background: none; color: #242424"
          (click)="clearFilters()"
        >
          {{ "product_listing.cleaer_filter" | translate }}
        </button>
      </div>
      <!-- Categories Section -->
      <div class="mb-4 border-bottom-color">
        <p
          [ngClass]="{ 'reverse-order': translateService.currentLang !== 'en' }"
          class="font-size-16 font-wight-600 color-242424 margin-0"
        >
          {{ "product_listing.categories" | translate }}
        </p>
        <div class="row mt-2">
          <div
            class="col-md-4 d-flex flex-wrap"
            *ngFor="let category of categories | slice : 0 : 8"
          >
            <div class="form-check d-flex flex-wrap">
              <input
                type="checkbox"
                class="form-check-input"
                [id]="'category-' + category.id"
                [(ngModel)]="category.selected"
              />
              <label class="form-check-label" [for]="'category-' + category.id">
                {{ category.name }}
              </label>
            </div>
          </div>
        </div>
      </div>

      <!-- Watch Type Section -->
      <div class="mb-4 border-bottom-color">
        <p
          [ngClass]="{ 'reverse-order': translateService.currentLang !== 'en' }"
          class="font-size-16 font-wight-600 color-242424 margin-0"
        >
          {{ "product_listing.watch_type" | translate }}
        </p>
        <div class="row mt-2">
          <div
            class="col-md-4 d-flex flex-wrap"
            *ngFor="let type of watchTypes | slice : 0 : 8"
          >
            <div class="form-check d-flex flex-wrap">
              <input
                type="checkbox"
                class="form-check-input"
                [id]="'watch-type-' + type.id"
                [(ngModel)]="type.selected"
              />
              <label class="form-check-label" [for]="'watch-type-' + type.id">
                {{ type.name }}
              </label>
            </div>
          </div>
        </div>
      </div>

      <!-- Price Range Section -->
      <div class="mb-4">
        <p
          [ngClass]="{ 'reverse-order': translateService.currentLang !== 'en' }"
          class="font-size-16 font-wight-600 color-242424 margin-0"
        >
          {{ "product_listing.price_range" | translate }}
        </p>
        <div class="range-container mt-3" #range>
          <!-- Track -->
          <div class="range-track"></div>
        
          <!-- Min (Left) Thumb -->
          <span
            class="range-thumb first-thumb"
            [style.left.%]="minPercentage"
            (mousedown)="startDragging($event, 'min')"
          >
            <img class="first-imggg" src="../assets/images/price-range-lessthen-icon.png" />
            <img class="second-imggg" style="margin-top: 5px;" src="../assets/images/price-range-icon.png" />
          </span>
        
          <!-- Max (Right) Thumb -->
          <span
            class="range-thumb"
            [style.left.%]="maxPercentage"
            (mousedown)="startDragging($event, 'max')"
          >
            <img class="first-img"  style="margin-top: 5px;" src="../assets/images/price-range-icon.png" />
            <img class="second-img" src="../assets/images/price-range-lessthen-icon.png" />
          </span>
        </div>
    
        <div class="d-flex align-items-center justify-content-between mt-4">
          <div style="display: flex; flex-direction: column">
            <p class="font-size-14 font-wight-400 color-969696 margin-0">
              {{ "product_listing.from" | translate }}
            </p>
            <p class="font-size-16 font-wight-700 color-242424 margin-0">
              SR {{ currentValue }}
            </p>
          </div>
          <div style="display: flex; flex-direction: column">
            <p class="font-size-14 font-wight-400 color-969696 margin-0">
              {{ "product_listing.to" | translate }}
            </p>
            <p class="font-size-16 font-wight-700 color-242424 margin-0">
              SR {{max}}
            </p>
          </div>
        </div>
      </div>

      <!-- Apply Filters Button -->
      <button
        class="btn btn-dark w-100 custom-apply-filter-btn"
        (click)="applyFilters()"
      >
        Apply Filters
      </button>
    </div>

    <div
    *ngIf="(selectedCategories?.length > 0 || selectedWatchTypes?.length > 0) && isFiltereredOptionIsShow" class="container-fluid mt-3">
      <div  class="col-md-12 d-flex flex-wrap align-items-center">
        <div class="col-md-10 d-flex flex-wrap">
          <!-- Display selected categories -->
 
            <!-- <h5>Selected Categories:</h5> -->
            <ul *ngIf="selectedCategories?.length > 0" class="d-flex flex-wrap align-items-center gap-1" style="list-style: none !important;">
              <li *ngFor="let category of selectedCategories" class="d-flex align-items-center li-styl">
                <span>{{ category.name }}</span>
                <button type="button" class="btn btn-link p-0 ms-2" (click)="removeCategory(category.id)">
                  <i class="fas fa-times-circle" style="color: white;"></i>
                </button>
              </li>
            </ul>
     
    
            <!-- <h5>Selected Watch Types:</h5> -->
            <ul *ngIf="selectedWatchTypes?.length > 0" class="d-flex flex-wrap align-items-center gap-1" style="list-style: none !important;">
              <li *ngFor="let watchType of selectedWatchTypes" class="d-flex align-items-center li-styl">
                <span>{{ watchType.name }}</span>
                <button type="button" class="btn btn-link p-0 ms-2" (click)="removeWatchType(watchType.id)">
                  <i class="fas fa-times-circle" style="color: white;"></i>
                </button>
              </li>
            </ul>
      
        </div>
    
        <div class="col-md-2 d-flex justify-content-end">
          <button
          style="border: none; background: none; color: #242424"
          (click)="clearFilters()"
        >
          {{ "product_listing.cleaer_filter" | translate }}
        </button>
     
        </div>
      </div>
    </div>

    <div class="container-fluid mt-3">
      <div class="row">
        <div *ngIf="isLoading">
          <app-skeleton-loader [isLoading]="isLoading"></app-skeleton-loader>
        </div>
        <div
          class="col-12"
          *ngIf="showList?.length == 0"
          style="
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 34px;
            font-weight: 500;
          "
        >
          No record exist
        </div>
        <div class="d-flex flex-wrap" *ngIf="!isLoading">

          <div [ngClass]="{ 'reverse-order-products': translateService.currentLang !== 'en' }" class="col-md-3 col-sm-6 mb-4" *ngFor="let watch of showList">
            <div class="card h-100 shadow-sm">
              <a
                [routerLink]="['/buy-product']"
                [queryParams]="{ id: watch.id }"
                class="card-img-link"
              >
                <img
                  style="cursor: pointer"
                  [src]="'https://api.chronosouq.com/' + watch.main_image"
                  class="card-img-top"
                  alt="watch image"
                />
              </a>
              <div class="card-body">
                <div
                  class="d-flex justify-content-between align-items-center mb-2"
                >
                  <div>
                    <p
                      class="font-size-16 font-wight-400 color-6a6a6a"
                      style="margin: 0 !important"
                    >
                      {{ watch.brand.name }} | {{ watch.model || "N/A" }}
                    </p>
                  </div>
                  <div>
                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                  </div>
                </div>
                <div
                  class="d-flex justify-content-between align-items-center mt-2"
                >
                  <p class="card-title d-flex flex-wrap">
                    {{ watch.title }}
                  </p>
                </div>
                <div
                  class="d-flex justify-content-between align-items-center mt-3"
                >
                  <p class="price">
                    +{{ watch.shipping_charges }} {{ watch.currency }} Shipping
                  </p>
                  <div>
                    <p class="price">Location</p>
                  </div>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <p class="card-title-two">{{ watch.price }}</p>
                  <p class="card-title-two">{{ watch.created_by.city }}</p>
                </div>
                <div
                  *ngIf="watch.created_by.type === 'user'"
                  class="d-flex mt-2"
                >
                  <p class="seller-chip"> Private Seller </p>
                </div>
                <div
                  *ngIf="watch.created_by.type === 'dealer'"
                  class="d-flex mt-2"
                >
                <p class="seller-chip">  Dealer </p>
                </div>
              </div>
            </div>
            <div class="heart-icon">
              <div class="featured-icon">
                <div
                  *ngIf="watch.feature_item === 1"
                  class="featured-promoted-class-badge"
                >
                  Featured
                </div>

                <div
                  *ngIf="watch.feature_item !== 1 && watch.is_promoted === 1"
                  class="featured-promoted-class-badge"
                >
                  Promoted
                </div>
              </div>
              <i
                *ngIf="isUserLogin === 'true'"
                (click)="addWishList(watch)"
                class="fa"
                [ngClass]="
                  wishList?.includes(watch.id) ? 'fa-heart' : 'fa-heart fa-heart-o'
                "
                aria-hidden="true"
              ></i>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div  [ngClass]="{ 'reverse-pagination-order': translateService.currentLang !== 'en' }"
     *ngIf="showList?.length !== 0 && !isLoading" class="col-md-12 d-flex justify-content-between align-items-center mt-3 mb-3">
      <div class="col-md-6 d-flex align-items-center gap-2 revere-pagination-one">
        <label for="itemsPerPage" class="form-label">Showing {{fromItem}} to {{toItem}} of {{totalItems}}:</label>
        <select
          id="itemsPerPage"
          class="form-select w-auto"
          [(ngModel)]="itemsPerPage"
          (change)="onItemsPerPageChange()"
        >
          <option *ngFor="let option of itemsPerPageOptions" [value]="option">
            {{ option }}
          </option>
        </select>
      </div>
    
      <div class="col-md-6 revere-pagination-two">
        <button
          class="pagination-btn"
          [disabled]="currentPage === 1"
          (click)="changePage(currentPage - 1)"
        >
          &lt;
        </button>
    
        <button
          *ngFor="let pageNumber of totalPageNumbers"
          class="pagination-btn"
          [ngClass]="{ active: pageNumber === currentPage }"
          (click)="changePage(pageNumber)"
        >
          {{ pageNumber }}
        </button>
    
        <button
          class="pagination-btn"
          [disabled]="!isnextPage"
          (click)="changePage(currentPage + 1)"
        >
          &gt;
        </button>
      </div>
    </div>
  </div>
</div>




