.custom-dropdown-panel .mat-option {
  display: block !important;
  height: auto !important;
  min-height: auto !important;
}

.carousel {
  margin-top: 20px;
  height: 360px;
}
.carousel-indicators {
  list-style: none;
  position: relative !important;
}
.carousel-indicators li {
  background-color: #000;
}

.product-card{
  max-width: 100%;
  border: 1px solid #ddd !important;
  cursor: pointer;
  /* max-height: 240px; */
  box-shadow: none !important;
}

.card-text {
  font-size: 1rem;
  color: #555;
}

.card {
  border: none;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 5px 8px rgba(0, 0, 0, 0.1),
    4px 0 8px rgba(0, 0, 0, 0.1), 5px 0 8px rgba(0, 0, 0, 0.1); */
  margin-bottom: 10px;
}



.card-title {
  font-size: 16px;
  font-weight: 700;
  color: #242424;
}

.card-text {
  color: #242424;
}

.card-footer small {
  font-size: 0.875rem;
}

.border-end {
  border-right: 1px solid #ddd; /* Customizes the right border line */
}

.card-img-top {
  height: 75%;
  object-fit: fill;
  padding: 10px;
}



.carousel-item {
  height: 100% !important;
}

.carousel-container {
  display: flex;
  overflow: hidden;
}


.price-text {
  display: flex; 
  justify-content: space-between;
  margin: 0 !important;
}

.carousel-item {
  flex: 1 0 25%; /* 4 cards for larger screens */
}

@media (max-width: 1200px) {
  .carousel-item {
    flex: 1 0 25%; /* 4 cards for medium screens */
  }
}

@media (max-width: 992px) {
  .carousel-item {
    flex: 1 0 33%; /* 3 cards for smaller screens */
  }
}

@media (max-width: 768px) {
  .carousel-item {
    flex: 1 0 50%; /* 2 cards for mobile screens */
  }
}

@media (max-width: 576px) {
  .carousel-item {
    flex: 1 0 100%; /* 1 card for extra small screens */
  }
}


.reverse-order {
  flex-direction: row-reverse;
}

.reverse-order .badge{
  right: 15px !important;
  position: absolute;
  left: auto !important;
}


.reverse-order .card-title{
  text-align: end;
}

.reverse-order .card-text{
 justify-content: flex-start !important;
}

.reverse-order-for-product-det{
  flex-direction: row-reverse;
}

.reverse-order-for-product-det ul{
  flex-direction: row-reverse;
}

.price-text-stl p{
  display: flex;
  text-align: start !important;
}













.prod-card {
  display: flex;
  flex-wrap: wrap;
}

.img-div-ht{
  height: 170px;
}

.product-card-img {
  height: 100%;
  width: 100%;
  padding: 0;
  object-fit: scale-down;
}

.badge {
  font-size: 0.8rem;
  top: 0;
  left: 4px;
  position: absolute;
}

.list-unstyled {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 !important;
}

.prod-lt-hg {
  font-size: 14px;
  font-weight: 500;
  color: #666;
  margin: 0 !important;
}

.li-val {
  font-size: 14px;
  font-weight: 500;
  color: #666;
  margin: 0 !important;
}

.card-body {
  padding: 3px 15px 3px 15px !important;
}

.card-a {
  border-bottom: 1px solid #b3b3b3;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
  padding-bottom: 6px;
}

.fa-heart-o {
  color: #a09494 !important;
}

.fa-heart {
  color: #ff4d4d;
}

.featured-icon {
  background-color: #fff;
  padding: 0 8px;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
  color: red;
  font-size: 15px;
  font-weight: 600;
}