<div class="">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-2">
            <br />
            <h1>Accessories</h1>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
      <div class="row g-0">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="table">
            <mat-card class="mt">
              <mat-card-content>
                <!-- <div class="row">
                  <div class="col-12 d-flex flex-wrap gap-2 align-items-center">
                    <mat-form-field appearance="outline">
                      <mat-label>Search</mat-label>
                      <input matInput [(ngModel)]="name" placeholder="" #input />
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                      <mat-label>Category</mat-label>
                      <mat-select [(ngModel)]="category_ids" multiple>
                        <mat-option *ngFor="let cat of categoryList" [value]="cat.id">{{cat.name}}</mat-option>
                      </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                      <mat-label>Brand</mat-label>
                      <mat-select [(ngModel)]="brand_ids" multiple>
                        <mat-option *ngFor="let brand of brandsList" [value]="brand.id">{{brand.name}}</mat-option>
                      </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                      <mat-label>Gender</mat-label>
                      <mat-select [(ngModel)]="watch_gender">
                        <mat-option value="Mens watch">Mens Watch</mat-option>
                        <mat-option value="Unisex">Unisex</mat-option>
                        <mat-option value="Womens watch">Womens Watch</mat-option>
                      </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                      <mat-label>Sort By</mat-label>
                      <mat-select [(ngModel)]="sort_by">
                        <mat-option value="name">Name</mat-option>
                        <mat-option value="created_at">Created At</mat-option>
                        <mat-option value="price">Price</mat-option>
                      </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                      <mat-label>Order By</mat-label>
                      <mat-select [(ngModel)]="sort_order">
                        <mat-option value="asc">Ascending</mat-option>
                        <mat-option value="desc">Descending</mat-option>
                      </mat-select>
                    </mat-form-field>

                    <button class="apply-filter-btn" (click)="loadData()">Apply Filter</button>
                    <button class="clear-filter-btn" (click)="ClearFilter()">Clear Filter</button>
                  </div>
                  <div class="col-4 col-lg-4 col-md-4 col-sm-6 d-flex justify-content-end align-items-center">
                  </div>
                </div> -->
                <div class="row">
                    <div class="col-12 d-flex justify-content-end">
                        <button
                            [hidden]="!isAdmin()"
                            mat-raised-button
                            color="primary"
                            (click)="openModal()"
                        >
                            <mat-icon>add_circle_outline</mat-icon>Add Accessories
                      </button>
                    </div>
                </div>
                <mat-card>
                  <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
                      <!-- ID Column -->
                      <ng-container class="column" matColumnDef="name">
                        <th mat-header-cell class="column" *matHeaderCellDef>
                          Name
                        </th>
                        <td mat-cell class="column" *matCellDef="let row">
                          {{ row?.name }}
                        </td>
                      </ng-container>

                      <!-- Watch Type Column -->
                      <ng-container matColumnDef="watch_type">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Watch Type</th>
                        <td mat-cell *matCellDef="let row">{{ row?.watch_type }}</td>
                      </ng-container>

                      <!-- Brand Name Column -->
                      <ng-container matColumnDef="brand">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Brand Name</th>
                        <td mat-cell *matCellDef="let row">{{ row?.brand?.name }}</td>
                      </ng-container>

                      <!-- Cover Image Column -->
                      <ng-container matColumnDef="cover_image">
                        <th mat-header-cell *matHeaderCellDef>Cover Image</th>
                        <td mat-cell *matCellDef="let row">
                          <img style="height: 60px; width: 70px; border-radius: 10px; object-fit: cover;" [src]="apipath + row?.main_image" />
                        </td>
                      </ng-container>

                      <!-- Created By Column -->
                      <ng-container matColumnDef="created_by">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Created By</th>
                        <td mat-cell *matCellDef="let row">{{ row?.created_by?.name }}</td>
                      </ng-container>

                      <!-- Published Date Column -->
                      <ng-container matColumnDef="published_date">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Published Date</th>
                        <td mat-cell *matCellDef="let row">{{ row?.published_date | date: 'dd/MM/yyyy' }}</td>
                      </ng-container>

                      <!-- Sale Status Column -->
                      <ng-container matColumnDef="sale_status">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Sale Status</th>
                        <td mat-cell *matCellDef="let row">{{ row?.sale_status === 'reserved' ? 'Reserved' : row?.sale_status === 'for_sale' ? 'For Sale' : 'Sold' }}</td>
                      </ng-container>

                      <!-- Model Column -->
                      <ng-container matColumnDef="model">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Model</th>
                        <td mat-cell *matCellDef="let row">{{ row?.model }}</td>
                      </ng-container>

                      <!-- Is Active Column -->
                      <ng-container matColumnDef="is_active">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Is Active</th>
                        <td mat-cell *matCellDef="let row">{{ row?.is_active === 0 ? 'No' : 'Yes' }}</td>
                      </ng-container>

                      <!-- Is Popular Column -->
                      <ng-container matColumnDef="popular_item">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Is Popular</th>
                        <td mat-cell *matCellDef="let row">{{ row?.popular_item }}</td>
                      </ng-container>

                      <!-- Action Column -->
                      <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef>Action</th>
                        <td mat-cell *matCellDef="let row">
                          <button mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                          <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="deleteProduct(row)">
                              <mat-icon>delete</mat-icon>
                              <span>Delete</span>
                            </button>
                            <button mat-menu-item (click)="editProduct(row)">
                              <mat-icon>edit</mat-icon>
                              <span>Edit</span>
                            </button>
                             <button mat-menu-item (click)="activateProduct(row)">
                              <mat-icon>refresh</mat-icon>
                              <span>Active Accessory</span>
                            </button>

                            <button mat-menu-item (click)="addPopularProduct(row)">
                              <mat-icon>refresh</mat-icon>
                              <span>Add to Popular</span>
                            </button>

                           <button mat-menu-item (click)="addFeatureProduct(row)">
                              <mat-icon>refresh</mat-icon>
                              <span>Add To Feature</span>
                            </button>
                          </mat-menu>
                        </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

                      <!-- Row shown when there is no matching data. -->
                      <!-- <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching the filter "{{ input.value }}"</td>
                      </tr> -->
                    </table>

                    <mat-paginator
                    [length]="resultsLength"
                    [pageSize]="pageSize"
                    [pageSizeOptions]="[5, 10, 25, 100]"
                    showFirstLastButtons
                    (page)="onPageChange($event)"
                  >
                  </mat-paginator>
                                  </div>
                </mat-card>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
