<div id="productCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div
      class="carousel-item"
      *ngFor="let product of watchDetails; let i = index"
      [class.active]="i === 0"
    >
      <div
        class="row w-100"
        [ngStyle]="{
          'background-color':
            translateService.currentLang === 'en' ? '#f8f8f8' : '#333333'
        }"
        [ngClass]="{ 'reverse-order': translateService.currentLang !== 'en' }"
      >
        <div
          [ngClass]="{
            'col-md-6': translateService.currentLang !== 'en',
            'col-md-5': translateService.currentLang === 'en'
          }"
          class="col-12 bg-left"
        >
          <div
            [ngClass]="{
              'reverse-order-res-img': translateService.currentLang !== 'en'
            }"
          >
            <img
              [src]="'https://api.chronosouq.com/' + product.banner_img"
              alt=""
              style="width: 100%; height: 500px; object-fit: scale-down"
            />
          </div>
        </div>
        <div
          class="col-12 position-relative bg-right"
          [ngClass]="{
            'col-md-6': translateService.currentLang !== 'en',
            'col-md-7': translateService.currentLang === 'en'
          }"
        >
          <div class="watch-details-div">
            <div class="d-flex flex-column text-white">
              <p class="mb-1">{{ product.product.name }}</p>
              <h1 class="display-6 font-size-40 font-wight-600 mt-2 cormorant-styl">
                {{ product.product?.watch_type || "N/A" }}
              </h1>
              <p class="card-text">
                {{ product.product.description }}
              </p>

              <div class="mb-3">
                <span class="font-wight-400 font-size-16">Type:</span>
                <span
                  class="badge bg-light text-dark mx-2"
                  style="padding: 10px 10px 10px 10px"
                  >Limited Edition</span
                >
              </div>

              <h4 class="font-wight-400">
                {{ product.product.currency }} {{ product.product.price }}
              </h4>

              <button class="buy-btn"  (click)="goToProductDetailPage(product)">
                Buy Now
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#productCarousel"
    data-bs-slide="prev"
  >
  <span class="prev-next-span">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#productCarousel"
    data-bs-slide="next"
  >
    <span class="prev-next-span">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </span>
  </button>
</div>
