<div
  class="container-fluid d-flex justify-content-center align-items-center vh-50 mt-5 mb-5 mt-5"
>
  <div
    class="row w-100"
    [ngStyle]="{
      'background-color':
        translateService.currentLang === 'en' ? '#f8f8f8' : '#333333'
    }"
    [ngClass]="{ 'reverse-order': translateService.currentLang !== 'en' }"
  >
    <div class="col-12 col-md-6 bg-left">
      <div
        [ngClass]="{
          'reverse-order-res-img': translateService.currentLang !== 'en'
        }"
      >
        <img
          [src]="
            'https://api.chronosouq.com/' + watchDetails.product.main_image
          "
          alt=""
          style="width: 100%;height: 500px;object-fit: scale-down;"
        />
      </div>
    </div>
    <div class="col-12 col-md-6 position-relative bg-right">
      <div class="watch-details-div">
        <div class="d-flex flex-column text-white">
          <p class="mb-1">{{ watchDetails.product.name }}</p>
          <h1 class="display-6 fw-bold mt-2">SpeedMaster</h1>
          <p class="card-text">
            {{ watchDetails.product.description }}
          </p>

          <div class="mb-3">
            <span class="fw-bold">Type:</span>
            <span class="badge bg-light text-dark mx-2" style="padding: 10px 10px 10px 10px;"
              >Limited Edition</span
            >
          </div>

          <h4>
            {{ watchDetails.product.currency }} {{ watchDetails.product.price }}
          </h4>

          <button class="buy-btn" (click)="goToProductDetailPage()">Buy Now</button>
        </div>
      </div>
    </div>
  </div>
</div>
