.bg-left {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.bg-right {
  /* background-color: #333333; */
  clip-path: polygon(31% 0, 100% 0%, 100% 100%, 0 100%);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.watch-details-div {
  width: 42%;
  padding: 0 15px 0 5px;
}

.buy-btn {
  width: fit-content;
    padding: 10px 50px;
    border-radius: 9px;
    font-weight: 400;
    font-size: 20px;
    border: none;
    background: #ffffff !important;
    color: #242424;
}

@media (max-width: 768px) {
  .bg-left {
    clip-path: none;
  }

  .bg-right {
    /* background-color: #333333; */
    clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 100%);
    justify-content: center;
  }

  .watch-details-div {
    width: 100%;
    padding: 5px 15px 5px 15px;
  }
}

.reverse-order-top {
  flex-direction: row-reverse;
}

.reverse-order {
  flex-direction: row-reverse;
}

.reverse-order-res-img {
  /* width: 70%; */
}

.reverse-order-top .bg-left {
  clip-path: none;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: #f8f8f8; */
}

.reverse-order-top .bg-right {
  clip-path: polygon(0 0, 100% 0%, 65% 100%, 0 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

@media (max-width: 768px) {
  .reverse-order-top .bg-left {
    clip-path: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .reverse-order-top .bg-right {
    clip-path: none;
  }

  .reverse-order-top-res-img {
    width: 100%;
  }
}
.card {
  margin: 15px;
}
.carousel-item .active {
  display: flex;
  justify-content: center;
}

.carousel-item {
  /* display: none; */
}
.carousel-control-next, .carousel-control-prev {
  width: 5% !important;
}


.card-text{
  min-width: 243px;
  max-width: 524px;
}

.prev-next-span {
  display: flex;
  height: 35px;
  min-width: 35px;
  background: brown;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3), -4px -4px 8px rgba(0, 0, 0, 0.2); 
}

.badge {
  font-weight: 400;
  font-size: 16px;
}

@media (max-width: 768px) {
  .carousel-control-next, .carousel-control-prev {
    width: 15% !important;
  }
}