.footer {
  background-color: #242424;
  color: #fff;
  padding: 55px;
}

.header-stl{
  font-weight: 700;font-size: 16px;color: #FFFFFF;
}

.points-stl{
  font-weight: 400;font-size: 14px;color: #FFFFFF;
}


.footer-logo {
  margin: 10px;
  width: 13%;
  text-align: center; 
}

.footer-section {
  flex: 1;
  margin: 10px;
  width: 16%;
}

.footer-section h4 {
  margin-bottom: 10px;
  font-size: 16px;
}

.footer-section p {
  margin: 5px 0;
  font-size: 14px;
}

.payment-methods img {
  margin-right: 10px;
}

.payment-icons {
  display: flex;
}

.img-stl {
  height: 30px;
  width: 38px;
}

@media (max-width: 1024px) {
  .footer-logo, .footer-section {
    width: 100%;
    text-align: center;
  }

  .footer-section {
    margin-bottom: 20px;
  }

  .payment-icons {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    padding: 30px; 
  }

  .footer-section {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }

  .footer-logo {
    margin-bottom: 20px;
  }

  .payment-icons {
    justify-content: center;
    flex-wrap: wrap;
  }

  .payment-methods img {
    margin: 10px;
  }
}

.reverse-order {
  flex-direction: row-reverse;
}
