
<div class="footer">
  <div style="display: flex;justify-content: space-between;flex-wrap: wrap;width: 100%;margin-top: 25px;" [ngClass]="{'reverse-order': isRtl}">
    <div class="footer-logo">
      <img src="./assets/images/footer-logo.png" />
      <p class="header-stl">{{ "footer.all_rights_reserved" | translate }}</p>
    </div>
    <div class="footer-section">
      <p class="header-stl">{{ "footer.buy_on_chronosouq" | translate }}</p>
      <p class="points-stl">{{ "footer.chronosouq_buyer_protection" | translate }}</p>
      <p class="points-stl">{{ "footer.payment_via_methods" | translate }}</p>
      <p class="points-stl">{{ "footer.commitment_authenticity" | translate }}</p>
      <p class="points-stl">{{ "footer.easy_returns" | translate }}</p>
    </div>
    <div class="footer-section">
      <p class="header-stl">{{ "footer.sell_on_chronosouq" | translate }}</p>
      <p class="points-stl">{{ "footer.selling_watches_as_a_private_seller" | translate }}</p>
      <p class="points-stl">{{ "footer.selling_watches_commercially" | translate }}</p>
      <p class="points-stl">{{ "footer.free_appraisal" | translate }}</p>
      <p class="points-stl">{{ "footer.advice_for_private_sellers" | translate }}</p>
    </div>
    <div class="footer-section">
      <p class="header-stl">{{ "footer.about_chronosouq" | translate }}</p>
      <p class="points-stl">{{ "footer.about_us" | translate }}</p>
      <p class="points-stl">{{ "footer.legal_details" | translate }}</p>
      <p class="points-stl">{{ "footer.security" | translate }}</p>
      <p class="points-stl">{{ "footer.advices" | translate }}</p>
    </div>
    <div class="footer-section">
      <p class="header-stl">{{ "footer.personalized_support" | translate }}</p>
      <p class="points-stl">{{ "footer.frequently_asked_questions" | translate }}</p>
      <p class="points-stl">{{ "footer.contact" | translate }}</p>
      <p class="points-stl">{{ "footer.accessibility" | translate }}</p>
    </div>
    <div class="footer-section payment-methods">
      <p class="header-stl">{{ "footer.payment_methods" | translate }}</p>
      <div class="payment-icons">
        <img class="img-stl" src="../../../../assets/images/visa.svg" alt="Visa" />
        <img
          class="img-stl"
          src="../../../../assets/images/mastercard.svg"
          alt="MasterCard"
        />
        <img class="img-stl" src="../../../../assets/images/affirm.svg" alt="AMEX" />
        <!-- <img
          class="img-stl"
          src="./assets/images/visa-img.png"
          alt="Wire Transfer"
        /> -->
        <!-- <img class="img-stl" src="./assets/images/visa-img.png" alt="Affirm" /> -->
      </div>
    </div>
  </div>
</div>
