/* .footer {
  background-color: #0d0d20;
  color: #fff;
  padding: 55px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-logo {
  margin: 10px;
  width: 13%;
}

.footer-section {
  flex: 1;
  margin: 10px;
  width: 16%;
}

.footer-section h4 {
  margin-bottom: 10px;
  font-size: 16px;
}

.footer-section p {
  margin: 5px 0;
  font-size: 14px;
}

.payment-methods img {
  margin-right: 10px;
}

.payment-icons {
  display: flex;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    margin-bottom: 20px;
  }
}

.img-stl {
  height: 30px;
  width: 38px;
} */





.footer {
  background-color: #0d0d20;
  color: #fff;
  padding: 55px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-logo {
  margin: 10px;
  width: 13%;
  text-align: center; /* Center align for smaller screens */
}

.footer-section {
  flex: 1;
  margin: 10px;
  width: 16%;
}

.footer-section h4 {
  margin-bottom: 10px;
  font-size: 16px;
}

.footer-section p {
  margin: 5px 0;
  font-size: 14px;
}

.payment-methods img {
  margin-right: 10px;
}

.payment-icons {
  display: flex;
}

.img-stl {
  height: 30px;
  width: 38px;
}

@media (max-width: 1024px) {
  .footer-logo, .footer-section {
    width: 100%; /* Stack sections on medium screens */
    text-align: center;
  }

  .footer-section {
    margin-bottom: 20px;
  }

  .payment-icons {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    padding: 30px; /* Reduce padding for smaller screens */
  }

  .footer-section {
    width: 100%;
    margin-bottom: 20px;
    text-align: center; /* Center align text for smaller screens */
  }

  .footer-logo {
    margin-bottom: 20px; /* Add spacing between logo and sections */
  }

  .payment-icons {
    justify-content: center;
    flex-wrap: wrap; /* Wrap icons on smaller screens */
  }

  .payment-methods img {
    margin: 10px; /* Increase spacing between icons */
  }
}
