<div class="footer">
  <div class="footer-logo">
    <img src="./assets/images/footer-logo.png" />
    <p>All Rights Reserved</p>
  </div>
  <div class="footer-section">
    <h4>Buy on ChronoSouq</h4>
    <p>ChronoSouq Buyer Protection</p>
    <p>Payment via methods</p>
    <p>Commitment to Authenticity</p>
    <p>Easy Returns</p>
  </div>
  <div class="footer-section">
    <h4>Sell on ChronoSouq</h4>
    <p>Selling Watches as a Private Seller</p>
    <p>Selling Watches Commercially</p>
    <p>Free Appraisal</p>
    <p>Advice for private sellers</p>
  </div>
  <div class="footer-section">
    <h4>About ChronoSouq</h4>
    <p>About us</p>
    <p>Legal Details</p>
    <p>Security</p>
    <p>Advices</p>
  </div>
  <div class="footer-section">
    <h4>Personalized Support</h4>
    <p>Frequently Asked Questions</p>
    <p>Contact</p>
    <p>Accessibility</p>
  </div>
  <div class="footer-section payment-methods">
    <h4>Payment Methods</h4>
    <div class="payment-icons">
      <img class="img-stl" src="./assets/images/man-watch-2.png" alt="Visa" />
      <img
        class="img-stl"
        src="./assets/images/man-watch-2.png"
        alt="MasterCard"
      />
      <img class="img-stl" src="./assets/images/man-watch-2.png" alt="AMEX" />
      <img
        class="img-stl"
        src="./assets/images/man-watch-2.png"
        alt="Wire Transfer"
      />
      <img class="img-stl" src="./assets/images/man-watch-2.png" alt="Affirm" />
    </div>
  </div>
</div>
