.wraper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 45px 220px 0 220px;
}

.card {
  min-height: 465px !important;
}

.text-section h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.text-section p {
  font-size: 16px;
}

.text-section ul {
  list-style-type: none;
  padding: 0;
}

.text-section li {
  font-size: 16px;
}

.checkmark {
  background: #2fab73;
  margin-right: 10px;
  color: #fff;
  border-radius: 50%;
  padding: 4px 8px 0 8px;
  height: 30px;
  width: 30px;
}

.video-section {
  width: 50%;
}

.video-placeholder {
  background-color: #000824;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.play-button {
  font-size: 24px;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
}


@media (max-width: 1500px) {
  .wraper {
    padding: 0 20px 0 20px;
  }
}

@media (max-width: 1024px) {
  .wraper {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px 0 20px;
  }

  .text-section,
  .video-section {
    max-width: 100%;
    width: 100%;
  }

  .video-placeholder {
    height: 200px;
  }
}

@media (max-width: 768px) {
  .text-section h2 {
    font-size: 20px;
  }

  .text-section p,
  .text-section li {
    font-size: 14px;
  }

  .video-placeholder {
    height: 180px;
  }
}

@media (max-width: 480px) {
  .text-section h2 {
    font-size: 18px;
  }

  .text-section p,
  .text-section li {
    font-size: 12px;
  }

  .video-placeholder {
    height: 150px;
  }
}



.reverse-order {
  flex-direction: row-reverse;
}

.reverse-order-li {
  flex-direction: row-reverse;
}

.reverse-order h2 {
  text-align: end;
}

.reverse-order p {
  text-align: end;
}

@media (max-width: 1500px) {
  .reverse-order {
    flex-direction: row-reverse;
  }

  .reverse-order .video-section {
    height: 200px;
  }
}

@media (max-width: 768px) {
  .reverse-order {
    flex-direction: column-reverse;
  }
}



















.category_btn {
  border: 1px solid #F3F3F3;
  height: 40px;
  border-radius: 7px;
  padding: 0 25px 0 25px;
}

.card-title {
  font-size: 18px;
  font-weight: 600;
  color: #484848;
  margin: 0 !important;
}

.card-title-two {
  font-size: 17px;
  font-weight: 500;
  color: #484848;
  margin: 0 !important;
}

.container {
  margin-top: 20px;
}

.card {
  border-radius: 15px;
  overflow: hidden;
  padding: 8px !important;
}

.card-body {
  padding: 8px 0 0 0 !important;
}

.card-img-top {
  height: 260px;
  object-fit: contain;
  background: #F8F8F8;

}

.price {
  font-size: 14px;
  font-weight: 400;
  color: #6a6a6a;
  margin: 0 !important;
}

.rating {
  color: orange;
  font-weight: bold;
}

.star-rating {
  color: orange;
}

.text-danger {
  font-size: 0.8rem;
}

.heart-icon {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 85%;
  top: 18px;
  right: 25px;
}

.featured-icon {
  /* background-color: #FFFFFF; */
  padding: 0 5px 0 5px;
  border-radius: 4px;
}

.seller-chip {
  background-color: #F8F8F8;
  padding: 0 10px 0 10px;
  width: fit-content;
  border-radius: 4px;
}

.heart-icon i {
  color: #ff4d4d;
  font-size: 24px;
  transition: background-color 0.3s ease;
}

.fa-heart-o {
  color: #a09494 !important;
}

.fa-heart {
  color: #ff4d4d;
}



.view_btn {
  border-radius: 6px;
  padding: 10px 25px;
  min-height: 50px !important;
  border: 1px solid #242424;
  background: none;
  color: #242424;
}

.selected-category {
  background-color: black;
  color: white;
}

.reverse-order-products > .card > .card-body > .d-flex {
  flex-direction: row-reverse;
}

.reverse-order-products > .heart-icon  {
  flex-direction: row-reverse;
}