.category_btn {
  border: 1px solid #F3F3F3;
  height: 40px;
  border-radius: 7px;
  padding: 0 25px 0 25px;
}

.container {
  margin-top: 20px;
}

.view_btn {
  border-radius: 6px;
  padding: 10px 25px;
  min-height: 50px !important;
  border: 1px solid #242424;
  background: none;
  color: #242424;
}

.selected-category {
  background-color: black;
  color: white;
}

.reverse-order {
  flex-direction: row-reverse;
}

.reverse-order h2 {
  text-align: end;
}

.reverse-order p {
  text-align: end;
}

@media (max-width: 1500px) {
  .reverse-order {
    flex-direction: row-reverse;
  }
}

@media (max-width: 768px) {
  .reverse-order {
    flex-direction: column-reverse;
  }
}

@media (max-width: 990px) {
  .small-screen-margin {
    margin-top: 75px !important;
  }
}