<div class="wraper mt-3">
  <div class="text-section">
    <h2>{{ "chrono_buyer.label" | translate }}</h2>
    <p>{{ "chrono_buyer.paragraph" | translate }}</p>
    <ul>
      <li>
        <span class="checkmark">&#10003;</span>
        {{ "chrono_buyer.span_payment" | translate }}
      </li>
      <li>
        <span class="checkmark">&#10003;</span>
        {{ "chrono_buyer.span_commitment" | translate }}
      </li>
      <li>
        <span class="checkmark">&#10003;</span>
        {{ "chrono_buyer.span_global" | translate }}
      </li>
      <li>
        <span class="checkmark">&#10003;</span>
        {{ "chrono_buyer.span_strict" | translate }}
      </li>
      <li>
        <span class="checkmark">&#10003;</span>
        {{ "chrono_buyer.span_insured" | translate }}
      </li>
      <li>
        <span class="checkmark">&#10003;</span>
        {{ "chrono_buyer.span_chrono" | translate }}
      </li>
    </ul>
  </div>
  <div class="video-section">
    <div class="video-placeholder">
      <button class="play-button">&#9654;</button>
    </div>
  </div>
</div>
