<div
  class="wraper mt-3"
  [ngClass]="{ 'reverse-order': translateService.currentLang !== 'en' }"
>
  <div class="text-section">
    <h2>{{ "chrono_buyer.label" | translate }}</h2>
    <!-- <p>{{ "chrono_buyer.paragraph" | translate }}</p> -->
    <ul *ngFor="let comment of commentsList | slice : 0 : 5">
      <li
        class="d-flex"
        [ngClass]="{
          'reverse-order-li': translateService.currentLang !== 'en'
        }"
      >
        <span class="checkmark">&#10003;</span>
        <p style="padding: 0 10px 0 10px">
          {{ comment.comment }}
        </p>
      </li>

      <!-- <li class="d-flex" [ngClass]="{'reverse-order-li': translateService.currentLang !== 'en'}">
        <span class="checkmark">&#10003;</span>
        <p style="padding: 0 10px 0 10px;">
        {{ "chrono_buyer.span_commitment" | translate }}
      </p>
      </li>
      <li class="d-flex" [ngClass]="{'reverse-order-li': translateService.currentLang !== 'en'}">
        <span class="checkmark">&#10003;</span>
        <p style="padding: 0 10px 0 10px;">
        {{ "chrono_buyer.span_global" | translate }}
      </p>
      </li>
      <li class="d-flex" [ngClass]="{'reverse-order-li': translateService.currentLang !== 'en'}">
        <span class="checkmark">&#10003;</span>
        <p style="padding: 0 10px 0 10px;">
        {{ "chrono_buyer.span_strict" | translate }}
      </p>
      </li>
      <li class="d-flex" [ngClass]="{'reverse-order-li': translateService.currentLang !== 'en'}">
        <span class="checkmark">&#10003;</span>
        <p style="padding: 0 10px 0 10px;">
        {{ "chrono_buyer.span_insured" | translate }}
      </p>
      </li>
      <li class="d-flex" [ngClass]="{'reverse-order-li': translateService.currentLang !== 'en'}">
        <span class="checkmark">&#10003;</span>
        <p style="padding: 0 10px 0 10px;">
        {{ "chrono_buyer.span_chrono" | translate }}
      </p>
      </li> -->
    </ul>
  </div>
  <div class="video-section">
    <div class="video-placeholder">
      <button class="play-button">&#9654;</button>
    </div>
  </div>
</div>
