.step-circle {
  font-weight: bold;
  font-size: 16px;
}

.bg-active-color {
  background-color: #F8F8F8;
}

.product-card {
  background-image: url('/assets/images/how-back-img.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.img-style {
  width: 98%;
  margin-top: 10px;

}

.back-styl {
  background-image: url('/assets/images/how-back-img.png');
  background-size: cover;
  min-height: 55vh;
  max-height: 55vh;
  background-position: center;
  width: 100%;
}


.res-img {
  max-height: 60vh;
  min-height: 60vh;
  width: 98%;
  object-fit: contain;
}

.cormorant-styl {
  font-size: 5vh;
}

.label-style {
  font-size: 2.5vh;
}

.desc-style {
  font-size: 1.7vh;
}

@media (max-width: 1565px) {
  .cormorant-styl {
    font-size: 3vh;
  }

  .label-style {
    font-size: 1.5vh;
  }

  .desc-style {
    font-size: 1.2vh;
  }
}

/* @media (max-width: 2000px) {
  .images-div {
    margin-top: 75px;
  }
} */


@media (max-width: 1000px) {
  .reverse-res-img .back-styl .mt-4 img {
    height: 44vh !important;
  }

  .reverse-res-img .back-styl {
    height: 41vh !important;
  }
}

@media (max-width: 768px) {
  .reverse-res-img .back-styl .mt-4 img {
    height: 55vh !important;
  }

  .reverse-res-img .back-styl {
    height: 50vh !important;
  }

  .res-img {
    min-height: auto !important;
  }
}

@media (max-width: 424px) {
  .reverse-res-img .back-styl {
    height: 42vh !important;
  }

  .reverse-res-img .back-styl .mt-4 img {
    height: 40vh !important;
  }
}

.reverse-order-header {
  text-align: end;
}
.reverse-order-text {
  flex-direction: row-reverse; /* Reverse the direction of the content */
  text-align: right; /* Align text to the right */
}

.reverse-order-text .me-3 {
  margin-left: 0 !important; /* Reset left margin */
  margin-right: 0.75rem !important; /* Apply margin to the right */
}

.reverse-order {
  flex-direction: row-reverse;
}

.reverse-order h5 {
  text-align: end;
}

.reverse-order .mb-4 {
  text-align: end;
}

.reverse-order .mb-1 {
  text-align: end;
}

.reverse-order-labels .d-flex {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.reverse-order-labels .d-flex .bg-active-color .text-start .mb-1 {
  text-align: end;
}