<app-find-dream-component></app-find-dream-component>
<app-popular-brands-component></app-popular-brands-component>
<app-chronosouq-buyer-protection-component></app-chronosouq-buyer-protection-component>
<app-stay-loop-component></app-stay-loop-component>
<app-most-popular-models-component></app-most-popular-models-component>
<app-explore-chronosouq-component></app-explore-chronosouq-component>
<app-how-works-component></app-how-works-component>
<app-people-syaing-component></app-people-syaing-component>
