<div class="d-flex flex-wrap global-main-wraper mt-5 mb-5">
  <div
    class="col-lg-12 col-md-12 col-sm-12 d-flex flex-wrap mt-5"
    [ngClass]="{ 'reverse-order': translateService.currentLang !== 'en' }"
  >
    <div class="col-lg-6 col-md-6 col-sm-12 conten-div">
      <div class="header-styl">
        <p class="heading-tag">
          {{ "find_dream.heading_tag" | translate }}
        </p>
      </div>
      <p class="para">{{ "find_dream.grow_business" | translate }}</p>
      <div class="d-flex pb-3 mb-sm-3">
        <button class="custom-btn btn btn-dark">
          {{ "find_dream.explore_now" | translate }}
        </button>
        <button (click)="routeToLogin()" *ngIf="isUserLogin === 'false'" class="custom-btn btn mx-2">
          {{ "find_dream.become_seller" | translate }}
        </button>

        <button (click)="routeTo()" *ngIf="isUserLogin === 'true'" class="custom-btn btn mx-2">
          {{ "find_dream.sell_now" | translate }}
        </button>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <ng-container *ngIf="homeData?.slider?.length > 0">
        <div
          id="carouselExample"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div
              class="carousel-item"
              *ngFor="let img of homeData.slider; let i = index"
              [ngClass]="{ active: i === 0 }"
            >
              <img
                class="img-fluid"
                style="object-fit: scale-down !important"
                [src]="'https://api.chronosouq.com/' + img.image"
                alt="{{ 'find_dream.img_alt' | translate }}"
              />
            </div>
          </div>

          <ol class="carousel-indicators">
            <li
              *ngFor="let img of homeData.slider; let i = index"
              [attr.data-bs-target]="'#carouselExample'"
              [attr.data-bs-slide-to]="i"
              [ngClass]="{ active: i === 0 }"
            ></li>
          </ol>
        </div>
      </ng-container>
      <ng-container *ngIf="homeData?.slider?.length === 0">
        <p>No images available</p>
      </ng-container>
    </div>
  </div>
</div>
