.conten-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-styl {
  padding: 0 155px 0 0;
}

.bg-img {
  background-image: url('/assets/images/Bg.png');
  background-size: cover;
}


.para {
  font-size: 20px;
  font-weight: 400;
  color: #6A6A6A;
}

.heading-tag {
  font-size: 48px;
  font-weight: 500;
  color: #242424;
}

@media (max-width: 670px) {
  .header-styl {
    width: 100%;
    display: contents;
  }

  .heading-tag {
    font-size: 27px;
    width: 100%;
  }

  .para {
    font-size: 16px !important;
  }

  .custom-btn {
    height: auto !important;
    width: auto !important;
    font-size: 14px !important;
  }
}

.carousel-inner img {
  width: 100%;
}

.carousel-item {
  height: 650px;
}

.img-fluid {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 5%;
}

.carousel-indicators {
  bottom: 10px;
  list-style: none;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-bottom: 0;
}

.carousel-indicators li {
  background-color: #000;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin: 0 5px;
}

.carousel-indicators li::before {
  content: "";
  display: none;
}

.carousel-indicators .active {
  background-color: #fff;
}

.reverse-order {
  flex-direction: row-reverse;
}

.reverse-order .para {
  text-align: end;
}

.reverse-order .text-alg-right {
  text-align: end;
}

.reverse-order .d-flex {
  justify-content: flex-end;
}

.reverse-order .form-control {
  justify-content: flex-end;
}

.reverse-order h2 {
  text-align: end;
}

.custom-btn {
  height: 60px;
  width: 215px;
  border-radius: 10px;
  border: 1px solid #242424;
  font-size: 20px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reverse-order .header-styl {
  padding: 0px !important;
}

.reverse-order .header-styl p {
  text-align: end;
}