<div
  class="col-lg-12 col-md-12 col-sm-12 d-flex flex-wrap wraper-div"
>
  <div
    class="col-lg-12 col-md-12 col-sm-12 img-text-div"
  >
    <div class="col-lg-6 col-md-12 col-sm-12">
      <h1 class="display-4">
        <span style="color: #a8d8a1">FIND</span> YOUR DREAM
        <span style="color: #a8d8a1">LUXURY</span> WATCHES !!
      </h1>
      <p>
        Grow your business to the next level to improve your business
        performance to stay competitive
      </p>
      <div class="d-flex">
        <input
          class="form-control"
          style="width: 65% !important"
          type="text"
          placeholder="Search through 600,000 watches..."
        />
        <button class="btn btn-dark">Find a watch now</button>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 d-flex flex-wrap mt-5">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <p>10+</p>
          <span>Years Experience</span>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <p>20K+</p>
          <span>Satisfied Customers</span>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <p>263</p>
          <span>Business Partners</span>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <p>263</p>
          <span>Business Partners</span>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">
      <img
        src="./assets/images/landing-page-watches.png"
        alt="Luxury Watches"
        class="responsive-img"
      />
    </div>
  </div>

  <div class="col-lg-12 col-md-12 col-sm-12 pos-relative">
    <div class="mt-5 bus-details">
      <div class="card-div">
        <img src="./assets/images/love-my-watch.png" />
        <p>4.8 out of 5 stars</p>
        <span>From 160,000 Reviews Worldwide</span>
      </div>
      <div class="card-div">
        <img src="./assets/images/love-my-watch.png" />
        <p>9 million</p>
        <span>Watch Enthusiasts Use ChronoSouq Each Month</span>
      </div>
      <div class="card-div">
        <img src="./assets/images/love-my-watch.png" />
        <p>Over 200,000</p>
        <span>Customers Choose Buyer Protection Annually</span>
      </div>
      <div class="card-div">
        <img src="./assets/images/love-my-watch.png" />
        <p>More than 25,000</p>
        <span>Trustworthy Sellers</span>
      </div>
    </div>
  </div>
</div>
