<div class="container my-4">
    <h2>Popular Brands</h2>
    <div *ngFor="let group of groupedBrands | keyvalue">
      <div class="py-3 border-bottom">
        <h5 class="mb-3" style="background-color: #f6f2ee;padding:5px 0 5px 5px;">{{ group.key }}</h5>
        <div class="row">
          <div class="col-md-3 col-6 brand-item" style="cursor: pointer;"
          [ngClass]="{'disabled': brand.products_count === 0}"
          (click)="brand.products_count > 0 ? getDetails(brand) : null"
          matTooltip="{{ brand.products_count === 0 ? 'Products do not exist' : '' }}"
          *ngFor="let brand of group.value">
            {{ brand.name }}
          </div>
        </div>
      </div>
    </div>
  </div>
  