<div class="container d-flex flex-column justify-content-between" style="min-height: 100vh;">
  <!-- Top Section -->
  <div class="col-md-12 flex-grow-1">
    <div class="col-md-12 d-flex flex-column">
      <h5 class="shopping-cart-text pt-4">Shopping Cart</h5>
      <p class="shooping-des">Confirm your order before adding it to cart.</p>

      <div class="card mb-3" style="border: 2px solid #F5F5F5; border-radius: 12px;">
        <div class="row g-2 align-items-center">
          <div class="col-auto">
            <img src="../../../../assets/images/cart-access.svg" class="img-fluid" alt="Product Image" style="width: 60px;">
          </div>
          <div class="col">
            <div class="img-title">Python Skin - Slate Grey</div>
            <div class="img-number">#123456</div>
          </div>
        </div>
      </div>

      <div class="mb-2 d-flex flex-column">
        <label class="label-title">LUG Width</label>
        <button class="btn btn-dark btn-sm text-style">Apple 38/40/41MM</button>
      </div>

      <div class="mb-2 d-flex flex-column">
        <label class="label-title">Buckle/Connector</label>
        <button class="btn btn-dark btn-sm text-style">Black</button>
      </div>

      <div class="mb-2 d-flex flex-column">
        <label class="label-title">Length</label>
        <button class="btn btn-dark btn-sm text-style">Small 115/75MM</button>
      </div>

      <div class="mb-2 d-flex flex-column">
        <label class="label-title">Color</label>
        <div class="rounded border" style="width: 40px; height: 25px; background-color: #9c9ea2;"></div>
      </div>

      <div class="mb-4">
        <label class="label-title">Quantity</label>
        <input type="text" class="form-control w-25" min="1" value="1" readonly="true">
      </div>
    </div>
  </div>

  <!-- Bottom Section -->
  <div class="col-md-12 d-flex flex-column pb-4">
    <div class="d-grid gap-2">
      <button class="btn btn-dark" style="height: 55px; font-size: 18px; font-weight: 400;" (click)="goToCheckout()">Checkout</button>
      <button class="btn btn-outline-dark" style="height: 55px; font-size: 18px; font-weight: 400;" (click)="goToCart()">View Cart</button>
    </div>
  </div>
</div>
