.card-img-top {
    height: 260px;
    object-fit: contain;
    background: #F8F8F8;
  }

  .card-body {
    padding: 8px 0 0 0 !important;
  }

  .card {
    border-radius: 15px;
    overflow: hidden;
    padding: 8px !important;
  }

  .seller-chip {
    background-color: #F8F8F8;
    padding: 0 10px 0 10px;
    width: fit-content;
    border-radius: 4px;
  }

  .heart-icon {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 85%;
    top: 18px;
    right: 25px;
  }

  .heart-icon i {
    color: #ff4d4d;
    font-size: 24px;
    transition: background-color 0.3s ease;
  }
  
  .fa-heart-o {
    color: #a09494 !important;
  }
  
  .fa-heart {
    color: #ff4d4d;
  }
  
  .featured-icon {
    /* background-color: #FFFFFF; */
    padding: 0 5px 0 5px;
    border-radius: 4px;
  }

  .price {
    font-size: 14px;
    font-weight: 400;
    color: #6a6a6a;
    margin: 0 !important;
  }

  .card-title {
    font-size: 18px;
    font-weight: 600;
    color: #484848;
    margin: 0 !important;
  }
  
  .card-title-two {
    font-size: 17px;
    font-weight: 500;
    color: #484848;
    margin: 0 !important;
  }

  .reverse-order-products > .card > .card-body > .d-flex {
    flex-direction: row-reverse;
  }

  .reverse-order-products > .heart-icon  {
    flex-direction: row-reverse;
  }