.reverse-order {
  flex-direction: row-reverse;
}

.reverse-order > .arabic-style > .flex-column > .flex-column > .nav-item > .nav-link {
  justify-content: end;
    display: flex;
    gap: 8px;
}

.nav-link {
  padding: 10px 15px;
  border-radius: 5px;
  color: #000;
  text-decoration: none;
}

.nav-link.active {
  background-color: #000;
  color: #fff !important;
}

.nav-link.active:hover {
  /* background-color: #000; */
  color: #fff !important;
  cursor: pointer;
}

.nav-link:hover {
  font-weight: bold; /* Make text bold on hover */
  color: #000 !important; /* Ensure color stays black even on hover */
  text-decoration: none; /* Remove underline on hover if you want */
  cursor: pointer;
}

.nav-link i {
  margin-right: 10px;
}

.global-main-wraper {
  padding: 0 135px 0 135px !important;
}


@media (max-width: 1332px) { 
   .reverse-order > .arabic-style > .flex-column > .flex-column > .nav-item > .nav-link {
    font-size: 10px;
   }
   .nav-link {
    font-size: 12px;
   }
}
