<div class="mt-5 global-main-wraper">
  <div class="col-12 d-flex flex-wrap mb-3" [ngClass]="{ 'reverse-order': translateService.currentLang !== 'en' }">
    <!-- <div class="col-md-3 arabic-style">
      <div class="d-flex flex-column p-lg-3 p-md-1 p-sm-1" style="height: 100%;background: none !important;">
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item" *ngFor="let item of menuItems; let i = index">
            <a 
              class="nav-link d-flex align-items-center gap-2"
              [routerLink]="item.route"
              routerLinkActive="active"
              [routerLinkActiveOptions]="item.route.includes('buy/order') || item.route.includes('sell/order') ? {} : { exact: true }"
              #rla="routerLinkActive">
          
              <img [src]="rla.isActive ? item.white_icon : item.black_icon" alt="Item" />
          
              <span *ngIf="translateService.currentLang == 'en'">
                {{ item.label }}
              </span>
          
              <span *ngIf="translateService.currentLang !== 'en'">
                {{ item.arabicLabel }}
              </span>
            </a>
          </li>
                  
        </ul>
      </div>
    </div> -->
    <div class="col-md-12" style="min-height: 85vh;"
      [ngClass]="{ 'reverse-order-details': translateService.currentLang !== 'en' }">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>