<form [formGroup]="form" class="mt-3" >
  <mat-dialog-content style="min-height: 520px ;">
    <h2 class="d-flex justify-content-center">{{ paramVal }} Brand</h2>

    <!-- Name input -->
    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="outline" style="width: 100%">
          <input matInput placeholder="Brand Name" formControlName="name" />
          <mat-error *ngIf="form.controls.name.invalid">
            {{
              form.controls.name.hasError("required")
                ? "Name is required"
                : "Invalid name"
            }}
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Slug input -->
      <div class="col-md-6">
        <mat-form-field appearance="outline" style="width: 100%">
          <input matInput placeholder="Slug" formControlName="slug" />
          <mat-error *ngIf="form.controls.slug.invalid">
            {{
              form.controls.slug.hasError("required")
                ? "Slug is required"
                : "Invalid slug"
            }}
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <!-- meta_title input -->
    <div class="row" *ngIf="paramVal === 'Create'">
      <div class="col-md-6">
        <mat-form-field appearance="outline" style="width: 100%">
          <input
            matInput
            placeholder="Meta Title"
            formControlName="meta_title"
          />
        </mat-form-field>
      </div>

      <!-- meta_description input -->
      <div class="col-md-6">
        <mat-form-field appearance="outline" style="width: 100%">
          <input
            matInput
            placeholder="Meta Description"
            formControlName="meta_description"
          />
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="outline" style="width: 100%">
          <textarea
            matInput
            placeholder="Description"
            formControlName="description"
          ></textarea>
        </mat-form-field>
      </div>

      <!-- <div class="col-md-6">
        <input
          style="border: 1px solid black; padding: 5px; width: 100%"
          type="file"
          value="fileName"
          (change)="onFileSelected($event)"
          accept="image/*"
        />
      </div> -->

      <div class="d-flex align-items-center flex-wrap">
        <div style="width: 50%; display: flex; flex-direction: column; gap: 5px">
          <label> Cover Image</label>
          <div class="upload-box" (click)="fileInput.click()">
            <input
              #fileInput
              type="file"
              style="display: none"
              (change)="onFileSelected($event)"
              accept="image/*"
            />
            <ng-container *ngIf="!previewImage">
              <div class="plus-icon">+</div>
            </ng-container>
            <ng-container *ngIf="previewImage">
              <img [src]="previewImage" alt="Preview" class="preview-image" style="object-fit: contain !important;"/>
            </ng-container>
          </div>
          <mat-error *ngIf="form.get('cover_image')?.invalid">
            Cover Image is required
          </mat-error>
        </div>

        <!-- SVG File Input -->

        <div style="width: 50%; display: flex; flex-direction: column; gap: 5px">
          <label> SVG File</label>
          <div class="upload-box" (click)="fileInput1.click()">
            <input
              #fileInput1
              type="file"
              style="display: none"
              (change)="onSvgFileSelected($event)"
              accept=".svg"
            />
            <ng-container *ngIf="!svgPreview">
              <div class="plus-icon">+</div>
            </ng-container>
            <ng-container *ngIf="svgPreview">
              <!-- <img [src]="svgPreview" alt="Preview" class="preview-image" /> -->
              <div class="preview-image d-flex align-items-center" [innerHTML]="svgPreview"></div>
            </ng-container>
          </div>
          <mat-error *ngIf="form.get('svg_code')?.invalid">
            Invalid SVG code
          </mat-error>
        </div>
      </div>

      <!-- <div>
        <label>Upload SVG File:</label>
        <input type="file" (change)="onSvgFileSelected($event)" accept=".svg" />
        <span *ngIf="svgFileName">{{ svgFileName }}</span>
      </div>

      <div *ngIf="svgPreview" style="margin-top: 10px; border: 1px solid #ccc; padding: 10px; max-width: 300px;">
        <div [innerHTML]="svgPreview"></div>
      </div>

    
      <div *ngIf="form.get('svg_code')?.invalid && form.get('svg_code')?.touched" class="error">
        Invalid SVG code
      </div> -->

      <div *ngIf="combinedImages.length > 0" style="display: flex; margin-top: 20px; gap: 20px; overflow-x: auto;">
        <div *ngFor="let item of combinedImages">
          <div [innerHTML]="item"></div>
        </div>
      </div>
      
      <!-- File Upload (Optional) -->
      <!-- <input type="file" (change)="handleSvgUpload($event)" accept=".svg" /> -->
      


    </div>

    <!-- Active and top brand checkboxes -->
    <div class="row mt-3">
      <div class="col-md-3">
        <mat-checkbox formControlName="is_active"> Active</mat-checkbox>
      </div>
      <div class="col-md-3">
        <mat-checkbox formControlName="top_brand">Top Brand</mat-checkbox>
      </div>
    </div>

    <!-- File upload for cover image -->
    <div class="row">
      <div class="col-md-6" *ngIf="paramVal === 'Create'">
        <mat-form-field appearance="outline" style="width: 100%">
          <input
            matInput
            placeholder="Meta Keywords"
            formControlName="meta_keywords"
          />
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>

  <!-- Form action buttons -->
  <mat-dialog-actions class="d-flex gap-2 justify-content-center">
    <button class="save-btn" *ngIf="paramVal === 'Create'" (click)="save()">
      Submit
    </button>
    <button class="save-btn" *ngIf="paramVal === 'Edit'" (click)="save()">
      Update
    </button>
    <button class="cancel-btn" (click)="cancel()">Cancel</button>
  </mat-dialog-actions>
</form>
