<div class="container mt-5" style="margin-top: 120px !important">
  <div class="col-12 d-flex justify-content-end" *ngIf="routeFrom === 'listing-to-product'">
    <button
    class="save-can-btn save-btn-bg"
    (click)="backTo()"
  >
    Back
  </button>
  </div>
  <div class="row"
  [ngClass]="{ 'reverse-order': translateService.currentLang !== 'en' }"
  >
     <div class="col-md-6">
      <img
        [src]="'https://api.chronosouq.com/' + selectedImage"
        style="
          object-fit: scale-down;
          height: 485px;
          width: 100%;
          border: none !important;
          border-radius: 16px;
          background: #f8f8f8;
        "
        class="img-fluid"
        alt="Selected Watch"
      />

      <div class="featured-card">
        <div class="featured-card-featred">
          <p *ngIf="productDetails.feature_item === 1" style="margin: 0">Featured</p>
        </div>
        <div class="featured-card-heart-sec">
          <div class="heart-icon-one"  *ngIf="isUserLogin ==='true'" (click)="addWishList(productDetails.id)">
            <i
              class="fa"
              [ngClass]="wishList.includes(productDetails.id) ? 'fa-heart' : 'fa-heart fa-heart-o'"
              aria-hidden="true"
            ></i>
          </div>
          <div (click)="copyCurrentUrl()">
            <i class="fas fa-share-alt share-icon"></i>
          </div>
        </div>
      </div>

      <div *ngIf="productDetails && productDetails.views_count" class="featured-bottom">
        <i class="fas fa-eye"></i>
        <p style="margin: 0">
          {{ productDetails.views_count }}
        </p>
      </div>

      <div class="mt-3" style="display: flex; overflow-x: auto">
        <div
          class="col-3"
          style="height: 135px"
          *ngFor="let image of thumbnails"
        >
          <img
            [src]="'https://api.chronosouq.com/' + image"
            style="background: #f8f8f8; object-fit: scale-down"
            class="img-fluid"
            alt="thumbnail"
            [ngClass]="{
              'blur-image': image !== selectedImage,
              'hover-remove-blur': true
            }"
            (click)="swapImages(image)"
          />
        </div>
      </div>
    </div>
    <div *ngIf="productDetails" class="col-md-6">
      <div class="routes-div">
        <p class="routes-styl" style="cursor: pointer" routerLink="/">
          Homepage
        </p>
        <p *ngIf="productDetails.category" class="routes-styl-active">/ {{ productDetails.category?.name }}</p>
        <p *ngIf="productDetails.brand.name" class="routes-styl-active">/ {{ productDetails.brand.name }}</p>
        <p *ngIf="productDetails.listing_code" class="routes-styl-active">/ {{ productDetails.listing_code }}</p>
      </div>

      <div
        *ngIf="productDetails.created_by.city"
        class="d-flex gap-2 align-items-baseline"
      >
        <i class="fas fa-map-marker-alt"></i>
        <p class="routes-styl">{{ productDetails.created_by.city }}</p>
      </div>

      <div class="d-flex flex-wrap">
        <p class="brand-name-title">
          {{ productDetails.brand.name }} {{ productDetails.model }}
          {{ productDetails.title }}
        </p>
      </div>

      <div class="watch-brand-details-div">
        <div class="brand-sec">
          <div>
            <img
              class="watch-brand-details-img"
              src="../../../../assets/images/brand-icon.png"
              alt="brand"
            />
          </div>
          <div style="display: flex; flex-direction: column">
            <p class="margin-0">Brand</p>
            <p class="margin-0">{{ productDetails.brand.name }}</p>
          </div>
        </div>

        <div class="brand-sec">
          <div>
            <img
              class="watch-brand-details-img"
              src="../../../../assets/images/model-icon.png"
              alt="brand"
            />
          </div>
          <div style="display: flex; flex-direction: column">
            <p class="margin-0">Model</p>
            <p class="margin-0">{{ productDetails.model }}</p>
          </div>
        </div>

        <div class="time-sec">
          <div>
            <img
              class="watch-brand-details-img"
              src="../../../../assets/images/watch-icon.png"
              alt="brand"
            />
          </div>
          <div style="display: flex; flex-direction: column">
            <p class="margin-0">Year of Production</p>
            <p class="margin-0">
              {{ productDetails.year_of_production }}
            </p>
          </div>
        </div>
      </div>

      <div class="d-flex mt-4 gap-3">
        <p class="header-highligted-color brand-name-title">
          {{ productDetails.currency }} {{ productDetails.price }}
        </p>
        <p class="color-666666 font-wight-400 font-size-14">
          Exclu. Shipping Charges
        </p>
      </div>

      <div class="d-flex flex-column">
        <p
          class="header-highligted-color font-wight-400 font-size-16 margin-0"
          style="padding-bottom: 7px"
        >
          Condition:
        </p>
        <button class="condition-btn">{{ productDetails.condition }}</button>
      </div>

      <div class="d-flex flex-column mt-3">
        <p
          class="header-highligted-color font-wight-400 font-size-16 margin-0"
          style="padding-bottom: 7px"
        >
          Scope of Delivery:
        </p>
        <div class="d-flex flex-wrap gap-2">
          <button class="watch-btn">
            {{ productDetails.scope_of_delivery }}
          </button>
        </div>
      </div>

      <div class="d-flex flex-column mt-3">
        <p
          class="header-highligted-color font-wight-400 font-size-16 margin-0"
          style="padding-bottom: 7px"
        >
          Est. Delivery
        </p>
        <button class="condition-btn">
          {{ productDetails.estimate_delivery }}
        </button>
      </div>
      <div class="mt-4">
        <button (click)="buyNow()" [disabled]="routeFrom === 'listing-to-product'" class="buy-btn">Buy</button>
        <button *ngIf="productDetails.allow_to_make_offer === 1" [disabled]="routeFrom === 'listing-to-product'" class="make-offer-btn mt-2">Make an Offer</button>
      </div>
    </div>
  </div>
</div>

<div
  *ngIf="productDetails.created_by && dealerUserDetails && isDealer === 'dealer'"
  class="container mt-2"
>
  <div
    class="col-md-6 p-3 d-flex flex-wrap align-items-center justify-content-between flex-row"
    style="border-radius: 16px; border: 1px solid #f3f3f3"
  >
    <div class="d-flex align-items-center">
      <div
        class="rounded-circle bg-light text-dark d-flex justify-content-center align-items-center"
        style="width: 50px; height: 50px"
      >
        {{ getInitials() }}
      </div>
      <div class="d-flex flex-column">
        <div class="d-flex align-items-center">
          <h5
            class="mb-0 font-weight-bold"
            style="
              border-right: 1px solid #666666;
              color: #404040;
              padding-right: 7px;
              text-decoration: underline;
              text-decoration-color: #404040;
              cursor: pointer;
            "
            (click)="scrollToTarget()"
          >
            {{ dealerUserDetails.user_details.name }}
          </h5>
          <small
            class="text-muted"
            style="
              border-right: 1px solid #666666;
              color: #666666;
              padding-right: 7px;
              padding-left: 7px;
            "
            >Since 2003</small
          >
          <span class="text-warning mr-1" style="padding-left: 7px">
            <i class="fas fa-star"></i>
          </span>
          <small class="text-muted color-666666"
            >{{ dealerUserDetails.overall_rating }} ({{
              dealerUserDetails.total_reviews
            }}
            reviews)</small
          >
        </div>
        <button
          style="
            color: #242424;
            border-radius: 8px;
            border: 1px solid #242424;
            height: 38px;
            width: 174px;
            margin-top: 8px;
            background: none;
          "
        >
          Chat with Dealer
        </button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!isDealer" class="container mt-2">
  <div
    class="col-md-6 p-3 d-flex flex-wrap align-items-center justify-content-between flex-row"
    style="border-radius: 16px; border: 1px solid #f3f3f3"
  >
    <div class="d-flex align-items-center">
      <div
        class="rounded-circle bg-light text-dark d-flex justify-content-center align-items-center"
        style="width: 50px; height: 50px"
      >
        {{ getInitials() }}
      </div>
      <div class="d-flex flex-column">
        <div class="d-flex align-items-center">
          <h5
            class="mb-0 font-weight-bold"
            style="
              border-right: 1px solid #666666;
              color: #404040;
              padding-right: 7px;
            "
          >
            {{ productDetails.created_by.name }}
          </h5>
          <small
            class="text-muted"
            style="
              border-right: 1px solid #666666;
              color: #666666;
              padding-right: 7px;
              padding-left: 7px;
            "
            >Since 2003</small
          >
        </div>
        <button
          style="
            color: #242424;
            border-radius: 8px;
            border: 1px solid #242424;
            height: 38px;
            width: 174px;
            margin-top: 8px;
            background: none;
          "
        >
          Chat with Seller
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="card-body d-flex flex-column">
    <ul
      class="nav nav-tabs"
      style="display: flex; justify-content: center"
      id="myTab"
      role="tablist"
      [ngClass]="{ 'reverse-order': translateService.currentLang !== 'en' }"
    >
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active"
          id="details-tab"
          data-bs-toggle="tab"
          data-bs-target="#details"
          type="button"
          role="tab"
          aria-controls="details"
          aria-selected="true"
        >
        {{ "product_details.product_des" | translate }}
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="security-tab"
          data-bs-toggle="tab"
          data-bs-target="#security"
          type="button"
          role="tab"
          aria-controls="security"
          aria-selected="false"
        >
        {{ "product_details.warrenty_det" | translate }}
        </button>
      </li>
    </ul>
    <div class="tab-content mt-3" id="myTabContent">
      <div
        class="tab-pane fade show active"
        id="details"
        role="tabpanel"
        aria-labelledby="details-tab"
      >
        <div class="row">
          <div class="col-12 d-flex flex-wrap justify-content-center">
            <p class="brand-name-title margin-0">
              {{ productDetails.brand.name }} {{ productDetails.name }}
              {{ productDetails.condition }}
            </p>
          </div>

          <div class="col-12">
            <div class="col-12 d-flex flex-wrap justify-content-center">
              <p
                class="font-size-20 font-wight-600 color-242424 margin-0 text-center"
              >
                {{ productDetails.meta_description }}
              </p>
            </div>
            <div class="col-12">
              <p
                class="font-size-16 font-wight-400 color-666666 margin-0 text-center"
              >
                {{ productDetails.description }}
              </p>
            </div>
          </div>

          <div class="col-12 d-flex justify-content-center">
            <div
              style="
                min-width: 335px;
                height: 270px;
                border-radius: 12px;
                background-color: #f8f8f8;
              "
            >
              <img
                [src]="'https://api.chronosouq.com/' + productMainImage"
                style="
                  object-fit: scale-down;
                  height: 100%;
                  width: 100%;
                  border: none;
                  border-radius: 12px;
                "
                class="img-fluid"
                alt="Selected Watch"
              />
            </div>
          </div>

          <div class="col-12">
            <p
              class="font-size-24 font-wight-700 color-242424 margin-0 text-center"
            >
            {{ "product_details.watch_spec" | translate }}
            </p>
          </div>

          <div class="col-12">
            <table class="table table-borderless">
              <tbody>
                <tr [ngClass]="{ 'reverse-order-tr': translateService.currentLang !== 'en' }" *ngIf="productDetails.listing_Code">
                  <th class="tbl-head" scope="row">
                    {{ "product_details.listing_code" | translate }}
                  </th>
                  <td class="tbl-td">
                    {{ productDetails.listing_Code }}
                  </td>
                </tr>
                <tr [ngClass]="{ 'reverse-order-tr': translateService.currentLang !== 'en' }" *ngIf="productDetails.brand">
                  <th class="tbl-head" scope="row">
                    {{ "product_details.brand" | translate }}
                  </th>
                  <td class="tbl-td">
                    {{ productDetails.brand.name }}
                  </td>
                </tr>
                <tr [ngClass]="{ 'reverse-order-tr': translateService.currentLang !== 'en' }" *ngIf="productDetails.model">
                  <th class="tbl-head" scope="row">
                    {{ "product_details.model" | translate }}
                  </th>
                  <td class="tbl-td">
                    {{ productDetails.model }}
                  </td>
                </tr>
                <tr [ngClass]="{ 'reverse-order-tr': translateService.currentLang !== 'en' }" *ngIf="productDetails.reference_number">
                  <th class="tbl-head" scope="row">
                    {{ "product_details.reference_number" | translate }}
                  </th>
                  <td class="tbl-td">{{ productDetails.reference_number }}</td>
                </tr>
                <tr [ngClass]="{ 'reverse-order-tr': translateService.currentLang !== 'en' }" *ngIf="productDetails.movement">
                  <th class="tbl-head" scope="row">
                    {{ "product_details.movement" | translate }}
                  </th>
                  <td class="tbl-td">{{ productDetails.movement }}</td>
                </tr>
                <tr [ngClass]="{ 'reverse-order-tr': translateService.currentLang !== 'en' }" *ngIf="productDetails.case_material">
                  <th class="tbl-head" scope="row">
                    {{ "product_details.case_material" | translate }}
                  </th>
                  <td class="tbl-td">{{ productDetails.case_material }}</td>
                </tr>
                <tr [ngClass]="{ 'reverse-order-tr': translateService.currentLang !== 'en' }" *ngIf="productDetails.bracelet_material">
                  <th class="tbl-head" scope="row">
                    {{ "product_details.bracelet_material" | translate }}
                  </th>
                  <td class="tbl-td">{{ productDetails.bracelet_material }}</td>
                </tr>
                <tr [ngClass]="{ 'reverse-order-tr': translateService.currentLang !== 'en' }" *ngIf="productDetails.year_of_production">
                  <th class="tbl-head" scope="row">
                    {{ "product_details.year_of_production" | translate }}
                  </th>
                  <td class="tbl-td">
                    {{ productDetails.year_of_production }}
                  </td>
                </tr>
                <tr [ngClass]="{ 'reverse-order-tr': translateService.currentLang !== 'en' }" *ngIf="productDetails.condition">
                  <th class="tbl-head" scope="row">
                    {{ "product_details.condition" | translate }}
                  </th>
                  <td class="tbl-td">
                    {{ productDetails.condition }}
                  </td>
                </tr>

                <tr [ngClass]="{ 'reverse-order-tr': translateService.currentLang !== 'en' }" *ngIf="productDetails.scope_of_delivery">
                  <th class="tbl-head" scope="row">
                    {{ "product_details.scope_of_delivery" | translate }}
                  </th>
                  <td class="tbl-td">
                    {{ productDetails.scope_of_delivery }}
                  </td>
                </tr>

                <tr [ngClass]="{ 'reverse-order-tr': translateService.currentLang !== 'en' }" *ngIf="productDetails.gender">
                  <th class="tbl-head" scope="row">
                    {{ "product_details.gender" | translate }}
                  </th>
                  <td class="tbl-td">
                    {{ productDetails.gender }}
                  </td>
                </tr>

                <tr [ngClass]="{ 'reverse-order-tr': translateService.currentLang !== 'en' }" *ngIf="productDetails.location">
                  <th class="tbl-head" scope="row">
                    {{ "product_details.location" | translate }}
                  </th>
                  <td class="tbl-td">
                    {{ productDetails.location }}
                  </td>
                </tr>
                <tr [ngClass]="{ 'reverse-order-tr': translateService.currentLang !== 'en' }" *ngIf="productDetails.price">
                  <th class="tbl-head" scope="row">
                    {{ "product_details.price" | translate }}
                  </th>
                  <td class="tbl-td">
                    {{ productDetails.currency }} {{ productDetails.price }}
                  </td>
                </tr>

                <tr [ngClass]="{ 'reverse-order-tr': translateService.currentLang !== 'en' }" *ngIf="productDetails.available">
                  <th class="tbl-head" scope="row">
                    {{ "product_details.availability" | translate }}
                  </th>
                  <td class="tbl-td">
                    {{ productDetails.available }}
                  </td>
                </tr>

                <tr [ngClass]="{ 'reverse-order-tr': translateService.currentLang !== 'en' }" *ngIf="productDetails.description">
                  <th class="tbl-head" scope="row">
                    {{ "product_details.description" | translate }}
                  </th>
                  <td class="tbl-td">
                    <small style="font-size: 14px !important; font-weight: 500">
                      {{ productDetails.description }}
                    </small>
                  </td>
                </tr>
                <tr [ngClass]="{ 'reverse-order-tr': translateService.currentLang !== 'en' }" *ngIf="productDetails.bezel_material">
                  <th class="tbl-head" scope="row">
                    {{ "product_details.bazel_material" | translate }}
                  </th>
                  <td class="tbl-td">{{ productDetails.bezel_material }}</td>
                </tr>
                <tr [ngClass]="{ 'reverse-order-tr': translateService.currentLang !== 'en' }" *ngIf="productDetails.dial">
                  <th class="tbl-head" scope="row">
                    {{ "product_details.dial" | translate }}
                  </th>
                  <td class="tbl-td">{{ productDetails.dial }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      
      <div
        class="tab-pane fade"
        id="security"
        role="tabpanel"
        aria-labelledby="security-tab"
      >
        <div class="container mt-4">
          <h5 class="mb-4"></h5>
          <div class="row"></div>
        </div>
      </div>
    </div>
  </div>
</div>


 <div
  *ngIf="isDealer && dealerUserDetails && dealerDetails"
  class="container mt-5 p-3"
  #targetContainer
>
  <p
    class="font-size-24 font-wight-700 margin-0 color-242424 "
    [ngClass]="{ 'text-align-end': translateService.currentLang !== 'en' }"
    style="padding-left: 10px"
  >
  {{ "product_details.dealer_rev" | translate }}
  </p>

  <div class="col-12 d-flex flex-wrap"
  [ngClass]="{ 'reverse-order': translateService.currentLang !== 'en' }"
  >
    <div
      class="col-md-6"
      style="border-radius: 16px; border: 1px solid #f3f3f3; padding: 5px"
    >
      <div
        class="d-flex align-items-center"
        style="border-bottom: 1px solid #f3f3f3"
      >
        <div
          class="rounded-circle bg-light text-dark d-flex justify-content-center align-items-center"
          style="width: 50px; height: 50px"
        >
          {{ getInitials() }}
        </div>
        <div class="d-flex flex-column">
          <div class="d-flex align-items-center">
            <h5
              class="mb-0 font-weight-bold"
              style="
                border-right: 1px solid #666666;
                color: #404040;
                padding-right: 7px;
              "
            >
              {{ dealerUserDetails.user_details.name }}
            </h5>
            <small
              class="text-muted"
              style="color: #666666; padding-right: 7px; padding-left: 7px"
              >Since 2003</small
            >
          </div>
          <p
            class="color-565656 font-size-16 font-wight-400"
            style="
              margin-top: 8px;
              text-decoration: underline;
              text-decoration-color: #404040;
            "
          >
            Visit Dealer Profile
          </p>
        </div>
      </div>

      <div class="d-flex gap-2 mt-3 align-items-center">
        <div>
          <img
            src="../../../../assets/images/delivery-truck.png"
            style="height: 40px; width: 40px; border: 0"
          />
        </div>
        <div class="d-flex flex-column">
          <p class="margin-0 font-wight-400 font-size-16 color-242424">
            Delivery Record
          </p>
          <p class="margin-0 font-wight-400 font-size-16 color-666666">
            {{ dealerUserDetails.user_details.delivery_time }}
          </p>
        </div>
      </div>

      <div class="d-flex gap-2 mt-3 align-items-center">
        <div>
          <img
            src="../../../../assets/images/location-icon.png"
            style="height: 40px; width: 40px; border: 0"
          />
        </div>
        <div class="d-flex flex-column">
          <p class="margin-0 font-wight-400 font-size-16 color-242424">
            Store Location
          </p>
          <p class="margin-0 font-wight-400 font-size-16 color-666666">
            {{ dealerUserDetails.user_details.city }}
          </p>
        </div>
      </div>

      <div class="container cont-color mt-3">
        <div class="row text-center align-items-center border rounded bg-light">
          <div class="col">
            <div class="d-flex align-items-center">
              <div>
                <img
                  class="watch-brand-details-img"
                  src="../../../../assets/images/watch-icon.png"
                  alt="brand"
                />
              </div>
              <div class="d-flex flex-column align-items-baseline">
                <p
                  class="mb-0 margin-0 font-wight-400 font-size-14 color-303a42"
                >
                  Total Listing
                </p>
                <p class="margin-0 font-wight-700 font-size-16 color-303a42">
                  {{ dealerUserDetails.total_listing }}
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="d-flex align-items-center">
              <div>
                <img
                  class="watch-brand-details-img"
                  src="../../../../assets/images/model-icon.png"
                  alt="brand"
                />
              </div>
              <div class="d-flex flex-column align-items-baseline">
                <p
                  class="mb-0 margin-0 font-wight-400 font-size-14 color-303a42"
                >
                  Active Listing
                </p>
                <p class="margin-0 font-wight-700 font-size-16 color-303a42">
                  {{ dealerUserDetails.active_listings_count }}
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="d-flex align-items-center">
              <div>
                <img
                  class="watch-brand-details-img"
                  src="../../../../assets/images/brand-icon.png"
                  alt="brand"
                />
              </div>
              <div class="d-flex flex-column align-items-baseline">
                <p
                  class="mb-0 margin-0 font-wight-400 font-size-14 color-303a42"
                >
                  Watches Sold
                </p>
                <p class="margin-0 font-wight-700 font-size-16 color-303a42">
                  {{ dealerUserDetails.sold_products_count }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="col-md-6"
      style="border-radius: 16px; border: 1px solid #f3f3f3"
    >
      <div class="container my-4">
       
        <div class="d-flex align-items-center mb-2">
          <div class="text-warning">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
          </div>
          <h4 class="mb-0 ml-2">{{ dealerUserDetails.overall_rating }}</h4>
          <p class="mb-0 ml-2 color-676986">
            Based on {{ dealerUserDetails.total_reviews }} reviews
          </p>
        </div>

        <div class="row align-items-center mb-1" *ngIf="dealerReviewsRatings">
          <div class="col-2 color-2c3e50">
            5<i class="bi bi-star-fill mx-2"></i>
          </div>
          <div class="col-8">
            <div class="progress">
              <div
                class="progress-bar bg-prog-bar"
                [style.width]="
                  getPercentage(dealerReviewsRatings['5.00_star']) + '%'
                "
              ></div>
            </div>
          </div>
          <div class="col-2 text-right">
            {{ dealerReviewsRatings["5.00_star"] }}
          </div>
        </div>

        <div class="row align-items-center mb-1">
          <div class="col-2 color-2c3e50">
            4<i class="bi bi-star-fill mx-2"></i>
          </div>
          <div class="col-8">
            <div class="progress">
              <div
                class="progress-bar bg-prog-bar"
                [style.width]="
                  getPercentage(dealerReviewsRatings['4.00_star']) + '%'
                "
              ></div>
            </div>
          </div>
          <div class="col-2 text-right">
            {{ dealerReviewsRatings["4.00_star"] }}
          </div>
        </div>

        <div class="row align-items-center mb-1">
          <div class="col-2 color-2c3e50">
            3<i class="bi bi-star-fill mx-2"></i>
          </div>
          <div class="col-8">
            <div class="progress">
              <div
                class="progress-bar bg-prog-bar"
                [style.width]="
                  getPercentage(dealerReviewsRatings['3.00_star']) + '%'
                "
              ></div>
            </div>
          </div>
          <div class="col-2 text-right">
            {{ dealerReviewsRatings["3.00_star"] }}
          </div>
        </div>

        <div class="row align-items-center mb-1">
          <div class="col-2 color-2c3e50">
            2<i class="bi bi-star-fill mx-2"></i>
          </div>
          <div class="col-8">
            <div class="progress">
              <div
                class="progress-bar bg-prog-bar"
                [style.width]="
                  getPercentage(dealerReviewsRatings['2.00_star']) + '%'
                "
              ></div>
            </div>
          </div>
          <div class="col-2 text-right">
            {{ dealerReviewsRatings["2.00_star"] }}
          </div>
        </div>

        <div class="row align-items-center">
          <div class="col-2 color-2c3e50">
            1<i class="bi bi-star-fill mx-2"></i>
          </div>
          <div class="col-8">
            <div class="progress">
              <div
                class="progress-bar bg-prog-bar"
                [style.width]="
                  getPercentage(dealerReviewsRatings['1.00_star']) + '%'
                "
              ></div>
            </div>
          </div>
          <div class="col-2 text-right">
            {{ dealerReviewsRatings["1.00_star"] }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="dealerDetails">
    <div
      class="col-12 d-flex flex-wrap"
      *ngFor="let review of dealerDetails.slice(0, reviewsListIndex)"
      [ngClass]="{ 'reverse-order': translateService.currentLang !== 'en' }"
    >
      <div class="col-lg-3 col-md-12 col-sm-12 d-flex flex-wrap">
        <div class="container my-4" style="background-color: #f7f7f8">
          <div class="p-3" style="width: 18rem; border-radius: 0 !important">
            <div class="d-flex gap-2">
              <p class="margin-0 font-wight-700 font-size-16 color-2c3e50">
                {{ review.reviewer_name }}
              </p>
              <img
                src="../../../../assets/images/check-mark-icon.png"
                style="height: 25px; width: 25px; border: none !important"
                alt="checkmark"
              />
            </div>
            <p class="margin-0 font-wight-400 font-size-14 color-666666">
              {{ review.review_date | date : "dd / MM / yyyy" }}
            </p>

           
            <div class="d-flex align-items-center mb-2 mt-2">
              <img
                [src]="'https://api.chronosouq.com/' + review.main_image"
                alt="Watch Image"
                class="img-thumbnail mr-2"
                style="width: 50px; border: none"
              />
              <div>
                <p class="margin-0 font-wight-700 font-size-14 color-2c3e50">
                  Reviewing
                </p>
                <p
                  class="margin-0 font-wight-400 font-size-14 color-2c3e50"
                  style="width: 90%"
                >
                  {{ review.product_name }}
                </p>
              </div>
            </div>

            <p class="margin-0 font-wight-700 font-size-14 color-2c3e50">
              Rated
            </p>
            <div class="d-flex align-items-center">
              <div class="text-warning">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </div>
              <p class="margin-0 font-wight-400 font-size-14 color-2c3e50">
                {{ review.rating }}
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-9 col-md-12 col-sm-12 d-flex flex-wrap">
        <div class="container mt-4">
          <div class="row text-center">
            
            <div class="col-md-4" style="padding: 0 5px 0 5px">
              <p
                class="font-wight-600 font-size-14 color-2c3e50"
                style="text-align: left"
              >
                Cosmetic Condition
              </p>
              <div class="progress">
                <div
                  [ngClass]="{
                    'active-progress-bar': review.cosmetic_condition === 1
                  }"
                  class="start bg-bar-color"
                ></div>
                <div
                  [ngClass]="{
                    'active-progress-bar': review.cosmetic_condition === 2
                  }"
                  class="one bg-bar-color"
                ></div>
                <div
                  [ngClass]="{
                    'active-progress-bar': review.cosmetic_condition === 3
                  }"
                  class="two bg-bar-color"
                ></div>
                <div
                  [ngClass]="{
                    'active-progress-bar': review.cosmetic_condition === 4
                  }"
                  class="three bg-bar-color"
                ></div>
                <div
                  [ngClass]="{
                    'active-progress-bar': review.cosmetic_condition === 5
                  }"
                  class="end bg-bar-color"
                ></div>
                <div class="progress-bar" style="width: 100%"></div>
              </div>
              <div class="d-flex justify-content-between">
                <p
                  class="font-wight-400 font-size-14 color-2c3e50"
                  style="margin-top: 7px"
                >
                  Poor
                </p>
                <p
                  class="font-wight-400 font-size-14 color-2c3e50"
                  style="margin-top: 7px"
                >
                  Excellent
                </p>
              </div>
            </div>

           
            <div class="col-md-4" style="padding: 0 5px 0 5px">
              <p
                class="font-wight-600 font-size-14 color-2c3e50"
                style="text-align: left"
              >
                Satisfaction
              </p>
              <div class="progress">
                <div
                  [ngClass]="{
                    'active-progress-bar': review.satisfaction === 1
                  }"
                  class="start bg-bar-color"
                ></div>
                <div
                  [ngClass]="{
                    'active-progress-bar': review.satisfaction === 2
                  }"
                  class="one bg-bar-color"
                ></div>
                <div
                  [ngClass]="{
                    'active-progress-bar': review.satisfaction === 3
                  }"
                  class="two bg-bar-color"
                ></div>
                <div
                  [ngClass]="{
                    'active-progress-bar': review.satisfaction === 4
                  }"
                  class="three bg-bar-color"
                ></div>
                <div
                  [ngClass]="{
                    'active-progress-bar': review.satisfaction === 5
                  }"
                  class="end bg-bar-color"
                ></div>
                <div class="progress-bar" style="width: 100%"></div>
              </div>
              <div class="d-flex justify-content-between">
                <p
                  class="font-wight-400 font-size-14 color-2c3e50"
                  style="margin-top: 7px"
                >
                  Low
                </p>
                <p
                  class="font-wight-400 font-size-14 color-2c3e50"
                  style="margin-top: 7px"
                >
                  High
                </p>
              </div>
            </div>

     
            <div class="col-md-4" style="padding: 0 5px 0 5px">
              <p
                class="font-wight-600 font-size-14 color-2c3e50"
                style="text-align: left"
              >
                Experience
              </p>
              <div class="progress">
                <div
                  [ngClass]="{ 'active-progress-bar': review.experience === 1 }"
                  class="start bg-bar-color"
                ></div>
                <div
                  [ngClass]="{ 'active-progress-bar': review.experience === 2 }"
                  class="one bg-bar-color"
                ></div>
                <div
                  [ngClass]="{ 'active-progress-bar': review.experience === 3 }"
                  class="two bg-bar-color"
                ></div>
                <div
                  [ngClass]="{ 'active-progress-bar': review.experience === 4 }"
                  class="three bg-bar-color"
                ></div>
                <div
                  [ngClass]="{ 'active-progress-bar': review.experience === 5 }"
                  class="end bg-bar-color"
                ></div>
                <div class="progress-bar" style="width: 100%"></div>
              </div>
              <div class="d-flex justify-content-between">
                <p
                  class="font-wight-400 font-size-14 color-2c3e50"
                  style="margin-top: 7px"
                >
                  Bad
                </p>
                <p
                  class="font-wight-400 font-size-14 color-2c3e50"
                  style="margin-top: 7px"
                >
                  Great
                </p>
              </div>
            </div>
          </div>

          
          <div class="row">
            <div class="col-12">
              <p class="font-wight-700 font-size-16 color-2c3e50">
                Remarkable Product
              </p>
              <p class="font-wight-400 font-size-14 color-2c3e50">
                {{ review.remarks }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="text-center mb-4"
      *ngIf="reviewsListIndex < dealerDetails.length"
    >
      <button class="view_btn" (click)="loadMoreReviews()"> {{ "product_details.view_more" | translate }}</button>
    </div>
  </div>
</div>

 <div *ngIf="similarWatchesList.length > 0" class="container mt-3">
  <p class="font-wight-500 font-size-40 color-484848 text-center">
    {{ "product_details.similar_prod" | translate }}
  </p>
  <div class="row">
    <div
      class="col-md-4 col-sm-6 mb-4"
      *ngFor="let watch of similarWatchesList; let i = index"
    >
      <div class="card custom-card h-100 shadow-sm">
        <img
          [src]="'https://api.chronosouq.com/' + watch.main_image"
          class="card-img-top"
          alt="No Image Exist"
        />
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <div *ngIf="watch?.brand?.name" class="watch-brand color-6a6a6a">
              {{ watch?.brand?.name }} | {{watch.model}}
            </div>
            <div>
              <i class="fa fa-heart-o" aria-hidden="true"></i>
            </div>
          </div>
          <div class="d-flex justify-content-between align-items-center mb-2">
            <h5 class="card-title d-flex flex-wrap color-6a6a6a margin-0">
              {{ watch.title }} 
            </h5>
          </div>
          <div class="d-flex justify-content-between align-items-center mt-2">
            <span *ngIf="watch.shipping_charges" class="price color-6a6a6a"
              >+{{ watch.shipping_charges }} {{ watch.currency }} Shipping</span
            >
            <div class="price color-6a6a6a">Location</div>
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <span class="card-title color-6a6a6a">{{ watch.price }}</span>
            <div *ngIf="watch.city" class="card-title color-6a6a6a">
              {{ watch.city }}
            </div>
            <div *ngIf="watch.created_by.city" class="card-title color-6a6a6a">
              {{ watch.created_by.city }}
            </div>
          </div>
          <div class="d-flex mt-3 seller-chip">
            Private Seller
          </div>
        </div>
      </div>
      <div class="heart-icon">
        <div class="featured-icon">
          featured
        </div>
        <i
        *ngIf="isUserLogin ==='true'"
        (click)="addWishList(watch.id)"
          class="fa"
          [ngClass]="wishList.includes(watch.id)? 'fa-heart' : 'fa-heart fa-heart-o'"
          aria-hidden="true"
        ></i>
      </div>
    </div>
  </div>

  <div class="text-center mb-4" *ngIf="totalPages !== currentPage">
    <button class="view_btn" (click)="loadMoreWatches()">
      {{ "chrono_buyer.view_more" | translate }}
    </button>
  </div>
</div>