img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  object-fit: fill;
  height: 100%;
  width: 100%;
}

.zoom-container {
  object-fit: cover;
  height: 485px;
  width: 100%;
  border: none !important;
  border-radius: 16px;
  background: #f8f8f8;
}

.zoom-container > lib-ngx-image-zoom > .ngxImageZoomContainer > img {
  height: 485px;
  width: 555px;
}



.custom-zoom ib-ngx-image-zoom {
  display: block;
  max-width: 555px;
  max-height: 485px;
  border-radius: 16px;
  background: #f8f8f8;
  overflow: hidden;
}

.custom-zoom lib-ngx-image-zoom .ngxImageZoomContainer {
  width: auto !important;
  height: auto !important;
}

.custom-zoom lib-ngx-image-zoom ngxImageZoomContainer {
  width: auto !important;
  height: auto !important;
}

.custom-zoom lib-ngx-image-zoom > ngxImageZoomContainer {
  width: auto !important;
  height: auto !important;
}

.custom-zoom lib-ngx-image-zoom > .ngxImageZoomContainer {
  width: auto !important;
  height: auto !important;
}

::ng-deep lib-ngx-image-zoom .ngxImageZoomThumbnail {
  max-width: 555px !important;   
  max-height: 485px !important;
  object-fit: cover;
  border-radius: 16px;
  width: 100%;
}

.custom-zoom lib-ngx-image-zoom .ngxImageZoomThumbnail {
  object-fit: cover;
  max-width: 555px;
  max-height: 485px;
  border-radius: 16px;
}

::ng-deep .ngxImageZoomContainer {
  width: auto !important;   /* your custom width */
  height: 485px !important;  /* your custom height */
}

.ngxImageZoomContainer {
  width: 600px !important;
  height: 400px !important;
}


.ngxImageZoomContainer {
  width: auto;
  height: auto;
}





.btn-lg {
  width: 100%;
}

.custom-card img:alt {
  display: block;
  margin: auto;
}

.save-can-btn {
  border: 1px solid #242424;
  border-radius: 5px;
  height: 50px;
  width: 132px;
  font-size: 16px;
  font-weight: 400;
}

.save-btn-bg {
  background: #000000;
  color: #FFFFFF !important;
}


.alert ul {
  margin: 0;
  padding-left: 20px;
}

.alert ul li {
  margin-bottom: 5px;
}

.mt-5 {
  margin-top: 3rem !important;
}

.header-h3 {
  font-size: 1.75rem;
}

.card {
  border: none;
}

.card-title {
  font-weight: bold;
}

.table th {
  width: 25%;
}

.tbl-head {
  font-size: 14px;
  font-weight: 700;
  color: #666666;
}

.tbl-td {
  font-size: 14px;
  font-weight: 400;
  color: #666666;
}

.table td {
  width: 60%;
}

.table a {
  color: #0056b3;
  text-decoration: none;
}

.table a:hover {
  text-decoration: underline;
}

.nav-tabs .nav-link.active {
  border: none !important;
  border-bottom: 2px solid #242424 !important;
  color: #242424 !important;
  font-size: 18px;
  font-weight: 600;
}

.nav-tabs .nav-link {
  font-weight: bold;
  color: #303A42 !important;
  font-size: 18px;
  font-weight: 600;
}

.table tr {
  border-bottom: 1px solid #e3e6e8;
}

.table tr:last-child {
  border-bottom: none;
}

.table th,
.table td {
  padding: 10px 0;
  font-weight: 500;
}

.card1 {
  border: 1px solid #e3e6e8;
  border-radius: 8px;
}

.card1 img {
  width: 50px;
  height: 50px;
}

.card1 h6 {
  margin-top: 15px;
  font-weight: bold;
  color: #333;
}

.card1 p {
  font-size: 14px;
  color: #666;
}

.chart-container {
  position: relative;
  height: 400px;
  width: 100%;
}

.performance-info {
  font-size: 1rem;
}

.per-card {
  border: none;
}

.per-card .card-subtitle {
  font-size: 1rem;
  color: #6c757d;
}

.int-card {
  border: none;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  transition: transform 0.2s ease;
  height: 450px;
  width: 100%;
}

.int-card:hover {
  transform: translateY(-5px);
}

.badge {
  background-color: #fff;
  font-size: 0.8rem;
  color: #000;
}



.btn-light {
  color: #000;
}

.card-body p {
  margin: 0;
}

.testimonial-section {
  background-color: #07172d;
  color: #ffffff;
}

.carousel-control-prev,
.carousel-control-next {
  filter: invert(1);
  width: 5% !important;
}

.fa-star {
  font-size: 14px;
}

/* Our Recommendations for You &&&&  You may also be interested in these watches Start */

.product-height {
  height: 450px;
  display: flex;
  flex-wrap: wrap;
}

.card-img-div {
  height: 70%;
  position: relative;
}

/* .card-img-top {
  object-fit: fill;
} */

.card-body {
  padding: 10px;
}

/* Our Recommendations for You &&&&  You may also be interested in these watches Start */



.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #f8f9fa;
  border-radius: 50%;
}

.accordion-button:focus {
  box-shadow: none;
}


.header-h5 {
  font-weight: 500;
}

.un-ol {
  padding-left: 0;
}

.un-ol li a {
  text-decoration: none;
  color: #000;
}

.un-ol li a:hover {
  text-decoration: underline;
  color: #007bff;
}
















.carousel-container {
  display: flex;
  align-items: center;
}

.carousel-slide {
  flex: 1;
  overflow: hidden;
}

mat-icon-button {
  margin: 0 12px;
}

mat-grid-list {
  transition: transform 0.5s ease-in-out;
}



.featured-card {
  position: absolute;
  top: 10px;
  padding: 0 15px 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.featured-card-featred {
  background-color: #ffffff;
  padding: 3px 10px 3px 10px;
  border-radius: 5px;
}

.featured-card-heart-sec {
  position: absolute;
  top: 18px;
  flex-direction: column;
  display: flex;
  right: 35px;
  top: 0;
}

.share-icon {
  background: #FFFFFF;
  padding: 10px;
  border-radius: 18px;
  margin: 8px 0 0 2px;
}

.heart-icon-one {
  background: #fff;
  border-radius: 25px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.heart-icon-one i {
  color: #ff4d4d;
  font-size: 24px;
  transition: background-color 0.3s ease;
}

.fa-heart-o {
  color: #a09494 !important;
}

.fa-heart {
  color: #ff4d4d;
}

.featured-bottom {
  top: 435px;
  right: 27px;
  position: absolute;
  background: #FFFFFF;
  padding: 5px 10px 5px 10px;
  display: flex;
  align-items: baseline;
  gap: 5px;
  border-radius: 8px;
}

.watch-brand-details-img {
  height: 40px;
  width: 40px;
  border: none !important;
}

.condition-btn {
  background-color: #242424;
  color: #FFFFFF;
  width: fit-content;
  height: 42px;
  border-radius: 4px;
  border: none;
  padding: 0 25px 0 25px;
}

.watch-btn {
  background-color: #242424;
  color: #FFFFFF;
  width: fit-content;
  height: 42px;
  border-radius: 4px;
  border: none;
  padding: 0 25px 0 25px;
}

.box-btn {
  background-color: #242424;
  color: #FFFFFF;
  width: 77px;
  height: 42px;
  border-radius: 4px;
  border: none;
}

.orig-pap-btn {
  background-color: #242424;
  color: #FFFFFF;
  width: 163px;
  height: 42px;
  border-radius: 4px;
  border: none;
}

.buy-btn {
  width: 100%;
  background-color: #242424;
  color: #FFFFFF;
  height: 60px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 12px;
  border: none;
}

.make-offer-btn {
  width: 100%;
  background-color: #FFFFFF;
  color: #242424;
  height: 60px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 12px;
  border: 1px solid #242424;
}













/* ------------   Similar Products Section CSS ------------- */

.watch-brand {
  font-weight: 400;
  font-size: 16px;
}

.view_btn {
  border-radius: 6px;
  padding: 0 20px 0 20px;
  height: 40px;
  border: 1px solid #242424;
  background: none;
}


.cont-color {
  background-color: #F7F7F8;
  border-radius: 12px;
}

.progress {
  height: 8px;
}

.bg-prog-bar {
  background: #9A9DB1;
}

.bi-star-fill {
  color: gold;
}





.slider-container {
  position: relative;
  width: 100%;
}

.custom-card {
  min-height: 445px !important;
}

.one,
.two,
.three,
.start,
.end {
  position: absolute;
  margin-top: -3px;
  z-index: 1;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #9A9DB1;
}

.progress {
  height: 4px;
}

.start {
  left: 5px;
}

.one {
  left: 25%;
}

.two {
  left: 50%;
}

.three {
  left: 75%;
}

.end {
  right: 5px;
}

.bg-bar-color {
  background-color: #9A9DB1;
}

.no-color {
  background-color: inherit;
}

.progress-bar {
  background-color: #9A9DB1;
}

.active-progress-bar {
  border: 3px solid #00CAAA;
  background: #FFFFFF !important;
  box-shadow: 0px 0px 0px 2px #00CAAA;
}


.reverse-order {
  flex-direction: row-reverse;
}

.reverse-order-tr {
  display: flex;
  flex-direction: row-reverse;
}

.reverse-order-tr .tbl-head {
  text-align: end;
}

.reverse-order-tr .tbl-td {
  text-align: end;
}

.text-align-end{
 text-align: end;
}





.featured-icon {
  /* background-color: #FFFFFF; */
  padding: 0 5px 0 5px;
  border-radius: 4px;
}

.seller-chip {
  background-color: #F8F8F8;
  padding: 0 10px 0 10px;
  width: fit-content;
  border-radius: 4px;
}

.reverse-order-prod-price-des > .routes-div {
  flex-direction: row-reverse;
}

.reverse-order-prod-price-des > .d-flex {
  flex-direction: row-reverse;
}

.reverse-order-prod-price-des > .watch-brand-details-div {
  flex-direction: row-reverse;
}

.reverse-order-prod-price-des > .d-flex > .header-highligted-color {
  display: flex;
  flex-direction: row-reverse;
}

.reverse-order-prod-price-des > .d-flex > .condition-btn {
  align-self: end;
}

.reverse-order-prod-price-des > .d-flex > .d-flex  {
  flex-direction: row-reverse;
}

.reverse-order-dealer-div {
  display: flex;
  justify-content: end;
}

.reverse-order-dealer-div  > .d-flex{
  flex-direction: row-reverse !important;
}
.reverse-order-dealer-div  > .d-flex > .align-items-center{
  flex-direction: row-reverse !important;
}

.reverse-order-dealer-div  > .d-flex > .align-items-center > .flex-column > .d-flex{
  flex-direction: row-reverse !important;
  gap: 5px;
}

.reverse-order-dealer-div  > .d-flex > .align-items-center > .flex-column > button{
 align-self: flex-end;
}

.reverse-order > .featured-card-heart-sec {
  right: auto;
  left: 10px;
}

.reverse-order > .featured-card-featred {
  right: 35px;
  left: auto;
}

.reverse-order > .featured-bottom {
  right: auto;
  left: 20px;
}


@media (max-width: 768px) {
  .small-screen-text {
    font-size: 10px;
  }

  .time-sec {
    gap: 5px;
   }

   .brand-sec {
    gap: 5px;
   }
  .small-screen-size-text{
    font-size: 12px;
  }

}

.dealer-name-style {
  border-right: 1px solid #666666;
              color: #404040;
              padding-right: 7px;
              text-decoration: underline;
              text-decoration-color: #404040;
              cursor: pointer;
}

.dealer-since-year-style {
  border-right: 1px solid #666666;
              color: #666666;
              padding-right: 7px;
              padding-left: 7px;
}

.reverse-order-dealer-div > .d-flex > .d-flex > .d-flex > .d-flex > .dealer-name-style {
  border-right: 0;
  border-left: 1px solid #666666;
  padding-left: 7px;
}

.reverse-order-dealer-div > .d-flex > .d-flex > .d-flex > .d-flex > .dealer-since-year-style {
  border-right: 0;
  border-left: 1px solid #666666;
}

.dealer-reviews-points-style {
  border-radius: 16px; border: 1px solid #f3f3f3
}

.reverse-order-dealer-reviews > .container > .d-flex {
  flex-direction: row-reverse;
}
.reverse-order-dealer-reviews > .container > .row {
  flex-direction: row-reverse;
}

.reverse-order-dealer-reviews > .container > .row > .d-flex{
  flex-direction: row-reverse;
}

.reverse-order-dealer-reviews > .container > .row > .for-reverse-style > .progress{
  flex-direction: row-reverse;
}

.text-right-style {
  text-align: right;
}

.reverse-order-dealer-reviews > .container > .row > .text-right-style{
  text-align: left;
}

.dealer-delivery-and-location-div {
  border-radius: 16px; border: 1px solid #f3f3f3; padding: 5px
}


.reverse-order-dealer-delivery-and-location > .dealer-delivery-and-location-div > .d-flex {
  flex-direction: row-reverse;
}

.dealer-deliver-and-location-name {
  border-right: 1px solid #666666;
  color: #404040;
  padding-right: 7px;
  font-weight: bold;
}

.reverse-order-dealer-delivery-and-location {
  flex-direction: row-reverse;
}

.reverse-order-dealer-delivery-and-location > .dealer-delivery-and-location-div > .d-flex > .d-flex > .d-flex {
  flex-direction: row-reverse;
}

.reverse-order-dealer-delivery-and-location > .dealer-delivery-and-location-div > .d-flex > .d-flex > .d-flex > .dealer-deliver-and-location-name {
  border-right: 0;
  border-left: 1px solid #666666 ;
  padding-left: 5px;
}

.reverse-order-dealer-delivery-and-location > .dealer-delivery-and-location-div > .container > .row {
  flex-direction: row-reverse;
}

.reverse-order-dealer-delivery-and-location > .dealer-delivery-and-location-div > .container > .row > .col > .d-flex {
  flex-direction: row-reverse;
}

.reverse-order-dealer-delivery-and-location > .dealer-delivery-and-location-div > .container > .row > .col > .d-flex > .d-flex > p {
  width: -webkit-fill-available;
  text-align: end;
}

.reverse-order-dealer-experience {
  flex-direction: row-reverse;
}

.reverse-order-dealer-experience > .flex-wrap > .container > .p-3 > .d-flex  {
  flex-direction: row-reverse;
  /* width: 72%; */
}

.reverse-order-dealer-experience > .flex-wrap > .container > .p-3 > .margin-0  {
  text-align: end;
}

.reverse-order-dealer-experience > .flex-wrap > .container > .p-3 > .d-flex {
  flex-direction: row-reverse;
}

.reverse-order-dealer-experience > .flex-wrap > .container > .p-3 > .d-flex > .reviewing-style > p {
  text-align: end;
  width: 100%;
}

.text-left-style {
  text-align: left;
}

.reverse-order-dealer-experience > .flex-wrap > .container > .p-3 > p {
  text-align: end;
}

.reverse-order-dealer-experience > .flex-wrap > .container > .p-3 > .reversed-style-ofRating {
 gap: 5px;
}

.reverse-order-dealer-experience > .poor-excelent-style > .container > .row {
  flex-direction: row-reverse;
}

.reverse-order-dealer-experience > .poor-excelent-style > .container > .row > .remark-style-of-review > p {
  text-align: end;
}

.reverse-order-dealer-experience > .poor-excelent-style > .container > .row > .poor-excelent-style-label > .d-flex {
flex-direction: row-reverse;
}


.reverse-order-dealer-experience > .poor-excelent-style > .container > .row > .poor-excelent-style-label > p {
  text-align: right;
}


.sar-icon-style {
  height: 13px !important;
  padding: 0 !important;
  border: none !important;
  border-radius: 0 !important;
  object-fit: fill;
  width: auto !important;
}

/* Skeleton Loader */
.skeleton {
  position: relative;
  overflow: hidden;
  background: #e9ecef;
  border-radius: 8px;
}

.skeleton::after {
  content: "";
  position: absolute;
  top: 0;
  left: -150px;
  height: 100%;
  width: 150px;
  background: linear-gradient(90deg, rgba(233,236,239,0) 0%, rgba(255,255,255,0.7) 50%, rgba(233,236,239,0) 100%);
  animation: shimmer 1.3s infinite;
}

@keyframes shimmer {
  0% { transform: translateX(0); }
  100% { transform: translateX(300%); }
}

.skeleton-image {
  height: 485px;
  width: 100%;
  border-radius: 16px;
  background: #f3f3f3;
}

.skeleton-thumb {
  min-width: 110px;
  height: 110px;
  border-radius: 12px;
  margin-right: 10px;
}

.skeleton-text {
  height: 20px;
}

.skeleton-badge {
  height: 32px;
  width: 140px;
}

.skeleton-button {
  height: 60px;
  width: 100%;
  border-radius: 12px;
}

.skeleton-button.outline {
  height: 60px;
  width: 100%;
  border-radius: 12px;
}