<div class="edit-offer-container mat-elevation-z3">
  <div class="col-md-12 d-flex flex-wrap">
    <div class="col-md-6">
      <h2>{{headerLabel}}</h2>
      <p>{{headerParagraph}}</p>
    </div>
    <div class="col-md-6 d-flex align-items-center justify-content-end">
      <button
        *ngIf="isSeller"
        (click)="markAsSold()"
        style="
          background: none;
          border: 1px solid #242424;
          border-radius: 10px;
          color: #242424;
          height: 50px;
          width: 150px;
        "
      >
        Mark as Sold
      </button>
    </div>
  </div>

  <div *ngIf="getProductDetails"
    class="col-md-12 d-flex flex-wrap"
    style="
      border: 2px solid #f5f5f5;
      padding: 10px 10px 10px 10px;
      border-radius: 12px;
    "
  >
    <div class="">
      <ng-container *ngIf="getProductDetails.main_image; else fallbackImage">
        <img
          [src]="'https://api.chronosouq.com/' + getProductDetails?.main_image"
          alt="chat image"
          class="img-thumbnail"
          style="width: 48px; height: 48px; border-radius: 30px"
        />
      </ng-container>

      <ng-template #fallbackImage>
        <div
          class="img-thumbnail"
          style="
            width: 48px;
            height: 48px;
            border-radius: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #ccc;
            color: white;
            font-size: 20px;
          "
        >
          {{ getProductDetails?.name?.substring(0, 2) }}
        </div>
      </ng-template>
    </div>

    <div class="d-flex flex-column mx-2">
      <p
        class="font-size-20 font-wight-600 color-242424 margin-0 d-flex align-items-center"
      >
        {{ getProductDetails?.name }} {{ getProductDetails?.condition }}
        <span class="font-size-16 font-wight-400 color-909090 margin-0 mx-2">{{
          getProductDetails?.serial_no
        }}</span>
      </p>
      <p class="font-size-16 font-wight-400 color-909090 margin-0">
        {{ getProductDetails?.currency }} {{ getProductDetails?.price }}
      </p>
    </div>
  </div>

  <form [formGroup]="offerForm" class="mt-3" (ngSubmit)="onSendOffer()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{fromProductDeatilsLabel}}</mat-label>
      <input
        matInput
        type="number"
        appPositiveNumber
        formControlName="offer_price"
      />
      <mat-error *ngIf="offerForm.get('offer_price')?.hasError('required')">
       Please enter value.
      </mat-error>
      <mat-error *ngIf="offerForm.get('offer_price')?.hasError('min')">
        Price must be greater than 0.
      </mat-error>
      <mat-error
        *ngIf="offerForm.get('offer_price')?.hasError('priceExceeded')"
      >
        Offer price cannot exceed the product price.
      </mat-error>
    </mat-form-field>

    <mat-form-field
      *ngIf="compoName === 'editComp'"
      appearance="outline"
      class="full-width"
    >
      <mat-label>Shipping</mat-label>
      <input
        [readonly]="isUserBuyer"
        matInput
        type="number"
        appPositiveNumber
        formControlName="ship_price"
        placeholder="Enter shipping cost"
      />
    </mat-form-field>

    <mat-form-field
      *ngIf="compoName === 'editComp'"
      appearance="outline"
      class="full-width"
    >
      <mat-label>Offer Validity</mat-label>
      <mat-select formControlName="validity_days" [disabled]="isUserBuyer">
        <mat-option [disabled]="isUserBuyer" value="3">3 Days</mat-option>
        <mat-option [disabled]="isUserBuyer" value="5">5 Days</mat-option>
        <mat-option [disabled]="isUserBuyer" value="7">7 Days</mat-option>
      </mat-select>
      <!-- <input matInput type="number" appPositiveNumber formControlName="validity_days" placeholder="Enter validity days" /> -->
    </mat-form-field>

    <div class="action-buttons">
      <button (click)="onCancel()" type="button" class="cancel-btn">
        Cancel
      </button>
      <button class="send-btn" type="submit">Send Offer</button>
    </div>
  </form>
</div>
