<div class="d-flex justify-content-between align-items-center mb-3 filtered-div" [ngClass]="{ 'reverse-order-details': translateService.currentLang !== 'en' }">
    <h4 class="mobile-label">{{ "my_Listing.Favorites" | translate }}</h4>
    <!-- // add dropdown for filter of product -->
     <mat-form-field>
      <mat-select [(ngModel)]="selectedProductFilter" (ngModelChange)="onFilterChange($event)">
        <mat-option value="all">All</mat-option>
        <mat-option *ngFor="let filter of filters" [value]="filter.gender">{{ filter.gender }}</mat-option>
      </mat-select>
     </mat-form-field>
     <!-- <mat-form-field>
      <select class="form-select form-select-sm" style="width: 150px" [(ngModel)]="selectedProductFilter" (ngModelChange)="onFilterChange($event)">
        <option value="all">ALL</option>
        <option *ngFor="let filter of filters" [value]="filter.id">{{ filter.gender }}</option>
      </select>
    </mat-form-field> -->
    <!-- <mat-form-field>
      <select class="form-select form-select-sm" style="width: 150px" [(ngModel)]="selectedFilter" (ngModelChange)="onFilterChange($event)">
        <option value="product">Products</option>
        <option value="accessory">Accessories</option>
      </select>
    </mat-form-field> -->
  </div>
  <div class="list-cards" *ngIf="selectedFilter == 'product' ? filteredFavoritesProductDetails?.length > 0 : accessoriesWishList?.length > 0" [ngClass]="{ 'reverse-order-details': translateService.currentLang !== 'en' }">
    <div *ngFor="let listing of selectedFilter == 'product' ? filteredFavoritesProductDetails : accessoriesWishList" class="card mb-3">
      <div class="card-body d-flex align-items-center" *ngIf="selectedFilter == 'product'">
        <div class="col-11 d-flex align-items-center card-hover-change-color gap-2"  (click)="viewProductDetails(listing)">
          <div class="main_image_div">
            <img
              *ngIf="listing?.main_image"
              class="img-fluid"
              style="object-fit: cover !important;height: 100% !important; width: 100% !important;"
              [src]="apiUrl + listing.main_image"
              alt="{{ 'find_dream.img_alt' | translate }}"
            />
             <div *ngIf="!listing?.main_image" class="no-image-styles-div">
                <p>{{ "my_Listing.no_image" | translate }}</p>
            </div>
          </div>
          <div class="main_image_content_div">
            <small class="text-muted mobile-label">
              Listing ID <span class="span-listing-id-label"> {{ listing.listing_code || "N/A" }} </span> | Created
             <span class="span-listing-id-label">
              {{ listing.created_at | date : "yyyy-MM-dd" }}
              </span>
            </small>

            <h6 class="mt-1 mb-1 mobile-label listing-concate-label">
              {{ listing.brand.name }} {{ listing.model }}
              {{ listing.title }}
            </h6>
          </div>
        </div>
        <div class="col-1 d-flex justify-content-end">
          <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="More options"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="startChat(listing)">
              <!-- <mat-icon>edit</mat-icon> -->
              <mat-icon>chat</mat-icon>
              <span>Start Chating</span>
            </button>
            <button mat-menu-item (click)="removeFromFavorites(listing)">
              <mat-icon color="warn">delete</mat-icon>
              <span>Remove From Favorites</span>
            </button>
            <button mat-menu-item (click)="viewProductDetails(listing)">
              <mat-icon>visibility</mat-icon>
              <span>View Product Details</span>
            </button>
          </mat-menu>
        </div>
      </div>
      <div class="card-body d-flex align-items-center" *ngIf="selectedFilter == 'accessory'">
        <div class="col-11 d-flex align-items-center card-hover-change-color gap-2"  (click)="goToAccessoryDetails(listing)">
          <div class="main_image_div">
            <img
              *ngIf="listing?.image"
              class="img-fluid"
              style="object-fit: cover !important;height: 100% !important; width: 100% !important;"
              [src]="apiUrl + listing.image"
              alt="{{ 'find_dream.img_alt' | translate }}"
            />
              <div *ngIf="!listing?.image" class="no-image-styles-div">
                <p>{{ "my_Listing.no_image" | translate }}</p>
            </div>
          </div>
          <div class="main_image_content_div">
            <small class="text-muted mobile-label">
              Model Number <span class="span-listing-id-label"> {{ listing.model_number || "N/A" }} </span> | Added
              <span class="span-listing-id-label">
              {{ listing.added_at | date : "yyyy-MM-dd" }}
              </span>
            </small>

            <h6 class="mt-1 mb-1 mobile-label listing-concate-label">
              {{ listing.name }} {{ listing.brand }}
            </h6>
          </div>
        </div>
        <div class="col-1 d-flex justify-content-end">
          <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="More options"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="goToAccessoryDetails(listing)">
              <!-- <mat-icon>edit</mat-icon> -->
              <span>Details</span>
            </button>
            <!-- <button mat-menu-item (click)="deleteListing(listing)">
              <mat-icon color="warn">delete</mat-icon>
              <span>Delete</span>
            </button> -->
          </mat-menu>
        </div>
      </div>
    </div>
  </div>
