<div class="">
  <div class="row">
    <div class="col-md-12">
      <h1>Attributes Value</h1>
    </div>
    <div class="row g-0">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="row">
          <div class="col-8 col-lg-8 col-md-8 col-sm-6 d-flex gap-2 mat-form-fields-custom-deisgn">
            <mat-form-field appearance="outline">
              <mat-label>Search</mat-label>
              <input
                matInput
                (keyup)="applyFilter($event)"
                placeholder="Search"
                #input
              />
            </mat-form-field>
          </div>
          <div
            class="col-4 col-lg-4 col-md-4 col-sm-6 d-flex justify-content-end align-items-center"
          >
            <button
               class="admin-add-btn"
              (click)="openModal()"
            >
              Add Attribute Value
            </button>
          </div>
        </div>
        <div class="table-conatiner">
          <table class="table admin-table" mat-table [dataSource]="dataSource">
            <!-- ID Column -->
            <ng-container class="column" matColumnDef="attribute_id">
              <th mat-header-cell class="column" *matHeaderCellDef>
                Attribute Id
              </th>
              <td mat-cell class="column" *matCellDef="let row">
                {{ row.attribute_id }}
              </td>
            </ng-container>

            <!-- First Name Column -->
            <ng-container class="column" matColumnDef="shop_id">
              <th mat-header-cell class="column" *matHeaderCellDef>
                Shop Id
              </th>
              <td mat-cell class="column" *matCellDef="let row; in">
                {{ row.shop_id }}
              </td>
            </ng-container>

            <!-- Last Name Column -->
            <ng-container class="column" matColumnDef="value">
              <th mat-header-cell class="column" *matHeaderCellDef>
                Value
              </th>
              <td mat-cell class="column" *matCellDef="let row; in">
                {{ row.value }}
              </td>
            </ng-container>

            <ng-container class="column" matColumnDef="color">
              <th mat-header-cell class="column" *matHeaderCellDef>
                Color
              </th>
              <td mat-cell class="column" *matCellDef="let row; in">
                {{ row.color }}
              </td>
            </ng-container>

            <ng-container
              class="column"
              matColumnDef="order"
            >
              <th mat-header-cell class="column" *matHeaderCellDef>
                Order
              </th>
              <td mat-cell class="column" *matCellDef="let row; in">
                {{ row.order }}
              </td>
            </ng-container>

            <!-- Status Column -->
            <ng-container class="column" matColumnDef="action">
              <th mat-header-cell class="column" *matHeaderCellDef>
                Action
              </th>
              <td mat-cell class="column" *matCellDef="let row; in">
                <button  matTooltip="Edit Attribute" mat-icon-button color="primary" (click)="editCategory(row)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button  matTooltip="Delete Attribute" mat-icon-button color="warn" (click)="deleteCategory(row)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr
              mat-header-row
              *matHeaderRowDef="displayedColumns; sticky: true"
            ></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: displayedColumns"
            ></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">
                No data matching the filter "{{ input.value }}"
              </td>
            </tr>
          </table>

          <mat-paginator
            #paginator
            [pageSizeOptions]="[5, 10, 20]"
            showFirstLastButtons
          ></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>

