
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Open Sans", serif;
}

@import "primeng/resources/themes/saga-blue/theme.css";
@import "primeng/resources/primeng.min.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@700&display=swap');


@font-face {
  font-family: 'Digital Numbers Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Digital Numbers Regular'), url('DigitalNumbers-Regular.woff') format('woff');
  }


p, h1, h2, h3, h4, h5, h6, span, a {
  font-family: 'Open Sans',unset;
}

.cormorant-styl {
  font-family: 'Cormorant', serif;
}


.global-main-wraper {
  padding: 0 135px 0 135px;
}

@media (max-width: 1024px) {
  .global-main-wraper {
    padding: 0 10px 0 10px;
  }
}

.margin-0 {
  margin: 0 !important
}


@media screen and (max-width: 991px) {
  .navbar-collapse.collapse[_ngcontent-ng-c87935469]:not(.show) {
      display: none !important;
  }
}

.header-highligted-color {
  color: #242424;
}

.header-blur-color {
  color: #6A6A6A;
}

/* --------  Set Form Fields From Left to Right or Right to Left start --------- */

.mat-form-field-rtl .mat-input-element {
  text-align: right;
}

.mat-form-field-rtl .mat-label {
  text-align: right;
}

/* --------  Set Form Fields From Left to Right or Right to Left end --------- */


/* ------------ Font Sizes Start ------------------- */

.font-size-12 {
  font-size: 12px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-15 {
  font-size: 15px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-22 {
  font-size: 22px;
}

.font-size-24 {
  font-size: 24px;
}

.font-size-28 {
  font-size: 28px;
}

.font-size-30 {
  font-size: 30px;
}

.font-size-35 {
  font-size: 35px;
}

.font-size-40 {
  font-size: 40px;
}

.font-size-50 {
  font-size: 50px;
}

.font-size-56 {
  font-size: 56px;
}

.font-size-64 {
  font-size: 64px;
}

/* ------------ Font Sizes End ------------------- */

/* ------------ Font Weight Start ------------------- */

.font-wight-400 {
  font-weight: 400;
}

.font-wight-500 {
  font-weight: 500;
}

.font-wight-600 {
  font-weight: 600;
}

.font-wight-700 {
  font-weight: 700;
}

.font-wight-bold {
  font-weight: bold;
}

/* ------------ Font Weight End ------------------- */

/* ------------ Colors Start ------------------- */

.color-6a6a6a {
  color: #6a6a6a;
}

.color-484848 {
  color: #484848;
}

.color-636e82 {
  color: #636e82;
}

.color-666666 {
  color: #666666;
}

.color-242424 {
  color: #242424;
}

.color-565656 {
  color: #565656;
}

.color-303a42 {
  color: #303a42;
}

.color-2c3e50 {
  color: #2c3e50;
}

.color-676986 {
  color: #676986;
}

.color-909090 {
  color: #909090;
}

.color-132138 {
  color: #132138;
}

.color-0F172A {
  color: #0F172A;
}

.color-969696 {
  color: #969696;
}





/* ------------ Colors End ------------------- */


.mat-drawer-backdrop.mat-drawer-shown {
  background: none !important;
}

mat-drawer-backdrop.mat-drawer-show{
  background: none !important;
}





/* --------------------------- Login and Register CSS Start ------------------------------- */

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.login-card {
  background-color: #ffffff;
  padding: 40px 40px 0 40px;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.03);
  text-align: center;
  max-width: 550px;
  width: 100%;
  margin: 70px 0 70px 0;
}

h1,
h2 {
  margin: 0;
}

h2 {
  color: #757575;
}

h1 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 16px;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background-color: #242424;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
}

.separator {
  margin: 10px 0;
  font-weight: 600;
  font-size: 18px;
  color: #909090;
}

.social-login {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.social-btn {
  padding: 10px;
  /* border: none; */
  border: 1px solid #E2E8F0 !important;
  cursor: pointer;
  border-radius: 8px;
  font-size: 16px;
  width: 80px;
}

.facebook {
  color: #2d3748;
  background: #ffffff;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.apple {
  color: #2d3748;
  background: #ffffff;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.google {
  background: #ffffff;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  margin-top: 20px;
}

a {
  text-decoration: none;
}


/* Add this CSS to your global stylesheet or component stylesheet */

/* Right-to-left layout for RTL languages */
.rtl {
  direction: rtl;
  text-align: right;
}

/* Left-to-right layout for LTR languages */
.ltr {
  direction: ltr;
  text-align: left;
}




/* --------------------------- Login and Register CSS End ------------------------------- */

.featured-promoted-class-badge {
  background-color: #fff;
  padding: 0 5px 0 5px;
}

#mat-menu-panel-2 {
  max-width: 1000px !important;
  min-width: 60vw !important;
  margin-top: 15px;
  margin-right: 7vw;
  margin-left: 10vw;
}

/* Adjust for screens smaller than 1200px (tablets and below) */
@media screen and (max-width: 1199px) {
  #mat-menu-panel-2 {
      max-width: 90% !important;
      min-width: 90% !important;
      margin-right: 50px; /* Adjust margin for smaller screens */
  }
}

/* Adjust for screens smaller than 768px (mobile devices) */
@media screen and (max-width: 767px) {
  #mat-menu-panel-2 {
      max-width: 95% !important;
      min-width: 95% !important;
      margin-right: 10px; /* Adjust margin for mobile screens */
  }
}


.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  z-index: 9999;
}

.borderless-dialog .login-card {
  padding: 0px;
  overflow: hidden;
}

.hello {
  background-color:rgba(255,255,255,.3);
  backdrop-filter: blur(10px);
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing{
  backdrop-filter: blur(10px) !important;
}