
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import "primeng/resources/themes/saga-blue/theme.css";
@import "primeng/resources/primeng.min.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";


.global-main-wraper {
  padding: 0 135px 0 135px;
}

@media (max-width: 1024px) {
  .global-main-wraper {
    padding: 0 10px 0 10px;
  }
}

.margin-0 {
  margin: 0 !important
}


.header-highligted-color {
  color: #242424;
}

.header-blur-color {
  color: #6A6A6A;
}

/* --------  Set Form Fields From Left to Right or Right to Left start --------- */

.mat-form-field-rtl .mat-input-element {
  text-align: right;
}

.mat-form-field-rtl .mat-label {
  text-align: right;
}

/* --------  Set Form Fields From Left to Right or Right to Left end --------- */


/* ------------ Font Sizes Start ------------------- */

.font-size-12 {
  font-size: 12px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-15 {
  font-size: 15px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-22 {
  font-size: 22px;
}

.font-size-24 {
  font-size: 24px;
}

.font-size-28 {
  font-size: 28px;
}

.font-size-30 {
  font-size: 30px;
}

.font-size-35 {
  font-size: 35px;
}

.font-size-40 {
  font-size: 40px;
}

/* ------------ Font Sizes End ------------------- */

/* ------------ Font Weight Start ------------------- */

.font-wight-400 {
  font-weight: 400;
}

.font-wight-500 {
  font-weight: 500;
}

.font-wight-600 {
  font-weight: 600;
}

.font-wight-700 {
  font-weight: 700;
}

/* ------------ Font Weight End ------------------- */

/* ------------ Colors Start ------------------- */

.color-6a6a6a {
  color: #6a6a6a;
}

.color-484848 {
  color: #484848;
}

.color-636e82 {
  color: #636e82;
}

.color-666666 {
  color: #666666;
}

.color-242424 {
  color: #242424;
}

.color-565656 {
  color: #565656;
}

.color-303a42 {
  color: #303a42;
}

.color-2c3e50 {
  color: #2c3e50;
}

.color-676986 {
  color: #676986;
}

/* ------------ Colors End ------------------- */