
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import "primeng/resources/themes/saga-blue/theme.css";
@import "primeng/resources/primeng.min.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";


.global-main-wraper {
  padding: 0 135px 0 135px;
}

@media (max-width: 1024px) {
  .global-main-wraper {
    padding: 0 10px 0 10px;
  }
}


.header-highligted-color {
  color: #242424;
}

.header-blur-color {
  color: #6A6A6A;
}

/* --------  Set Form Fields From Left to Right or Right to Left start --------- */

.mat-form-field-rtl .mat-input-element {
  text-align: right;
}

.mat-form-field-rtl .mat-label {
  text-align: right;
}

/* --------  Set Form Fields From Left to Right or Right to Left end --------- */