::ng-deep .mat-checkbox > .mdc-form-field > .mdc-label {
  margin-top: 10px;
}

.mat-form-field-focused {
  border-color: #EEEEEE; 
}

.label-header {
  font-size: 16px;
  font-weight: 400;
  color: #242424;
  font-family: 'Open Sans',unset;
}

/* Optional: customize the input text color */
::ng-deep .mat-form-fields-custom-deisgn mat-form-field > .mat-mdc-text-field-wrapper {
  height: 48px;
  border-radius: 6px !important;
  border: 1px solid #EEEEEE;
}

::ng-deep .mat-form-fields-custom-deisgn mat-form-field > .mat-mdc-text-field-wrapper > .mat-mdc-form-field-flex > .mat-mdc-form-field-infix > .mat-mdc-select > .mat-mdc-select-trigger > .mat-mdc-select-value > .mat-mdc-select-value-text {
  font-size: 16px !important;
  font-weight: 400 !important;
  color: #242424 !important;
  line-height: 24px !important;
  font-family: "Open Sans", serif;
}

::ng-deep .category-field .mat-mdc-text-field-wrapper {
  min-height: 80px !important;
  height: fit-content !important;
  max-height: 160px !important;
  border-radius: 6px !important;
  border: 1px solid #EEEEEE !important;
  display: flex;
  align-items: center;
}

::ng-deep .mat-form-fields-custom-deisgn mat-form-field > .mat-mdc-text-field-wrapper > .mat-mdc-form-field-flex > .mdc-notched-outline > .mat-mdc-notch-piece > .mdc-floating-label {
  padding-bottom: 13px !important;
}

::ng-deep .mat-form-fields-custom-deisgn mat-form-field > .mat-mdc-text-field-wrapper > .mat-mdc-form-field-flex > .mdc-notched-outline > .mdc-floating-label > .label-header {
  font-size: 16px !important;
  font-weight: 400 !important;
  color: #242424 !important;
  line-height: 100% !important;
  font-family: "Open Sans", serif;
}

::ng-deep .mat-form-fields-custom-deisgn mat-form-field > .mat-mdc-form-field-subscript-wrapper > .mat-mdc-form-field-error-wrapper > .mat-mdc-form-field-error {
  font-size: 13px !important;
  font-weight: 400 !important;
  line-height: 100% !important;
}


::ng-deep .mat-form-fields-custom-deisgn mat-form-field > .mat-mdc-text-field-wrapper > .mat-mdc-form-field-flex > .mdc-notched-outline > .mat-mdc-notch-piece {
  border: none !important;
  border-color: none !important;
}

::ng-deep .mat-form-fields-custom-deisgn mat-form-field > .mat-mdc-text-field-wrapper > .mat-mdc-form-field-flex > .mat-mdc-form-field-infix > .mat-mdc-input-element {
  font-size: 16px !important;
  font-weight: 400 !important;
  color: #242424 !important;
  line-height: 24px !important;
  /* font-family: "Open Sans", serif; */
}

::ng-deep .mat-form-fields-custom-deisgn mat-form-field input::placeholder {
  font-size: 16px !important;
  font-weight: 400 !important;
  color: #909090 !important;
  line-height: 24px !important;
  /* font-family: "Open Sans", serif; */
}

.mat-chip-text {
  font-size: 16px !important;
  font-weight: 400 !important;
  color: #909090 !important;
  line-height: 24px !important;
  font-family: "Open Sans", serif;
  display: flex;
  align-items: center;
  gap: 5px;
}

::ng-deep .mat-form-fields-custom-deisgn mat-form-field textarea::placeholder {
  font-size: 16px !important;
  font-weight: 400 !important;
  color: #909090 !important;
  line-height: 24px !important;
  font-family: "Open Sans", serif;
}



::ng-deep .mat-form-fields-custom-deisgn mat-form-field .mat-input-element::placeholder {
 font-size: 16px !important;
  font-weight: 400 !important;
  color: #909090 !important;
  line-height: 24px !important;
  font-family: "Open Sans", serif;       
}

::ng-deep .mat-form-fields-custom-deisgn mat-checkbox > .mdc-form-field > .mdc-checkbox > .mdc-checkbox__background {
  border: 1px solid #E5E7EB !important;
  border-radius: 2px !important;
}



/* ::ng-deep .mat-form-fields-custom-deisgn mat-checkbox > .mdc-form-field > .mdc-checkbox > .mdc-checkbox__background {
  background-color: #242424;
} */

::ng-deep .mat-mdc-checkbox.mat-mdc-checkbox-checked .mdc-checkbox__background {
  background-color: #242424 !important;
}

::ng-deep .mat-mdc-checkbox.mat-mdc-checkbox-checked .mdc-checkbox__checkmark-path {
  stroke: #ffffff !important;
}

.panel {
  border: 1px solid #F3F3F3;
  box-shadow: none !important;
}

.inpu-field-left-bar {
    height: 46px;
    background: #dbdbdb;
    display: flex;
    align-items: center;
    width: 87px;
    justify-content: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

::ng-deep .mat-form-fields-custom-deisgn mat-checkbox .mdc-label {
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 14px !important;
  color: #909090 !important;
}

::ng-deep .mat-form-fields-custom-deisgn mat-form-field .mat-input-element:-ms-input-placeholder {
  font-size: 16px;          
  font-weight: 400;        
  color: #909090;          
}

::ng-deep .mat-form-field .mat-input-element::-ms-input-placeholder {
  font-size: 16px;          
  font-weight: 400;         
  color: #909090;           
}