<div class="login-container" style="    min-height: 90vh;
    margin: 0;">
  <div class="login-card mb-3" style="min-height: 345px; padding-bottom: 40px">

    <p class="font-size-28 font-wight-600 margin-0 color-242424">
      {{ "register.changing_pass_label" | translate }}
    </p>
    <p class="font-size-14 font-wight-400 margin-0 color-242424">
      {{ "register.changin_pass_para_two" | translate }}
    </p>

    <form
      [formGroup]="changePassForm"
      class="mt-5 mat-form-fields-custom-deisgn"
    >
      <div
        class="mt-1"
        [dir]="translateService.currentLang === 'en' ? 'ltr' : 'rtl'"
      >
        <mat-form-field appearance="outline" style="width: 100%" *ngIf="!this.resetEmail && !this.resetToken">
          <mat-label>{{ "register.old_password_label" | translate }}</mat-label>
          <input
            matInput
             [type]="hidepass ? 'password' : 'text'"
            placeholder="{{ 'register.old_password' | translate }}"
            required
            formControlName="old_password"
          />
          <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="togglePasswordVisibilityofFirstLogin()"
        >
          <!-- <mat-icon>{{ hidepass ? "visibility_off" : "visibility" }}</mat-icon> -->
          <i [class]="hidepass ?  'fas fa-eye-slash': 'fas fa-eye'"></i>
        </button>
          <mat-error
            *ngIf="changePassForm.get('old_password')?.hasError('required')"
          >
            {{ "register.password_required" | translate }}
          </mat-error>
          <mat-error
            *ngIf="changePassForm.get('old_password')?.hasError('minlength')"
          >
            {{ "register.password_minlength" | translate }}
          </mat-error>
          <mat-error
            *ngIf="changePassForm.get('old_password')?.hasError('maxlength')"
          >
            {{ "register.password_maxlength" | translate }}
          </mat-error>
        </mat-form-field>
      </div>

       <div
        class="mt-1"
        [dir]="translateService.currentLang === 'en' ? 'ltr' : 'rtl'"
      >
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>{{ "register.new_password_label" | translate }}</mat-label>
          <input
            matInput
             [type]="hidenewpass ? 'password' : 'text'"
            placeholder="{{ 'register.new_password_place' | translate }}"
            required
            formControlName="new_password"
          />
          <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="toggleNewPassword()"
        >
          <!-- <mat-icon>{{ hidenewpass ? "visibility_off" : "visibility" }}</mat-icon> -->
          <i [class]="hidenewpass ?  'fas fa-eye-slash': 'fas fa-eye'"></i>
        </button>
          <mat-error
            *ngIf="changePassForm.get('new_password')?.hasError('required')"
          >
            {{ "register.password_required" | translate }}
          </mat-error>
          <mat-error
            *ngIf="changePassForm.get('new_password')?.hasError('minlength')"
          >
            {{ "register.password_minlength" | translate }}
          </mat-error>
          <mat-error
            *ngIf="changePassForm.get('new_password')?.hasError('maxlength')"
          >
            {{ "register.password_maxlength" | translate }}
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Confirm Password Field -->
      <div
        class="mt-1"
        [dir]="translateService.currentLang === 'en' ? 'ltr' : 'rtl'"
      >
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>{{ "register.new_password_confirmation" | translate }}</mat-label>
          <input
            matInput
             [type]="hideconfirmpass ? 'password' : 'text'"
            placeholder="{{ 'register.confirm_password_required' | translate }}"
            required
            formControlName="new_password_confirmation"
          />
          <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="toggleConfirmPassword()"
        >
          <!-- <mat-icon>{{ hidepass ? "visibility_off" : "visibility" }}</mat-icon> -->
          <i [class]="hideconfirmpass ?  'fas fa-eye-slash': 'fas fa-eye'"></i>
        </button>
          <mat-error
            *ngIf="
              changePassForm.get('new_password_confirmation')?.hasError('required')
            "
          >
            {{ "register.confirm_password_required" | translate }}
          </mat-error>
         <mat-error
            *ngIf="changePassForm.get('new_password_confirmation')?.hasError('mismatch')"
          >
            {{ "register.password_mismatch" | translate }}
          </mat-error>

        </mat-form-field>
      </div>
    </form>

    <button
      class="login-btn mt-1"
      type="submit"
      (click)="changePassword()"
    >
      {{ "register.change_pass_btn" | translate }}
    </button>
  </div>
</div>

